p {
  line-height: normal;
  margin: 0;
}

strong {
  font-size: 14px;
  white-space: nowrap;
  margin-right: 10px;
}

.group-description {
  margin: 32px 0;
}

.accordion-subtext {
  font-weight: normal;
  font-size: 16px;
}
