@use 'mixins' as *;

:host ::ng-deep {
  .line-column {
    --col-width: 14%;
    & > span {
      white-space: nowrap;
    }
  }
  .type-column,
  .name-column {
    --col-width: 26.6%;
  }
  .amount-column {
    --col-width: 18.8%;
  }
  .date-column,
  .memo-column,
  .aggregate-column,
  .transaction-id-column,
  .associated-with-column {
    display: none;
  }
  .actions-column {
    --col-width: 14%;
  }

  @media (min-width: $md) {
    .line-column,
    .actions-column {
      --col-width: 10.2%;
    }
    .type-column,
    .name-column {
      --col-width: 26.2%;
    }
    .date-column {
      display: table-cell;
    }
    .amount-column,
    .date-column {
      --col-width: 13.6%;
    }
  }

  @media (min-width: $lg) {
    .line-column,
    .actions-column {
      --col-width: 8.5%;
    }
    .type-column {
      --col-width: 19.4%;
    }
    .name-column {
      --col-width: 17.8%;
    }
    .date-column,
    .amount-column {
      --col-width: 11.3%;
    }
    .memo-column {
      display: table-cell;
      --col-width: 10%;
    }
    .aggregate-column {
      display: table-cell;
      --col-width: 13.2%;
    }
  }

  @media (min-width: $xxl) {
    .line-column,
    .actions-column {
      --col-width: 6.8%;
    }
    .type-column,
    .name-column {
      --col-width: 25.9%;
    }
    .date-column,
    .amount-column {
      --col-width: 9.1%;
    }
    .memo-column {
      --col-width: 7.6%;
    }
    .aggregate-column {
      --col-width: 10.8%;
    }
    .transaction-id-column {
      display: table-cell;
      --col-width: 12%;
    }
    .associated-with-column {
      display: table-cell;
      --col-width: 13.5%;
    }
  }
}
