<div class="field date-picker-field" [attr.data-cy]="calendarFieldDataCy()">
  <span class="span-label" id="date_picker_label" [attr.data-cy]="calendarLabelDataCy()" [innerHTML]="label()"></span>
  <p-datepicker
    appendTo="body"
    (onFocus)="calendarOpened = true"
    (onClose)="validateDate(false)"
    (onBlur)="validateDate(calendarOpened)"
    [inputId]="fieldName()"
    [name]="fieldName()"
    [formControl]="control()!"
    [attr.data-cy]="calendarDataCy()"
    [showIcon]="true"
    [iconDisplay]="'input'"
    ariaLabelledBy="date_picker_label"
  >
    <ng-template #inputicon let-clickCallBack="clickCallBack">
      <div
        class="calendar-icon-mask"
        aria-label="Calendar"
        [attr.data-cy]="calendarIconDataCy()"
        (click)="clickCallBack($event)"
        (keypress)="clickCallBack($event)"
      ></div>
    </ng-template>
  </p-datepicker>
  @if (control() && showErrors()) {
    <app-error-messages
      [form]="form()"
      [control]="control()"
      [formSubmitted]="formSubmitted()"
      [requiredErrorMessage]="requiredErrorMessage()"
      [dataCyContext]="dataCyContext()"
      [fieldName]="fieldName()"
    />
  }
</div>
