@use 'mixins' as *;

:host ::ng-deep {
  .p-datatable-header {
    padding-top: 48px;
  }
  .sub-transaction-dropdown {
    background-color: #fdb838;
  }

  .sub-transaction-dropdown-panel {
    background-color: #f1f1f1;
    color: #000000;
  }

  .p-toolbar {
    border-bottom: 2px solid !important;
    padding-bottom: 8px;
  }

  .p-datatable-table-container {
    box-shadow: -10px 0 20px -10px #d6d7d9 inset;
  }

  .p-datatable-thead > tr > th,
  .p-datatable-tbody tr:nth-child(odd) {
    background-color: transparent;
  }
  .p-datatable-thead > tr > th.p-highlight {
    background-color: rgba(70, 71, 73, 0.2);
  }

  .p-datatable-tbody tr:nth-child(even) {
    background-color: rgba(220, 220, 220, 0.2);
  }

  .p-datatable {
    @include fixed-width(512px);
    margin: 0 auto;
    table-layout: fixed;
  }

  .name-column {
    @include fixed-width(50%);
  }
  .amount-column {
    @include fixed-width(36%);
  }
  .actions-column {
    @include fixed-width(14%);
  }

  @include breakpoint('md') {
    .p-datatable {
      @include fixed-width(704px);
    }

    .amount-column {
      @include fixed-width(40%);
    }
    .actions-column {
      @include fixed-width(10%);
    }
  }

  @include breakpoint('lg') {
    .p-datatable {
      @include fixed-width(644px);
    }

    .amount-column {
      @include fixed-width(39%);
    }
    .actions-column {
      @include fixed-width(11%);
    }
  }

  @include breakpoint('xl') {
    .p-datatable {
      @include fixed-width(852px);
    }

    .amount-column {
      @include fixed-width(43.5%);
    }
    .actions-column {
      @include fixed-width(8.5%);
    }
  }

  @include breakpoint('xxl') {
    .p-datatable {
      @include fixed-width(1052px);
    }

    .amount-column {
      @include fixed-width(43.2%);
    }
    .actions-column {
      @include fixed-width(6.8%);
    }
  }
}

.gandhi-bold {
  font-family: var(--gandhi-bold);
  color: #212121;
}

.size-36 {
  font-size: 36px;
}

.size-24 {
  font-size: 24px;
}

.subtitle {
  font-family: var(--karla-bold);
  font-size: 14px;
  color: #212121;
  padding-top: 8px;
}

.top-margin-32 {
  margin-top: 32px;
}

.read-only-tag {
  font-family: var(--karla);
  color: gray;
  text-transform: uppercase;
  margin-bottom: 2.5em;
}

.confirm-footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.float-right {
  float: right;
}

hr {
  margin: 0.5rem 0.5rem 1rem 0;
  color: inherit;
  border: 0;
  border-top: 2px solid;
  opacity: 1;
}

.transaction-type-footer {
  font-style: italic;
}

.transaction-list {
  max-width: 1500px;
}

.candidate_committee_lookup {
  padding-bottom: 30px;
}
