:host ::ng-deep {
  .p-datatable-header {
    padding-top: 48px !important;
  }

  .p-accordionheader {
    padding: 0 20px 0 0;
    min-height: 48px;
  }

  .accordion-number-icon {
    height: 64px;
    width: 64px;
    padding: 8px 10px;
    flex-shrink: 0;
  }

  .accordion-content-wrapper {
    padding: 14px 0;
  }

  .accordion-header-wrapper {
    line-height: 20px;
  }
}

.read-only-tag {
  font-family: var(--karla);
  color: gray;
  text-transform: uppercase;
  margin-bottom: 2.5em;
}

.candidate_committee_lookup {
  padding-bottom: 30px;
}
