@if (committeeID()) {
  <div class="mb-7">
    <div class="committee-name">{{ committeeName() }}</div>
    <div class="committee-info" aria-label="Committee Status">
      <div
        class="pi pi-circle-on status-circle"
        [style.color]="frequencyColor()"
        [attr.aria-label]="committeeStatus()"
      ></div>
      <div class="sub-banner-item">{{ committeeFrequency() }}</div>
      |
      <div class="sub-banner-item">{{ committeeTypeLabel() }}</div>
      |
      <div class="sub-banner-item">ID: {{ committeeID() }}</div>
    </div>
  </div>
}
