@use 'mixins' as *;

:host::ng-deep {
  .p-accordion {
    position: relative;
  }

  .p-accordion::before {
    content: '';
    display: block;
    height: 2px;
    background-color: #121212;
  }

  .p-accordionpanel {
    border-bottom: 1px solid #121212;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .p-accordionpanel-active > .p-accordionheader {
    border-bottom: 1px solid #121212;
  }

  .p-accordionheader {
    --p-accordion-header-last-bottom-border-radius: 0;
    --p-accordion-header-first-top-border-radius: 0;
    padding: 0 20px 0 0;
    min-height: 48px;
    display: flex;
    align-items: center;
  }

  .p-icon {
    display: none;
  }

  .accordion-number-icon {
    height: 64px;
    width: 64px;
    padding: 8px 10px;
    flex-shrink: 0;
  }

  .accordion-content-wrapper {
    padding: 14px 0;
    border: none;
  }

  .accordion-content-wrapper a,
  .accordion-content-wrapper .disabled {
    font-size: 14px;
    text-align: left;
  }

  .accordion-header-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    line-height: 20px;
  }

  .accordion-icon {
    width: 20px;
    height: 20px;
    margin-left: auto;
  }

  .content-area {
    @include standard-container();
  }
}

p {
  line-height: normal;
  margin: 0;
}

strong {
  font-size: 14px;
  white-space: nowrap;
  margin-right: 10px;
}

.group-description {
  margin: 32px 0;
}

.accordion-subtext {
  font-weight: normal;
  font-size: 16px;
}
