:host::ng-deep {
  .p-accordionheader {
    padding: 10px 20px;
    max-height: 36px;
  }
}

.accordion-content-wrapper {
  padding: 14px 0 14px 20px;
}

.disabled {
  opacity: 0.5;
  user-select: none;
}

h1 {
  margin-bottom: 18px;
}
