@use 'mixins' as *;

:host::ng-deep {
  .p-accordion {
    position: relative;
  }

  .p-accordion::before {
    content: '';
    display: block;
    height: 2px;
    background-color: #121212;
  }

  .p-accordionpanel {
    border-bottom: 1px solid #121212;
  }

  .p-accordionheader {
    --p-accordion-header-last-bottom-border-radius: 0;
    --p-accordion-header-first-top-border-radius: 0;
    padding: 10px 20px;
    min-height: 36px;
    display: flex;
    align-items: center;
  }

  .p-icon {
    display: none;
  }

  .p-accordion-header-link {
    padding: 0;
  }

  .p-accordion-content {
    padding: 0;
  }

  .content-accordion-wrapper {
    padding-left: 20px;
    border: none;
  }

  .content-accordion-wrapper a,
  .content-accordion-wrapper .disabled {
    font-size: 14px;
    text-align: left;
  }

  .content-area {
    @include fixed-width(512px);
  }

  .header-label {
    flex: 1;
    text-align: left;
  }

  .accordion-icon {
    order: 1;
    width: 20px;
    height: 20px;
    margin-left: auto;
    margin-right: 20px;
  }

  @include breakpoint('md') {
    .content-area {
      @include fixed-width(704px);
    }
  }

  @include breakpoint('lg') {
    .content-area {
      @include fixed-width(852px);
    }
  }

  @include breakpoint('xl') {
    .content-area {
      @include fixed-width(852px);
    }
  }

  @include breakpoint('xxl') {
    .content-area {
      @include fixed-width(1052px);
    }
  }
}

.disabled {
  opacity: 0.5;
  user-select: none;
}

h1 {
  margin-bottom: 18px;
}
