<h1>Account Info</h1>
<p-divider></p-divider>
<div>
  <div class="grid">
    <div class="col-12">
      <h3>Committee Info</h3>
    </div>
  </div>
  <div class="grid">
    <div class="col-3">
      <div class="field">
        <h4>COMMITTEE ID</h4>
        <p>
          {{ (committeeAccount$ | async)?.committee_id }}
        </p>
      </div>
    </div>
    <div class="col-3">
      <div class="field">
        <h4>COMMITTEE NAME</h4>
        <p>
          {{ (committeeAccount$ | async)?.name }}
        </p>
      </div>
    </div>
    <div class="col-3">
      <div class="field">
        <h4>TYPE OF COMMITTEE</h4>
        <p>
          {{ (committeeAccount$ | async)?.committee_type_full }}
        </p>
      </div>
    </div>
  </div>
</div>

<p-divider></p-divider>

<div>
  <div class="grid">
    <div class="col-12">
      <h3>Committee Address</h3>
    </div>
  </div>
  <div class="grid">
    <div class="col-3">
      <div class="field">
        <h4>ADDRESS</h4>
        <p>
          {{ (committeeAccount$ | async)?.street_1 }}
        </p>
      </div>
    </div>
    <div class="col-9">
      <div class="field">
        <h4>APPARTMENT, SUITE, ETC.</h4>
        <p>
          {{ (committeeAccount$ | async)?.street_2 }}
        </p>
      </div>
    </div>
    <div class="col-3">
      <div class="field">
        <h4>CITY</h4>
        <p>
          {{ (committeeAccount$ | async)?.city }}
        </p>
      </div>
    </div>
    <div class="col-3">
      <div class="field">
        <h4>STATE/PROVINCE</h4>
        <p>
          {{ (committeeAccount$ | async)?.state }}
        </p>
      </div>
    </div>
    <div class="col-6">
      <div class="field">
        <h4>ZIP/POSTAL CODE</h4>
        <p>
          {{ (committeeAccount$ | async)?.zip }}
        </p>
      </div>
    </div>
    <div class="col-3 long-word-value">
      <div class="field">
        <h4>EMAIL</h4>
        <p>
          {{ (committeeAccount$ | async)?.email }}
        </p>
      </div>
    </div>
    <div class="col-9 long-word-value">
      <div class="field">
        <h4>WEBSITE</h4>
        <p>
          {{ (committeeAccount$ | async)?.website }}
        </p>
      </div>
    </div>
  </div>
</div>

<p-divider></p-divider>

<div>
  <div class="grid">
    <div class="col-12">
      <h3>Treasurer</h3>
    </div>
  </div>
  <div class="grid">
    <div class="col-3">
      <div class="field">
        <h4>FIRST NAME</h4>
        <p>
          {{ (committeeAccount$ | async)?.treasurer_name_1 }}
        </p>
      </div>
    </div>
    <div class="col-9">
      <div class="field">
        <h4>LAST NAME</h4>
        <p>
          {{ (committeeAccount$ | async)?.treasurer_name_2 }}
        </p>
      </div>
    </div>
    <div class="col-3">
      <div class="field">
        <h4>ADDRESS</h4>
        <p>
          {{ (committeeAccount$ | async)?.treasurer_street_1 }}
        </p>
      </div>
    </div>
    <div class="col-9">
      <div class="field">
        <h4>APPARTMENT, SUITE, ETC.</h4>
        <p>
          {{ (committeeAccount$ | async)?.treasurer_street_2 }}
        </p>
      </div>
    </div>
    <div class="col-3">
      <div class="field">
        <h4>CITY</h4>
        <p>
          {{ (committeeAccount$ | async)?.treasurer_city }}
        </p>
      </div>
    </div>
    <div class="col-3">
      <div class="field">
        <h4>STATE/PROVINCE</h4>
        <p>
          {{ (committeeAccount$ | async)?.treasurer_state }}
        </p>
      </div>
    </div>
    <div class="col-6">
      <div class="field">
        <h4>ZIP/POSTAL CODE</h4>
        <p>
          {{ (committeeAccount$ | async)?.treasurer_zip }}
        </p>
      </div>
    </div>
    <div class="col-3">
      <div class="field">
        <h4>TELEPHONE</h4>
        <p>
          {{ (committeeAccount$ | async)?.treasurer_phone }}
        </p>
      </div>
    </div>
  </div>
</div>

<p-divider></p-divider>

<div>
  <div class="grid">
    <div class="col-12">
      <h3>Custodian</h3>
    </div>
  </div>
  <div class="grid">
    <div class="col-3">
      <div class="field">
        <h4>CUSTODIAN OF RECORDS</h4>
        <p>
          {{ (committeeAccount$ | async)?.custodian_name_full }}
        </p>
      </div>
    </div>
  </div>
</div>
<p-divider></p-divider>
<div class="account-info-footer grid">
  <div class="col-12">
    <p>You can only view your committee's information on this page.</p>
  </div>
  <div class="col-12">
    <div class="px-2">
      <button
        pButton
        label="View Full Committee Info From Form 3X"
        class="p-button-secondary"
        (click)="viewF3X()"
      ></button>
    </div>
    <div class="px-2">
      <button
        pButton
        label="Update Committee Info Using Form 1"
        class="p-button-primary"
        (click)="updateForm1()"
      ></button>
    </div>
  </div>
</div>
