<div [formGroup]="form">
  <div class="grid">
    <div class="col-2">
      <p-radioButton
        name="support_oppose_code"
        [value]="'S'"
        label="SUPPORT"
        formControlName="support_oppose_code"
        ariaLabel="support candidate"
        [class]="control?.invalid && (formSubmitted || control?.dirty || control?.touched) ? 'ng-invalid ng-dirty' : ''"
      ></p-radioButton>
    </div>
    <div class="col-2">
      <p-radioButton
        name="support_oppose_code"
        [value]="'O'"
        label="OPPOSE"
        formControlName="support_oppose_code"
        ariaLabel="oppose candidate"
        [class]="control?.invalid && (formSubmitted || control?.dirty || control?.touched) ? 'ng-invalid ng-dirty' : ''"
      ></p-radioButton>
    </div>
  </div>
  <div class="grid">
    <div class="col-12">
      <app-error-messages
        [form]="form"
        fieldName="support_oppose_code"
        [formSubmitted]="formSubmitted"
        patternErrorMessage="An answer is required"
      ></app-error-messages>
    </div>
  </div>
</div>
