<div [formGroup]="form()">
  <div class="field-row" data-cy="support_oppose_code">
    <div class="col-2 flex align-items-center">
      <p-radioButton
        name="support_oppose_code"
        inputId="support"
        value="S"
        formControlName="support_oppose_code"
        ariaLabel="support candidate"
      ></p-radioButton>
      <label for="support" class="ml-2">SUPPORT</label>
    </div>
    <div class="col-2 flex align-items-center">
      <p-radioButton
        inputId="oppose"
        name="support_oppose_code"
        value="O"
        formControlName="support_oppose_code"
        ariaLabel="oppose candidate"
      ></p-radioButton>
      <label for="oppose" class="ml-2">OPPOSE</label>
    </div>
  </div>
  <div class="grid">
    <div class="col-12">
      <app-error-messages
        [control]="form().get('support_oppose_code')!"
        [formSubmitted]="formSubmitted()"
        patternErrorMessage="An answer is required"
      ></app-error-messages>
    </div>
  </div>
</div>
