* {
  --input-height: 36px;
  --input-font-height: 14px;
}

img {
  margin-left: 10px;
}

:host ::ng-deep {
  .p-select-list {
    font-size: 14px;
  }

  .p-select .p-select-label {
    font-family: var(--karla);
    font-size: 14px;
  }

  .dialog-label {
    display: inline-block;
  }
}
