.w-full {
  height: 36px;
}

img {
  margin-left: 10px;
}

:host ::ng-deep {
  .p-select-list {
    font-size: 14px;
  }

  .p-select .p-select-label {
    font-family: var(--karla);
    font-size: 14px;
  }
}
