<div [formGroup]="form">
  <div class="grid">
    <div class="col-4">
      <div class="field">
        <label for="amount">ORIGINAL AMOUNT</label>
        <p-inputNumber
          [formControlName]="templateMap['amount']"
          [inputStyleClass]="readonly ? 'readonly' : ''"
          [readonly]="readonly"
          currency="USD"
          inputId="amount"
          locale="en-US"
          mode="currency"
        ></p-inputNumber>
        <app-error-messages
          [fieldName]="templateMap['amount']"
          [formSubmitted]="formSubmitted"
          [form]="form"
        ></app-error-messages>
      </div>
    </div>
    <div class="col-4">
      <div class="field">
        <label for="payment_to_date">PAYMENT TO DATE</label>
        <p-inputNumber
          [formControlName]="templateMap['payment_to_date']"
          [readonly]="true"
          currency="USD"
          inputId="payment_to_date"
          inputStyleClass="readonly"
          locale="en-US"
          mode="currency"
        ></p-inputNumber>
        <app-error-messages
          [fieldName]="templateMap['payment_to_date']"
          [formSubmitted]="formSubmitted"
          [form]="form"
        ></app-error-messages>
      </div>
    </div>
    <div class="col-4">
      <div class="field">
        <label for="balance">BALANCE OUTSTANDING</label>
        <p-inputNumber
          [formControlName]="templateMap['balance']"
          [readonly]="true"
          currency="USD"
          inputId="balance"
          inputStyleClass="readonly"
          locale="en-US"
          mode="currency"
        ></p-inputNumber>
        <app-error-messages
          [fieldName]="templateMap['balance']"
          [formSubmitted]="formSubmitted"
          [form]="form"
        ></app-error-messages>
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="col-12">
      <div class="field">
        <app-memo-code
          [formSubmitted]="formSubmitted"
          [form]="form"
          [overrideMemoItemHelpText]="memoItemHelpText"
          [templateMap]="templateMap"
          [transaction]="transaction"
          checkboxLabel="MEMO ITEM (OPTIONAL)"
        ></app-memo-code>
      </div>
    </div>
  </div>
</div>
