@switch (sortOrder) {
  @case (0) {
    <img
      alt="default sort icon"
      src="/assets/img/sort_default_icon.svg"
      data-cy="shared-table-sort-icon-default-image"
    />
  }
  @case (1) {
    <img
      alt="ascending sort icon"
      src="/assets/img/sort_asc_icon.svg"
      data-cy="shared-table-sort-icon-ascending-image"
    />
  }
  @case (-1) {
    <img
      alt="descending sort icon"
      src="/assets/img/sort_desc_icon.svg"
      data-cy="shared-table-sort-icon-descending-image"
    />
  }
}
