@if (showBanner()) {
  <section class="environment-banner" [style.backgroundColor]="bannerConfig!.color">
    <div class="content">
      <div class="text">
        <div class="title">
          {{ bannerConfig!.title }}
        </div>

        <div class="subtitle">
          {{ subtitle }}
        </div>
      </div>

      <button class="rounded-image-button" (click)="dismiss()" aria-label="Dismiss environment banner">
        <svg class="transparent-grey" alt="Dismiss environment banner">
          <use href="assets/img/x-circle.svg#x-icon"></use>
        </svg>
      </button>
    </div>
  </section>
}
