.environment-banner {
  height: 64px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-family: var(--karla-bold);
  font-size: 16px;
  text-transform: uppercase;
}

.subtitle {
  font-family: var(--karla);
  font-size: 16px;
}
