::ng-deep {
  .app-tooltip {
    --p-tooltip-gutter: 0.5rem;
    --p-tooltip-max-width: 300px;
  }
  .app-tooltip .p-tooltip-text {
    border: 2px solid #112e51;
    padding: 15px;
    color: #112e51;
    text-align: left;
  }
  .app-tooltip .p-tooltip-arrow::after {
    border: inherit;
    content: '';
    position: relative;
    margin: inherit;
  }

  .app-tooltip-topright .p-tooltip-arrow {
    border-top-color: #112e51 !important;
    left: 25px !important;
  }
  .app-tooltip-topright .p-tooltip-arrow::after {
    border-top-color: white;
    left: 0;
    bottom: 3px;
  }

  .app-tooltip-topleft .p-tooltip-arrow {
    border-top-color: #112e51 !important;
    left: 275px !important;
  }
  .app-tooltip-topleft .p-tooltip-arrow::after {
    border-top-color: white;
    left: 0;
    bottom: 3px;
  }

  .app-tooltip-bottomright .p-tooltip-arrow {
    border-bottom-color: #112e51 !important;
    left: 25px !important;
  }
  .app-tooltip-bottomright .p-tooltip-arrow::after {
    border-bottom-color: white;
    left: 0;
    top: -16px;
  }

  .app-tooltip-bottomleft .p-tooltip-arrow {
    border-bottom-color: #112e51 !important;
    left: 275px !important;
  }
  .app-tooltip-bottomleft .p-tooltip-arrow::after {
    border-bottom-color: white;
    left: 0;
    top: -16px;
  }
}
