.empty-message {
  height: 64px;
  padding: 0 16px;
}

.responsive-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
}

.paginator-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.stacked-paginator {
  flex-direction: column !important;
}

:host ::ng-deep.custom-paginator-dropdown {
  margin-left: 0.5rem !important;
  height: 2.357rem !important;
}
:host ::ng-deep.custom-paginator-dropdown > .p-select > .p-select-label {
  line-height: 1 !important;
  padding-right: 0 !important;
}

.paginator-text {
  font-family: var(--karla);
  font-size: 1rem;
  font-weight: normal;
}

h1 {
  line-height: 1;
}

@media (max-width: 767px) {
  .paginator-container {
    flex-direction: column !important;
  }
  .paginator-container div:last-child {
    margin-top: 32px;
    flex-direction: column-reverse;
  }
}

h2 {
  font-size: 32px;
  font-weight: 700;
}

#header-checkbox {
  width: 3rem;
}
