:host::ng-deep {
  td,
  th {
    border: 1px solid #f1f1f1;
    padding: 10px;
    font-size: 14px;
    text-align: left;
    &:first-child {
      border-left: 0;
    }
    &:last-child {
      border-right: 0;
    }
  }

  th {
    border-width: 2px 1px;
    border-block-color: var(--p-content-color);
    &.p-datatable-column-sorted {
      background: var(--surface-border) !important;
      color: var(--p-content-color);
    }
  }

  tr:nth-child(2n) {
    background: #f8f8f8;
  }

  .p-datatable-header {
    border: 0;
  }

  .p-datatable-tfoot {
    border-block: 2px solid var(--p-content-color);
    padding: 10px;
  }

  .p-paginator {
    min-width: 167px;
    margin-left: 4px;

    &.p-paginator-page,
    & > button {
      border: 1px solid var(--surface-border);
      transition: box-shadow 0.15s;
    }

    & > button {
      background-color: var(--fec-grey-alt);
      color: var(--p-content-color);
      &:not(.p-disabled):not(.p-highlight):hover {
        background: var(--surface-hover);
        border-color: #8c8e92;
        color: var(--p-primary-color);
      }
    }
  }

  .p-paginator-page {
    border: 1px solid var(--surface-border);
    border-radius: 8px !important;
    background: var(--p-content-background);
    min-width: 2.357rem;
    height: 2rem;
    color: var(--primary-color);

    &.p-paginator-page-selected {
      background: var(--p-primary-color);
      border-color: var(--p-primary-color);
      color: var(--primary-color-text);
    }
    &:not(.p-highlight):hover {
      background: var(--surface-hover);
      border-color: var(--surface-border);
      color: var(--p-primary-color);
    }
  }

  .custom-paginator-dropdown {
    height: 2.357rem !important;
  }
}

.responsive-container {
  width: fit-content;
}

.paginator-container {
  @media (max-width: 767.98px) {
    flex-direction: column !important;

    div:last-child {
      margin-top: 32px;
      flex-direction: column-reverse;
    }
  }
}
