<p-table
  #dt
  dataKey="id"
  [(selection)]="selectedItems"
  [(rows)]="rowsPerPage"
  [(first)]="first"
  [value]="items()"
  [totalRecords]="totalItems()"
  [loading]="loading()"
  [globalFilterFields]="globalFilterFields()"
  [currentPageReportTemplate]="currentPageReportTemplate()"
  [sortField]="sortField()"
  [sortOrder]="sortOrder() === 'asc' ? 1 : -1"
  [lazy]="true"
  [lazyLoadOnInit]="false"
  [showCurrentPageReport]="true"
  (onSort)="updateSort($event)"
  stripedRows
  showGridlines
  [pt]="{ root: 'standard-container' }"
>
  <ng-template pTemplate="caption">
    @if (caption()) {
      <p-toolbar>
        <ng-template pTemplate="left">
          <h1 class="m-0">{{ title() }}</h1>
        </ng-template>
        <ng-template pTemplate="right">
          <ng-container *ngTemplateOutlet="caption()!" />
        </ng-template>
      </p-toolbar>
    } @else {
      <div class="flex align-items-center justify-content-between">
        <h2 class="m-0">{{ title() }}</h2>
      </div>
    }
  </ng-template>
  <ng-template pTemplate="header">
    <tr role="row">
      @for (col of columns(); track col) {
        <th
          [pSortableColumn]="col.sortable ? col.field : undefined"
          [ngClass]="col.cssClass"
          [id]="col.field + '-column'"
        >
          @if (col.checkbox) {
            <p-tableHeaderCheckbox ariaLabel="Restore" />
            <span class="sr-only">Restore Checkbox</span>
          } @else {
            <div class="flex justify-content-between">
              <span>{{ col.header }}</span>
              @if (col.sortable) {
                <p-sortIcon [field]="col.field" />
              }
            </div>
          }
        </th>
      }

      <!-- This can go away after full transition to ColumnDefinition method -->
      <ng-container *ngTemplateOutlet="header()!" />
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr role="row" [ngClass]="item.rowClass">
      <!-- This can go away after full transition to ColumnDefinition method -->

      @for (col of columns(); track col) {
        <td [ngClass]="col.cssClass">
          @if (col.checkbox) {
            <p-tableCheckbox [value]="item" [ariaLabel]="col.label!(item)" />
          } @else {
            @if (col.bodyTpl) {
              <ng-container *ngTemplateOutlet="col.bodyTpl; context: { $implicit: item, rowActions: col.actions }" />
            } @else {
              <span>{{ item[col.field] | dynamic: col.pipes : col.pipeArgs }}</span>
            }
          }
        </td>
      }

      <!-- This can go away after full transition to ColumnDefinition method -->
      <ng-container *ngTemplateOutlet="body()!; context: { $implicit: item }" />
    </tr>
  </ng-template>
  @if (showPaginationControls()) {
    <ng-template pTemplate="summary">
      <div class="paginator-container">
        <div class="responsive-container">
          <span class="paginator-text">Results per page:</span>
          <p-select [options]="paginationPageSizeOptions" [(ngModel)]="rowsPerPage" appendTo="body">
            <ng-template pTemplate="dropdownicon">
              <svg alt="dropdown icon" width="14" height="14" class="rotate-90">
                <use href="assets/img/arrow.svg#arrow"></use>
              </svg>
            </ng-template>
          </p-select>
        </div>
        <div class="responsive-container">
          <span class="paginator-text">{{ showing() }}:</span>
          <p-paginator
            [rows]="rowsPerPage()"
            [totalRecords]="totalItems()"
            [first]="first()"
            (onPageChange)="changePage($event)"
          >
            <ng-template pTemplate="firstpagelinkicon">
              <svg alt="first page icon" width="14" height="14" class="rotate-180">
                <use href="assets/img/last-arrow.svg#last-arrow"></use>
              </svg>
            </ng-template>
            <ng-template pTemplate="previouspagelinkicon">
              <svg alt="previous page icon" width="14" height="14" class="rotate-180">
                <use href="assets/img/arrow.svg#arrow"></use>
              </svg>
            </ng-template>
            <ng-template pTemplate="nextpagelinkicon">
              <svg alt="next page icon" width="14" height="14">
                <use href="assets/img/arrow.svg#arrow"></use>
              </svg>
            </ng-template>
            <ng-template pTemplate="lastpagelinkicon">
              <svg alt="last page icon" width="14" height="14">
                <use href="assets/img/last-arrow.svg#last-arrow"></use>
              </svg>
            </ng-template>
          </p-paginator>
        </div>
      </div>
    </ng-template>
  }
  <ng-template pTemplate="sorticon" let-sortOrder>
    <app-table-sort-icon [sortOrder]="sortOrder" />
  </ng-template>
  <ng-template pTemplate="paginatorleft">
    <div class="responsive-container">
      <span>Results per table:</span>
      <p-select [options]="paginationPageSizeOptions" [(ngModel)]="rowsPerPage">
        <ng-template pTemplate="dropdownicon">
          <svg alt="dropdown icon" width="14" height="14" class="rotate-90">
            <use href="assets/img/arrow.svg#arrow"></use>
          </svg>
        </ng-template>
      </p-select>
    </div>
  </ng-template>
  <ng-template pTemplate="paginatorfirstpagelinkicon">
    <svg alt="first page icon" width="14" height="14" class="rotate-180">
      <use href="assets/img/last-arrow.svg#last-arrow"></use>
    </svg>
  </ng-template>
  <ng-template pTemplate="paginatorpreviouspagelinkicon">
    <svg alt="previous page icon" width="14" height="14" class="rotate-180">
      <use href="assets/img/arrow.svg#arrow"></use>
    </svg>
  </ng-template>
  <ng-template pTemplate="paginatornextpagelinkicon">
    <svg alt="next page icon" width="14" height="14">
      <use href="assets/img/arrow.svg#arrow"></use>
    </svg>
  </ng-template>
  <ng-template pTemplate="paginatorlastpagelinkicon">
    <svg alt="last page icon" width="14" height="14">
      <use href="assets/img/last-arrow.svg#last-arrow"></use>
    </svg>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <td colspan="100" class="mx-3 empty-message">{{ emptyMessage() }}</td>
  </ng-template>
</p-table>
