@use 'mixins' as *;

:host::ng-deep {
  .custom-paginator-dropdown {
    height: 2.357rem !important;
  }

  .custom-paginator-dropdown > .p-select > .p-select-label {
    line-height: 1 !important;
    padding-right: 0 !important;
  }

  .p-datatable {
    @include standard-container();
  }
}

.empty-message {
  height: 64px;
  padding: 0 16px;
}

.responsive-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
}

.paginator-container {
  align-items: center;
  display: flex;
  justify-content: space-between;

  @media (max-width: 767.98px) {
    flex-direction: column !important;

    div:last-child {
      margin-top: 32px;
      flex-direction: column-reverse;
    }
  }
}

.stacked-paginator {
  flex-direction: column !important;
}

.paginator-text {
  font-family: var(--karla);
  font-size: 1rem;
  font-weight: normal;
  margin-right: 0.5rem;
}

h1 {
  line-height: 1;
}

h2 {
  font-size: 32px;
  font-weight: 700;
}

#header-checkbox {
  width: 3rem;
}
