<div [formGroup]="form">
  <ng-container *ngIf="transaction?.transactionType?.hasDate()">
    <div *ngIf="templateMap['date2']" class="grid">
      <div class="col-12">
        <em>Only one date is required, but both dates can be entered.</em>
      </div>
    </div>
    <div class="grid">
      <div *ngIf="templateMap['date2']" class="col-4">
        <div class="field">
          <label for="date2">{{ transaction?.transactionType?.date2Label }}</label>
          <p-calendar [formControlName]="templateMap['date2']" inputId="date2" name="date2"></p-calendar>
          <app-error-messages
            [fieldName]="templateMap['date2']"
            [formSubmitted]="formSubmitted"
            [form]="form"
            requiredErrorMessage="At least ONE date field must be entered."
          ></app-error-messages>
        </div>
      </div>
      <div class="col-4">
        <div class="field">
          <label for="date">{{ transaction?.transactionType?.dateLabel }}</label>
          <p-calendar [formControlName]="templateMap['date']" inputId="date" name="date"></p-calendar>
          <app-error-messages
            *ngIf="!templateMap['date2']"
            [fieldName]="templateMap['date']"
            [formSubmitted]="formSubmitted"
            [form]="form"
          ></app-error-messages>
        </div>
      </div>
    </div>
  </ng-container>

  <div
    *ngIf="
      transaction?.transactionType?.hasMemoCode() && !isDebtRepayment(transaction) && !isLoanRepayment(transaction)
    "
    class="grid"
  >
    <div class="col-12">
      <div class="field">
        <app-memo-code
          #memoCode
          [checkboxLabel]="memoCodeCheckboxLabel"
          [formSubmitted]="formSubmitted"
          [form]="form"
          [overrideMemoItemHelpText]="memoItemHelpText"
          [templateMap]="templateMap"
          [transaction]="transaction"
        ></app-memo-code>
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="col-6">
      <div class="field">
        <label for="amount">{{ transaction?.transactionType?.amountLabel }}</label>
        <p-inputNumber
          #amountInput
          (onInput)="onInputAmount()"
          [formControlName]="templateMap['amount']"
          [readonly]="contributionAmountReadOnly"
          currency="USD"
          inputId="amount"
          inputStyleClass="{{ contributionAmountInputStyleClass }}"
          locale="en-US"
          mode="currency"
        ></p-inputNumber>
        <app-error-messages
          [fieldName]="templateMap['amount']"
          [formSubmitted]="formSubmitted"
          [form]="form"
          maxLengthErrorMessage="The amount can be 12 digits max"
          patternErrorMessage="This field must be a number"
        ></app-error-messages>
      </div>
    </div>
    <div *ngIf="showAggregate" class="col-6">
      <div class="field">
        <label for="aggregate">{{ transaction?.transactionType?.aggregateLabel }}</label>
        <p-inputNumber
          [formControlName]="templateMap['aggregate']"
          [readonly]="true"
          currency="USD"
          inputId="aggregate"
          inputStyleClass="readonly"
          locale="en-US"
          mode="currency"
        ></p-inputNumber>
        <app-error-messages
          [fieldName]="templateMap['aggregate']"
          [formSubmitted]="formSubmitted"
          [form]="form"
          maxLengthErrorMessage="The aggregate can be 12 digits max"
          patternErrorMessage="This field must be a number"
        ></app-error-messages>
      </div>
    </div>
    <div *ngIf="showCalendarYTD" class="col-6">
      <div class="field">
        <label for="calendar_ytd">{{ transaction?.transactionType?.calendarYTDLabel }}</label>
        <p-inputNumber
          [formControlName]="templateMap['calendar_ytd']"
          [readonly]="true"
          currency="USD"
          inputId="calendar_ytd"
          inputStyleClass="readonly"
          locale="en-US"
          mode="currency"
        ></p-inputNumber>
        <app-error-messages
          [fieldName]="templateMap['calendar_ytd']"
          [formSubmitted]="formSubmitted"
          [form]="form"
          maxLengthErrorMessage="The calendar year-to-date can be 12 digits max"
          patternErrorMessage="This field must be a number"
        ></app-error-messages>
      </div>
    </div>
  </div>
</div>
