#out-of-date-dialog-button {
  width: 50vm;
  text-align: center;
  line-height: 1.5em;
}

#out-of-date-dialog-header {
  font-family: var(--gandhi-bold);
  font-size: 36px;
  color: #212121;
}

#out-of-date-dialog-text {
  padding-left: 40px;
  padding-right: 40px;
  font-family: karla, sans-serif;
  font-size: 14px;
  line-height: 1.3;
  color: #212121;
}
