h1 {
  color: #212121;
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
}

.field {
  display: grid;
}

label {
  font-family: var(--karla);
  font-weight: bold;
  font-size: 14px;
  color: #212121;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.dialog-footer {
  border-top: 0;
  padding-top: 0;
  padding-bottom: 16px;
}

.option {
  font-size: 14px;
}

// Both of these are necessary to keep the dropdowns displaying consistently
:host ::ng-deep p-select > div > p-overlay > div {
  // The first time a dropdown is displayed
  top: 45px !important;
  left: 0px !important;
}
:host ::ng-deep p-select > div > .p-overlay {
  // All subsequent times that dropdown is displayed
  top: 45px !important;
  left: 0px !important;
}

.float-right {
  float: right;
}

#close-button {
  color: #212121;
  background: transparent;
  border: none;
}
