dialog::backdrop {
  background: rgba(0, 0, 0, 0.3);
}

h1 {
  color: #212121;
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
}

.field {
  display: grid;
}

dialog {
  width: 512px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 0 4px 0 rgba(33, 33, 33, 0.5);
  border: none;
  margin-top: 15%;
}

.dialog-header {
  border-bottom: 2px solid #212121;
  width: 448px;
  margin: auto;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.dialog-body {
  padding: 64px 16px;
  margin-left: 25px;
  margin-right: 25px;
}

label {
  font-family: karla, Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: bold;
  font-size: 14px;
  color: #212121;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.dialog-footer {
  border-top: 0;
  padding-top: 0;
  padding-bottom: 16px;
}

.option {
  font-size: 14px;
}

.btn-close {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em 0.25em;
  color: #000;
  background: transparent
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")
    center/1em auto no-repeat;
  border: 0;
  border-radius: 0.25rem;
  opacity: 0.5;
}

// Both of these are necessary to keep the dropdowns displaying consistently
:host ::ng-deep p-select > div > p-overlay > div {
  // The first time a dropdown is displayed
  top: 45px !important;
  left: 0px !important;
}
:host ::ng-deep p-select > div > .p-overlay {
  // All subsequent times that dropdown is displayed
  top: 45px !important;
  left: 0px !important;
}

.float-right {
  float: right;
}
