<div>
  <div>
    <img
      id="fec-seal-and-title"
      alt="FECFile Seal and Title"
      src="/assets/img/seal-and-title-white.svg"
      height="64"
      width="247"
    />
  </div>

  <div>
    <h1>Cookies are disabled in your browser</h1>
    <hr type="solid" class="top-line" />

    <p><strong>
      Your cookie settings are preventing you from using FECfile+. 
      To continue, cookies must be enabled in your browser.
    </strong></p>
    <p><strong>Try these steps to enable cookies in your browser:</strong></p>
    <ul>
      <li>Open your browser's settings or preferences</li>
      <li>Search the browser settings for "cookies"</li>
      <li>Or, search online for "Enable cookies in my browser"</li>
    </ul>
    <p><strong>Once cookies are enabled, refresh this page and try again.</strong></p>
  </div>
</div>
