<div [formGroup]="form">
  <div class="grid">
    <div class="col-8">
      <div class="field">
        <label for="organization_name">{{ entityRole }} NAME</label>
        <input
          [formControlName]="tertiaryContact ? templateMap['committee_name'] : templateMap['organization_name']"
          [ngClass]="{ readonly: readonly }"
          [readonly]="readonly"
          id="organization_name"
          pInputText
          type="text"
        />
        <app-error-messages
          [fieldName]="tertiaryContact ? templateMap['committee_name'] : templateMap['organization_name']"
          [formSubmitted]="formSubmitted"
          [form]="form"
        ></app-error-messages>
      </div>
    </div>
    <div *ngIf="includeFecId && (form.get('entity_type')?.value === 'COM' || tertiaryContact)" class="col-4">
      <div class="field">
        <label for="committee_fec_id">{{ entityRole }} FEC ID</label>
        <input
          [formControlName]="templateMap['committee_fec_id']"
          [ngClass]="{ readonly: readonly }"
          [readonly]="readonly"
          id="committee_fec_id"
          pInputText
          type="text"
        />
        <app-error-messages
          [fieldName]="templateMap['committee_fec_id']"
          [formSubmitted]="formSubmitted"
          [form]="form"
        ></app-error-messages>
      </div>
    </div>
  </div>
</div>
