@use 'mixins' as *;

.p-field-checkbox > .p-disabled {
  opacity: 1;
  color: #999999;
}

:host ::ng-deep {
  .p-disabled > .p-radiobutton {
    opacity: 0.65;
  }

  .p-dialog-header {
    padding-top: 0;
    padding-bottom: 0;

    .p-dialog-title {
      font-family: var(--gandhi-bold);
      font-size: 28px;
      color: #212121;
    }
  }

  .p-dialog-content {
    padding-left: 16px;

    > p {
      font-family: var(--karla);
      color: #212121;
      line-height: 1;
      margin-top: 0;
      margin-bottom: 15px;
    }
  }

  hr,
  h2,
  .field {
    margin-bottom: 0 !important;
  }
}

#form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 16px;

  @include standard-container();
}
