@use 'mixins' as *;

:host ::ng-deep {
  .name-column {
    --col-width: 50%;
  }
  .amount-column {
    --col-width: 36%;
  }
  .actions-column {
    --col-width: 16%;
  }

  @media (min-width: $md) {
    .amount-column {
      --col-width: 40%;
    }
    .actions-column {
      --col-width: 10%;
    }
  }

  @media (min-width: $lg) {
    .amount-column {
      --col-width: 39%;
    }
    .actions-column {
      --col-width: 11%;
    }
  }

  @media (min-width: $xl) {
    .amount-column {
      --col-width: 43.5%;
    }
    .actions-column {
      --col-width: 8.5%;
    }
  }

  @media (min-width: $xxl) {
    .amount-column {
      --col-width: 43.2%;
    }
    .actions-column {
      --col-width: 6.8%;
    }
  }
}
