<div [formGroup]="form">
  <div class="grid">
    <div class="col-4">
      <div class="field">
        <label for="last_name">{{ labelPrefix }} LAST NAME</label>
        <input [formControlName]="lastNameFieldName" id="last_name" pInputText type="text" />
        <app-error-messages
          [fieldName]="lastNameFieldName"
          [formSubmitted]="formSubmitted"
          [form]="form"
        ></app-error-messages>
      </div>
    </div>
    <div class="col-4">
      <div class="field">
        <label for="first_name">{{ labelPrefix }} FIRST NAME</label>
        <input [formControlName]="firstNameFieldName" id="first_name" pInputText type="text" />
        <app-error-messages
          [fieldName]="firstNameFieldName"
          [formSubmitted]="formSubmitted"
          [form]="form"
        ></app-error-messages>
      </div>
    </div>
    <div class="col-4">
      <div class="field">
        <label for="middle_name">{{ labelPrefix }} MIDDLE NAME (OPTIONAL)</label>
        <input [formControlName]="middleNameFieldName" id="middle_name" pInputText type="text" />
        <app-error-messages
          [fieldName]="middleNameFieldName"
          [formSubmitted]="formSubmitted"
          [form]="form"
        ></app-error-messages>
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="col-3">
      <div class="field">
        <label for="prefix">{{ labelPrefix }} PREFIX (OPTIONAL)</label>
        <input [formControlName]="prefixFieldName" id="prefix" pInputText type="text" />
        <app-error-messages
          [fieldName]="prefixFieldName"
          [formSubmitted]="formSubmitted"
          [form]="form"
        ></app-error-messages>
      </div>
    </div>
    <div class="col-3">
      <div class="field">
        <label for="suffix">{{ labelPrefix }} SUFFIX (OPTIONAL)</label>
        <input [formControlName]="suffixFieldName" id="suffix" pInputText type="text" />
        <app-error-messages
          [fieldName]="suffixFieldName"
          [formSubmitted]="formSubmitted"
          [form]="form"
        ></app-error-messages>
      </div>
    </div>
    <div class="col-6"></div>
  </div>
</div>
