<div [formGroup]="form">
  <div class="grid">
    <div class="col-4">
      <div class="field">
        <label for="last_name">{{ labelPrefix }} LAST NAME</label>
        <input type="text" pInputText id="last_name" [formControlName]="lastNameFieldName" data-cy="last-name" />
        <app-error-messages
          [form]="form"
          [fieldName]="lastNameFieldName"
          [formSubmitted]="formSubmitted"
        ></app-error-messages>
      </div>
    </div>
    <div class="col-4">
      <div class="field">
        <label for="first_name">{{ labelPrefix }} FIRST NAME</label>
        <input type="text" pInputText id="first_name" [formControlName]="firstNameFieldName" />
        <app-error-messages
          [form]="form"
          [fieldName]="firstNameFieldName"
          [formSubmitted]="formSubmitted"
        ></app-error-messages>
      </div>
    </div>
    <div class="col-4">
      <div class="field">
        <label for="middle_name">{{ labelPrefix }} MIDDLE NAME (OPTIONAL)</label>
        <input type="text" pInputText id="middle_name" [formControlName]="middleNameFieldName" />
        <app-error-messages
          [form]="form"
          [fieldName]="middleNameFieldName"
          [formSubmitted]="formSubmitted"
        ></app-error-messages>
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="col-3">
      <div class="field">
        <label for="prefix">{{ labelPrefix }} PREFIX (OPTIONAL)</label>
        <input type="text" pInputText id="prefix" [formControlName]="prefixFieldName" />
        <app-error-messages
          [form]="form"
          [fieldName]="prefixFieldName"
          [formSubmitted]="formSubmitted"
        ></app-error-messages>
      </div>
    </div>
    <div class="col-3">
      <div class="field">
        <label for="suffix">{{ labelPrefix }} SUFFIX (OPTIONAL)</label>
        <input type="text" pInputText id="suffix" [formControlName]="suffixFieldName" />
        <app-error-messages
          [form]="form"
          [fieldName]="suffixFieldName"
          [formSubmitted]="formSubmitted"
        ></app-error-messages>
      </div>
    </div>
    <div class="col-6"></div>
  </div>
</div>
