<div [formGroup]="form">
  <div class="grid">
    <div class="col-4">
      <div class="field">
        <label for="last_name">LAST NAME</label>
        <input type="text" pInputText id="last_name" [formControlName]="templateMap['last_name']" />
        <app-error-messages
          [form]="form"
          [fieldName]="templateMap['last_name']"
          [formSubmitted]="formSubmitted"
        ></app-error-messages>
      </div>
    </div>
    <div class="col-4">
      <div class="field">
        <label for="first_name">FIRST NAME</label>
        <input type="text" pInputText id="first_name" [formControlName]="templateMap['first_name']" />
        <app-error-messages
          [form]="form"
          [fieldName]="templateMap['first_name']"
          [formSubmitted]="formSubmitted"
        ></app-error-messages>
      </div>
    </div>
    <div class="col-4">
      <div class="field">
        <label for="middle_name">MIDDLE NAME (OPTIONAL)</label>
        <input type="text" pInputText id="middle_name" [formControlName]="templateMap['middle_name']" />
        <app-error-messages
          [form]="form"
          [fieldName]="templateMap['middle_name']"
          [formSubmitted]="formSubmitted"
        ></app-error-messages>
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="col-3">
      <div class="field">
        <label for="prefix">PREFIX (OPTIONAL)</label>
        <input type="text" pInputText id="prefix" [formControlName]="templateMap['prefix']" />
        <app-error-messages
          [form]="form"
          [fieldName]="templateMap['prefix']"
          [formSubmitted]="formSubmitted"
        ></app-error-messages>
      </div>
    </div>
    <div class="col-3">
      <div class="field">
        <label for="suffix">SUFFIX (OPTIONAL)</label>
        <input type="text" pInputText id="suffix" [formControlName]="templateMap['suffix']" />
        <app-error-messages
          [form]="form"
          [fieldName]="templateMap['suffix']"
          [formSubmitted]="formSubmitted"
        ></app-error-messages>
      </div>
    </div>
    <div class="col-6"></div>
  </div>
</div>
