<div [formGroup]="form">
  <div class="grid">
    <div class="col-6">
      <div class="field">
        <label for="candidate_id">CANDIDATE ID</label>
        <input [formControlName]="templateMap['candidate_fec_id']" id="candidate_id" pInputText type="text" />
        <app-error-messages
          [fieldName]="templateMap['candidate_fec_id']"
          [formSubmitted]="formSubmitted"
          [form]="form"
        ></app-error-messages>
      </div>
    </div>
    <div class="col-4"></div>
  </div>
  <div class="grid">
    <div class="col-4">
      <div class="field">
        <label for="last_name">LAST NAME</label>
        <input [formControlName]="templateMap['candidate_last_name']" id="last_name" pInputText type="text" />
        <app-error-messages
          [fieldName]="templateMap['candidate_last_name']"
          [formSubmitted]="formSubmitted"
          [form]="form"
        ></app-error-messages>
      </div>
    </div>
    <div class="col-4">
      <div class="field">
        <label for="first_name">FIRST NAME</label>
        <input [formControlName]="templateMap['candidate_first_name']" id="first_name" pInputText type="text" />
        <app-error-messages
          [fieldName]="templateMap['candidate_first_name']"
          [formSubmitted]="formSubmitted"
          [form]="form"
        ></app-error-messages>
      </div>
    </div>
    <div class="col-4">
      <div class="field">
        <label for="middle_name">MIDDLE NAME (OPTIONAL)</label>
        <input [formControlName]="templateMap['candidate_middle_name']" id="middle_name" pInputText type="text" />
        <app-error-messages
          [fieldName]="templateMap['candidate_middle_name']"
          [formSubmitted]="formSubmitted"
          [form]="form"
        ></app-error-messages>
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="col-3">
      <div class="field">
        <label for="prefix">PREFIX (OPTIONAL)</label>
        <input [formControlName]="templateMap['candidate_prefix']" id="prefix" pInputText type="text" />
        <app-error-messages
          [fieldName]="templateMap['candidate_prefix']"
          [formSubmitted]="formSubmitted"
          [form]="form"
        ></app-error-messages>
      </div>
    </div>
    <div class="col-3">
      <div class="field">
        <label for="suffix">SUFFIX (OPTIONAL)</label>
        <input [formControlName]="templateMap['candidate_suffix']" id="suffix" pInputText type="text" />
        <app-error-messages
          [fieldName]="templateMap['candidate_suffix']"
          [formSubmitted]="formSubmitted"
          [form]="form"
        ></app-error-messages>
      </div>
    </div>
    <div class="col-6"></div>
  </div>
  <ng-container *ngIf="hasCandidateOfficeInput">
    <app-candidate-office-input
      [districtFormControlName]="templateMap['candidate_district']"
      [formSubmitted]="formSubmitted"
      [form]="form"
      [officeFormControlName]="templateMap['candidate_office']"
      [stateFormControlName]="templateMap['candidate_state']"
      [transaction]="transaction"
    >
    </app-candidate-office-input>
  </ng-container>
</div>
