h1 {
  font-size: 36px;
  line-height: 36px;
}

.dialog-body {
  padding: 16px 16px;
  margin-left: 25px;
  margin-right: 25px;
}

.dialog-text {
  margin-bottom: 16px;
  font-family: var(--karla);
  color: #212121;
}

.dialog-note {
  font-size: 12px;
}

.dialog-footer {
  width: 100%;
  display: flex;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  border-top: 0;
  padding-top: 0;
  padding-bottom: 16px;
}

.dialog-footer > button {
  width: fit-content;
}

.option {
  font-size: 14px;
}
