.success-verticle-bar {
  border-left: 6px solid #35bdbb;
  height: 100px;
}

.fail-verticle-bar {
  border-left: 6px solid var(--fec-grey-alt);
  height: 100px;
}

.p-button-info,
.p-button-info:enabled:hover,
.feedback-button .feedback-button:enabled:hover {
  color: black;
}

.popover-close {
  background-color: transparent;
  height: 30px;
  width: 30px;
  position: absolute;
  right: 32px;
  padding: 5px;
  border: 0;
  cursor: pointer;
  transition: box-shadow 0.15s;
  border-radius: 50%;
  color: var(--primary-color);
  &:focus {
    box-shadow: var(--focus-ring);
    outline: none;
  }
}

#popover-container {
  padding: 32px;
  background-color: var(--surface-ground);
  min-height: max-content;
}
#feedback-aside {
  width: 500px;
  margin-bottom: 0;
  margin-right: 32px;
  padding: 0;
  max-height: 98vh;
  max-width: calc(98vw - 32px);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);

  transition:
    display 0.4s allow-discrete,
    overlay 0.4s allow-discrete,
    transform 0.4s ease-in-out,
    opacity 0.4s ease-in-out;

  opacity: 0;
  transform: translateY(100%);

  &:popover-open {
    opacity: 1;
    transform: translateY(0);
  }

  @starting-style {
    &:popover-open {
      opacity: 0;
      transform: translateY(100%);
    }
  }
}

h2 {
  font-family: var(--gandhi-bold);
}

h3,
p,
span {
  font-family: var(--karla);
}

p,
span {
  font-size: 14px;
}

.field {
  margin-bottom: 4px;
}

.feedback-button {
  position: fixed;
  bottom: 0;
  right: 32px;
  z-index: 1103;
  border-radius: 4px 4px 0px 0px;
}

.grid-form > * {
  margin-bottom: 20px;
  &:nth-last-child(-n + 1) {
    margin-bottom: 0;
  }
}
:host ::ng-deep app-text-area-input textarea {
  min-height: 99px;
}
