.success-verticle-bar {
  border-left: 6px solid #35bdbb;
  height: 100px;
}

.fail-verticle-bar {
  border-left: 6px solid #aeb0b5;
  height: 100px;
}

.p-button-info {
  color: black;
}

.p-button-info:enabled:hover {
  color: black;
}

.anchor {
  bottom: 0;
  height: 95vh;
  right: 532px;
  z-index: 1104;
  position: fixed;
}

.feedback-close-button {
  text-align: right;
}

.feedback-close-button > button {
  border: 0;
}

.feedback-close-button > button > img {
  width: 30px;
}

:host ::ng-deep {
  p,
  span,
  a {
    font-size: 14px;
  }

  label {
    font-weight: bold;
  }

  span {
    font-weight: normal;
  }

  .close-icon {
    right: 50px;
    top: 50px;
  }

  .p-popover .p-popover-close {
    right: 0.5rem;
    top: 0.5rem;
    background: transparent;
    transform: scale(1.5);
    border: 0;
  }

  .p-popover .p-popover-close:hover {
    background: transparent;
  }

  .p-popover .p-popover-close:focus {
    box-shadow: var(--focus-ring);
  }

  .p-popover {
    background: #f1f1f1;
  }

  .p-popover .p-popover-content {
    padding-top: 2.5rem;
  }

  .p-popover .p-popover-content * {
    font-family: var(--karla);
  }
}
