<span
  class="p-inputnumber p-component"
  [ngStyle]="style"
  [class]="styleClass"
  [attr.data-pc-name]="'inputnumber'"
  [attr.data-pc-section]="'root'"
>
  <input
    pInputText
    #input
    [attr.id]="inputId"
    role="spinbutton"
    [ngClass]="'p-inputnumber-input'"
    [ngStyle]="inputStyle"
    [class]="inputStyleClass"
    [value]="formattedValue()"
    [attr.variant]="'outlined'"
    [attr.aria-valuemin]="min"
    [attr.aria-valuemax]="max"
    [attr.aria-valuenow]="value"
    [disabled]="disabled"
    [readonly]="readonly"
    [attr.placeholder]="placeholder"
    [attr.aria-label]="ariaLabel"
    [attr.aria-labelledby]="ariaLabelledBy"
    [attr.title]="title"
    [attr.size]="size"
    [attr.name]="name"
    [attr.tabindex]="tabindex"
    [attr.aria-required]="ariaRequired"
    [attr.required]="required"
    [attr.min]="min"
    [attr.max]="max"
    inputmode="decimal"
    (input)="onUserInput($event)"
    (keydown)="onInputKeyDown($event)"
    (keypress)="onInputKeyPress($event)"
    (paste)="onPaste($event)"
    (click)="onInputClick()"
    (focus)="onInputFocus($event)"
    (blur)="onInputBlur($event)"
    [attr.data-pc-section]="'input'"
    pAutoFocus
    [autofocus]="autofocus"
  />
</span>
