.restore-contact-button {
  font-weight: bold;
  color: #212121;
  background-color: #aeb0b5;
  border-color: #aeb0b5;
  margin-right: 20px;
}

.restore-contact-button:hover {
  background-color: #e8e8e8;
  border-color: #e8e8e8;
  color: #112e51;
}
