<app-table
  [items]="items"
  [globalFilterFields]="['name', 'type', 'employer', 'occupation']"
  [totalItems]="totalItems"
  [loading]="loading"
  [rowsPerPage]="rowsPerPage"
  [selectAll]="selectAll"
  [selectedItems]="selectedItems"
  itemName="contacts"
  sortField="sort_name"
  [sortableHeaders]="sortableHeaders"
  (loadTableItems)="loadTableItems($event)"
  (selectionChange)="onSelectionChange($event)"
  (selectAllChange)="onSelectAllChange($event)"
  (rowsPerPageChange)="onRowsPerPageChange($event)"
>
  <ng-template #caption>
    <p-toolbar>
      <ng-template pTemplate="left">
        <h1 class="m-0">Manage contacts</h1>
      </ng-template>
      <ng-template pTemplate="right">
        @if (restoreContactsButtonIsVisible) {
          <button
            pButton
            pRipple
            label="Restore deleted contacts"
            class="restore-contact-button"
            (click)="onRestoreClick()"
          ></button>
        }

        <button
          id="button-contacts-new"
          pButton
          pRipple
          label="Add contact"
          icon="pi pi-plus"
          class="add-button"
          (click)="addItem()"
        ></button>
      </ng-template>
    </p-toolbar>
  </ng-template>
  <ng-template #header>
    <th id="actions" role="columnheader">Actions</th>
  </ng-template>
  <ng-template #body let-item>
    <td>
      <a (click)="editItem(item)">{{ displayName(item) }}</a>
    </td>
    <td>{{ item.type | label: contactTypeLabels }}</td>
    <td>{{ item.candidate_id || item.committee_id }}</td>
    <td>{{ item.employer }}</td>
    <td>{{ item.occupation }}</td>
    <td>
      <app-table-actions-button
        [tableActions]="rowActions"
        [actionItem]="item"
        (tableActionClick)="onRowActionClick($event.action, $event.actionItem)"
        buttonIcon="pi pi-ellipsis-v"
        buttonStyleClass="flex justify-content-center p-button-rounded p-button-primary  p-button-text mr-2"
        [buttonAriaLabel]="'edit ' + displayName(item)"
      ></app-table-actions-button>
    </td>
  </ng-template>
</app-table>

<app-contact-dialog
  [contactTypeOptions]="dialogContactTypeOptions"
  [contact]="item"
  [(detailVisible)]="detailVisible"
  [showHistory]="true"
  (savedContact)="saveContact($event)"
></app-contact-dialog>

<app-deleted-contact-dialog
  [(visible)]="restoreDialogIsVisible"
  (contactsRestored)="refreshTable()"
></app-deleted-contact-dialog>
