<ng-template #nameBody let-item>
  <a (click)="editItem(item)">{{ displayName(item) }}</a>
</ng-template>

<ng-template #typeBody let-item>
  {{ item.type | label: contactTypeLabels }}
</ng-template>

<ng-template #fecIdBody let-item>
  {{ displayFecId(item) }}
</ng-template>

<ng-template #actionsBody let-item>
  <app-table-actions-button
    [tableActions]="rowActions"
    [actionItem]="item"
    (tableActionClick)="onRowActionClick($event.action, $event.actionItem)"
    buttonIcon="pi pi-ellipsis-v"
    buttonStyleClass="flex justify-content-center p-button-rounded p-button-primary  p-button-text mr-2"
    [buttonAriaLabel]="'edit ' + displayName(item)"
  />
</ng-template>

<app-table
  [(first)]="first"
  [items]="items()"
  title="Manage contacts"
  [globalFilterFields]="['name', 'type', 'employer', 'occupation']"
  [(totalItems)]="totalItems"
  [loading]="loading"
  [(rowsPerPage)]="rowsPerPage"
  [(selectedItems)]="selectedItems"
  itemName="contacts"
  sortField="sort_name"
  [columns]="columns()"
  (loadTableItems)="loadTableItems($event)"
>
  <ng-template #caption>
    @if (restoreContactsButtonIsVisible) {
      <button pButton pRipple class="restore-contact-button" [routerLink]="['deleted']">
        Restore deleted contacts
      </button>
    }
    <button
      id="button-contacts-new"
      pButton
      pRipple
      label="Add contact"
      icon="pi pi-plus"
      class="add-button"
      (click)="addItem()"
    ></button>
  </ng-template>
</app-table>

<app-contact-dialog
  [contactTypeOptions]="dialogContactTypeOptions"
  [contact]="item"
  [(detailVisible)]="detailVisible"
  [showHistory]="true"
  (savedContact)="saveContact($event)"
/>
