@use 'mixins' as *;

:host::ng-deep {
  .name-column {
    --col-width: 47%;
  }
  .type-column,
  .fec-id-column {
    --col-width: 19.6%;
  }
  .employer-column,
  .occupation-column {
    display: none;
  }
  .actions-column {
    --col-width: 13.8%;
  }

  @media (min-width: $md) {
    .name-column {
      --col-width: 56%;
    }
    .type-column,
    .fec-id-column {
      --col-width: 17%;
    }
    .actions-column {
      --col-width: 10%;
    }
  }

  @media (min-width: $lg) {
    .name-column {
      --col-width: 36.6%;
    }
    .type-column,
    .fec-id-column {
      --col-width: 11.7%;
    }
    .employer-column,
    .occupation-column {
      display: table-cell;
      --col-width: 15.8%;
    }
    .actions-column {
      --col-width: 8.4%;
    }
  }

  @media (min-width: $xxl) {
    .name-column {
      --col-width: 43.9%;
    }
    .type-column,
    .fec-id-column {
      --col-width: 9.5%;
    }
    .employer-column,
    .occupation-column {
      --col-width: 15.2%;
    }
    .actions-column {
      --col-width: 6.7%;
    }
  }
}

.restore-contact-button {
  font-weight: bold;
  color: #212121;
  background-color: #aeb0b5;
  border-color: #aeb0b5;
  margin-right: 20px;
}

.restore-contact-button:hover {
  background-color: #e8e8e8;
  border-color: #e8e8e8;
  color: #112e51;
}
