<div [formGroup]="form">
  <app-name-input
    [formSubmitted]="formSubmitted"
    [form]="form"
    [templateMapKeyPrefix]="templateMapKeyPrefix"
    [templateMap]="templateMap"
  ></app-name-input>
  <div class="grid">
    <div *ngIf="titleFieldName" class="col-4">
      <div class="field">
        <label for="title">TITLE</label>
        <input [formControlName]="titleFieldName" id="title" pInputText type="text" />
        <app-error-messages
          [fieldName]="titleFieldName"
          [formSubmitted]="formSubmitted"
          [form]="form"
        ></app-error-messages>
      </div>
    </div>
    <div class="col-4">
      <div class="field">
        <label for="date_signed">DATE SIGNED</label>
        <p-calendar [formControlName]="dateSignedFieldName" inputId="date_signed" name="date_signed"></p-calendar>
        <app-error-messages
          [fieldName]="dateSignedFieldName"
          [formSubmitted]="formSubmitted"
          [form]="form"
        ></app-error-messages>
      </div>
    </div>
  </div>
</div>
