<div [formGroup]="form()">
  <app-name-input
    [form]="form()"
    [formSubmitted]="formSubmitted()"
    [templateMap]="templateMap()"
    [templateMapKeyPrefix]="templateMapKeyPrefix()"
  ></app-name-input>
  <div class="grid">
    @if (titleFieldName()) {
      <div class="col-4">
        <div class="field">
          <label for="title">TITLE</label>
          <input type="text" pInputText id="title" [formControlName]="titleFieldName()" />
          <app-error-messages [control]="control()" [formSubmitted]="formSubmitted()"></app-error-messages>
        </div>
      </div>
    }

    <div class="col-4">
      <app-calendar
        [fieldName]="dateSignedFieldName()"
        [form]="form()"
        [formSubmitted]="formSubmitted()"
        label="DATE SIGNED"
      ></app-calendar>
    </div>
  </div>
</div>
