.p-field-checkbox > .p-disabled {
  opacity: 1;
  color: #999999;
}

:host ::ng-deep {
  .p-disabled > .p-radiobutton {
    opacity: 0.65;
  }
  hr,
  h2,
  .field {
    margin-bottom: 0 !important;
  }
}
