@use 'mixins' as *;

.p-field-checkbox > .p-disabled {
  opacity: 1;
  color: #999999;
}

:host ::ng-deep .p-disabled > .p-radiobutton {
  opacity: 0.65;
}

#form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 16px;

  @include standard-container();
}
