<h1>Add a {{ category }}</h1>
<p-accordion muiltiple="false">
  <p-accordionTab *ngFor="let transactionGroup of getTransactionGroups()" [header]="transactionGroup">
    <div class="grid">
      <a
        *ngFor="let transactionType of getTransactionTypes(transactionGroup)"
        class="col-12"
        [class.disabled]="isTransactionDisabled(transactionType)"
        [routerLink]="getRouterLink(transactionType)"
        >{{ transactionType | label : transactionTypeLabels }}</a
      >
    </div>
  </p-accordionTab>
</p-accordion>
