<h1>Receipts</h1>
<p-accordion muiltiple="false">
  <p-accordionTab *ngFor="let transactionGroup of getTransactionGroups()" [header]="transactionGroup">
    <div class="grid">
      <a
        *ngFor="let transactionType of getTransactionTypes(transactionGroup)"
        class="col-12"
        routerLink="/transactions/report/{{ report?.id }}/create/{{ transactionType }}"
        >{{ transactionType | label: scheduleATransactionTypeLabels }}</a
      >
    </div>
  </p-accordionTab>
</p-accordion>
