<div class="card">
  <p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
      <div class="grid">
        <div class="col-12">
          <h1 class="gandhi-bold size-36">Transactions in this report</h1>
        </div>
        <div class="col-12">
          <span class="subtitle"
            >{{ report?.form_type | label : f3xFormTypeLabels }}: {{ report?.report_code | reportCodeLabel }}</span
          >
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="right">
      <app-table-actions-button
        [tableActions]="tableActions"
        [actionItem]="report"
        [tableActionClick]="onTableActionClick"
        buttonIcon="pi pi-plus"
        buttonLabel="Add new transaction"
        buttonStyleClass="mr-2 add-button"
        buttonAriaLabel="Add a Transaction"
      ></app-table-actions-button>
    </ng-template>
  </p-toolbar>
  <app-transaction-receipts></app-transaction-receipts>
  <app-transaction-disbursements></app-transaction-disbursements>
</div>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
