<div class="card">
  <p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">Transactions</ng-template>

    <ng-template pTemplate="right">
      <p-overlayPanel #op [styleClass]="'action-options'">
        <ng-template pTemplate>
          <ul>
            <li *ngFor="let action of tableActions">
              <button
                *ngIf="!action.isAvailable || action.isAvailable(report)"
                [disabled]="!action.isEnabled(report)"
                pButton
                pRipple
                type="button"
                class="p-button-secondary p-button-text"
                id="one"
                (click)="onTableActionClick(action, report)"
              >
                {{ action.label }}
              </button>
            </li>
          </ul>
        </ng-template>
      </p-overlayPanel>
      <p-button
        pRipple
        icon="pi pi-plus"
        label="Add new transaction"
        styleClass="p-button-success mr-2"
        (onClick)="op.toggle($event)"
        ariaLabel="Add a Transaction"
      ></p-button>
    </ng-template>
  </p-toolbar>

  <p-table
    #dt
    [value]="items"
    [lazy]="true"
    (onLazyLoad)="loadTableItems($event)"
    responsiveLayout="scroll"
    dataKey="id"
    [paginator]="true"
    [rows]="10"
    [totalRecords]="totalItems"
    [loading]="loading"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} transactions"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h5 class="m-0">Transactions during coverage dates</h5>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr role="row">
        <th pSortableColumn="transaction_type_identifier" id="transaction-type-identifier-column" role="columnheader">
          Transaction type <p-sortIcon field="transaction_type_identifier"></p-sortIcon>
        </th>
        <th pSortableColumn="name" id="name-column" role="columnheader">Name <p-sortIcon field="name"></p-sortIcon></th>
        <th pSortableColumn="date" id="date-column" role="columnheader">
          Contribution date <p-sortIcon field="date"></p-sortIcon>
        </th>
        <th pSortableColumn="memo_code" id="memo-code-column" role="columnheader">
          Memo code <p-sortIcon field="memo_code"></p-sortIcon>
        </th>
        <th pSortableColumn="amount" id="amount-column" role="columnheader">
          Amount <p-sortIcon field="amount"></p-sortIcon>
        </th>
        <th pSortableColumn="aggregate" id="aggregate-column" role="columnheader">
          Aggregate <p-sortIcon field="aggregate"></p-sortIcon>
        </th>
        <th id="transaction_id" role="columnheader">Transaction ID</th>
        <th id="transaction_parent" role="columnheader">Associated With</th>
        <th id="buttons" role="columnheader">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr role="row">
        <td>
          <a [routerLink]="['edit', item?.id]">{{
            item.transaction_type_identifier | label : scheduleTransactionTypeLabels
          }}</a>
          <div *ngIf="item?.itemized === false"><strong>Unitemized</strong></div>
        </td>
        <td>
          {{
            item[item.transactionType.templateMap.organization_name] ||
              item[item.transactionType.templateMap.last_name] +
                ', ' +
                item[item.transactionType.templateMap.first_name]
          }}
        </td>
        <td>
          {{ item[item.transactionType.templateMap.date] | fecDate }}
        </td>
        <td>
          {{ item.memo_code | memoCode }}
        </td>
        <td>
          {{ item[item.transactionType.templateMap.amount] | currency }}
        </td>
        <td>
          {{ item[item.transactionType.templateMap.aggregate] | currency }}
        </td>
        <td>
          {{ item.transaction_id }}
        </td>
        <td>
          {{ item.parent_transaction?.transaction_id }}
        </td>
        <td>
          <p-overlayPanel #op [styleClass]="'action-options'">
            <ng-template pTemplate>
              <ul>
                <li *ngFor="let action of rowActions">
                  <button
                    *ngIf="!action.isAvailable || action.isAvailable(item)"
                    pButton
                    pRipple
                    type="button"
                    class="p-button-secondary p-button-text"
                    id="one"
                    (click)="onRowActionClick(action, item)"
                  >
                    {{ action.label }}
                  </button>
                </li>
              </ul>
            </ng-template>
          </p-overlayPanel>
          <p-button 
            pRipple 
            icon="pi pi-ellipsis-v" 
            styleClass="p-button-text"
            (onClick)="op.toggle($event)"
            ariaLabel="action"
          ></p-button>
          <!-- <em class="pi pi-trash" (click)="deleteItem(item)"></em> -->
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
