<div class="card">
  <p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
      <div class="grid">
        <div class="col-12">
          <h1>Transactions in this report</h1>
        </div>
        <div class="col-12">
          <span class="bold">{{ report?.form_type | label : f3xFormTypeLabels }}:</span>
          {{ report?.report_code | reportCodeLabel }}
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="right">
      <p-overlayPanel #op [styleClass]="'action-options'">
        <ng-template pTemplate>
          <ul>
            <li *ngFor="let action of tableActions">
              <button
                *ngIf="!action.isAvailable || action.isAvailable(report)"
                [disabled]="!action.isEnabled(report)"
                pButton
                pRipple
                type="button"
                class="p-button-secondary p-button-text"
                id="one"
                (click)="onTableActionClick(action, report)"
              >
                {{ action.label }}
              </button>
            </li>
          </ul>
        </ng-template>
      </p-overlayPanel>
      <p-button
        pRipple
        icon="pi pi-plus"
        label="Add new transaction"
        styleClass="p-button-success mr-2"
        (onClick)="op.toggle($event)"
        ariaLabel="Add a Transaction"
      ></p-button>
    </ng-template>
  </p-toolbar>
  <app-transaction-receipts></app-transaction-receipts>
  <app-transaction-disbursements></app-transaction-disbursements>
</div>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
