:host {
  grid-column-end: span 12 !important;
  margin: 0;
}

.background-box {
  padding: 10px 15px;
  margin-bottom: 24px;
  background-color: var(--surface-ground);
  border-radius: var(--border-radius);
  box-shadow: var(--p-dialog-shadow);
}

.fit-button {
  width: 145px;
  min-width: 145px;
}

.col-address,
.col-id {
  overflow-wrap: anywhere;
}

@media (max-width: 576px) {
  .duplicate-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .duplicate-row {
    display: grid;
    grid-template-columns: 1fr 145px;
    column-gap: 10px;
    row-gap: 4px;
    align-items: center;
    grid-template-rows: auto auto;

    .col-name {
      grid-column: 1;
      grid-row: 1;
    }
    .col-id {
      grid-column: 1;
      grid-row: 2;
    }
    .col-address {
      grid-column: 1;
      grid-row: 2;
    }

    .col-action {
      grid-column: 2;
      grid-row: 1 / -1;
      justify-self: end;
      align-self: center;
    }

    &:has(.col-id) {
      grid-template-rows: auto auto auto;

      .col-address {
        grid-row: 3;
      }
    }
  }
}

@media (min-width: 577px) {
  .duplicate-list {
    display: grid;
    column-gap: 0;
    row-gap: 16px;
    align-items: center;
    grid-template-columns: fit-content(60%) 1fr 145px;

    &.is-committee {
      grid-template-columns: fit-content(40%) fit-content(20%) 1fr 145px;
    }
  }

  .duplicate-row {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
    align-items: center;

    .col-name,
    .col-id {
      padding-right: 40px;
    }

    .col-address,
    .cand-id {
      padding-right: 10px;
    }

    .col-name,
    .col-id,
    .col-address {
      grid-column: auto;
      grid-row: auto;
      white-space: normal;
      overflow-wrap: anywhere;
      word-break: word-break;
    }

    .col-action {
      grid-column: auto;
      grid-row: auto;
      justify-self: end;
    }
  }
}
