@if (!hideDuplicateWarning()) {
  @if (potentialDuplicates().length > 0) {
    <div class="background-box">
      <div class="flex justify-content-between">
        <span class="font-bold">We found an existing contact</span>
        <button class="rounded-image-button" (click)="closeDuplicateWarning()" aria-label="Cancel">
          <svg class="transparent-grey" alt="close duplicate view" height="20" width="20">
            <use href="assets/img/x-circle.svg#x-icon"></use>
          </svg>
        </button>
      </div>
      <hr class="my-2" />
      <div class="flex flex-column gap-20px">
        @for (dup of potentialDuplicates(); track dup) {
          <div class="flex justify-content-between align-items-center">
            <div class="name-location">
              <span>{{ `${dup.name ?? dup.last_name + ', ' + dup.first_name}` }} </span>
              <span>{{ dup.city }}, {{ dup.state | state }}</span>
            </div>
            <button
              pButton
              class="p-button-primary fit-button"
              label="Use this contact"
              (click)="useContact.emit(dup)"
            ></button>
          </div>
        }
      </div>
    </div>
  } @else if (validName()) {
    <span class="font-italic font-karla color-light-grey pl-2">No duplicate contacts found</span>
  }
}
