@if (!hideDuplicate()) {
  @if (duplicateCheck.isLoading()) {
    <p-progress-spinner
      ariaLabel="checking name"
      strokeWidth="9"
      [style]="{ width: '20px', height: '20px' }"
      [pt]="{ root: 'ml-2' }"
    />
  } @else {
    @if (duplicateCheck.value().length > 0) {
      <section class="background-box" aria-labelledby="duplicate-contact-heading">
        <header class="flex justify-content-between align-items-center">
          <h3 id="duplicate-contact-heading" class="karla-bold text-base m-0">We found an existing contact</h3>
          <button type="button" class="rounded-image-button" (click)="closeDuplicateWarning()" aria-label="Cancel">
            <svg class="transparent-grey" height="20" width="20" aria-hidden="true">
              <use href="assets/img/x-circle.svg#x-icon"></use>
            </svg>
          </button>
        </header>

        <hr class="my-2" />

        <ul class="duplicate-list list-none p-0 m-0" [class.is-committee]="type() === 'COM'">
          @for (dup of duplicateCheck.value(); track dup) {
            <li class="duplicate-row">
              <span class="col-name" [innerHTML]="dup | name"></span>

              @if (type() === 'CAN') {
                <span class="col-id cand-id">{{ dup.candidate_id }}</span>
              }
              @if (type() === 'COM') {
                <span class="col-id">{{ dup.committee_id }}</span>
              }
              @if (type() !== 'CAN') {
                <span class="col-address" [innerHTML]="dup | address"></span>
              }

              <button
                pButton
                type="button"
                class="p-button-primary fit-button col-action"
                label="Use this contact"
                (click)="useContact.emit(dup)"
              ></button>
            </li>
          }
        </ul>
      </section>
    }
  }
}
