.background-box {
  padding: 10px 15px;
  margin-left: 8px;
  background-color: var(--surface-ground);
  border-radius: var(--border-radius);
  box-shadow: var(--p-dialog-shadow);
}

.name-location {
  display: flex;
  align-items: center;
  gap: 40px;

  span {
    overflow-wrap: anywhere;
  }

  @media (max-width: 576px) {
    gap: 20px;
    span {
      &:nth-of-type(1) {
        max-width: 120px;
      }
      &:nth-of-type(2) {
        max-width: 113px;
      }
    }
  }
}

.fit-button {
  height: fit-content;
  width: fit-content;
  margin-left: 10px;
}
