<app-select-input
  class="grid-col-6"
  labelId="candidate-office-label"
  label="CANDIDATE OFFICE"
  [formField]="fields().candidate_office"
  [options]="candidateOfficeTypeOptions"
/>
<app-select-input
  class="grid-col-3"
  labelId="candidate-state-label"
  label="CANDIDATE STATE"
  [formField]="fields().candidate_state"
  [options]="stateOptions"
  [searchable]="true"
/>
<app-select-input
  class="grid-col-3"
  labelId="candidate-district-label"
  label="CANDIDATE DISTRICT"
  [formField]="fields().candidate_district"
  [options]="candidateDistrictOptions()"
/>
