<p-toast></p-toast>

<div class="p-fluid">
  <h1>{{ title }}</h1>
  <h3>Contributor</h3>
  <form id="form" [formGroup]="form" [ngClass]="{ 'ng-submitted': formSubmitted }">
    <div class="grid">
      <div class="col-6">
        <div class="field">
          <label for="entity_type">CONTRIBUTOR TYPE</label>
          <p-dropdown
            inputId="entity_type"
            formControlName="entity_type"
            [options]="contactTypeOptions"
            optionLabel="name"
            optionValue="code"
          ></p-dropdown>
        </div>
      </div>
    </div>
    <ng-container *ngIf="[ContactTypes.COMMITTEE, ContactTypes.ORGANIZATION].includes(form.get('entity_type')?.value)">
      <div class="grid">
        <div class="col-8">
          <div class="field">
            <label for="contributor_organization_name">ORGANIZATION NAME</label>
            <input
              type="text"
              pInputText
              id="contributor_organization_name"
              formControlName="contributor_organization_name"
            />
            <app-error-messages
              [form]="form"
              fieldName="contributor_organization_name"
              [formSubmitted]="formSubmitted"
            ></app-error-messages>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="[ContactTypes.INDIVIDUAL, ContactTypes.CANDIDATE].includes(form.get('entity_type')?.value)">
      <div class="grid">
        <div class="col-4">
          <div class="field">
            <label for="contributor_last_name">LAST NAME</label>
            <input type="text" pInputText id="contributor_last_name" formControlName="contributor_last_name" />
            <app-error-messages
              [form]="form"
              fieldName="contributor_last_name"
              [formSubmitted]="formSubmitted"
            ></app-error-messages>
          </div>
        </div>
        <div class="col-4">
          <div class="field">
            <label for="contributor_first_name">FIRST NAME</label>
            <input type="text" pInputText id="contributor_first_name" formControlName="contributor_first_name" />
            <app-error-messages
              [form]="form"
              fieldName="contributor_first_name"
              [formSubmitted]="formSubmitted"
            ></app-error-messages>
          </div>
        </div>
        <div class="col-4">
          <div class="field">
            <label for="contributor_middle_name">MIDDLE NAME (OPTIONAL)</label>
            <input type="text" pInputText id="contributor_middle_name" formControlName="contributor_middle_name" />
            <app-error-messages
              [form]="form"
              fieldName="contributor_middle_name"
              [formSubmitted]="formSubmitted"
            ></app-error-messages>
          </div>
        </div>
      </div>
      <div class="grid">
        <div class="col-3">
          <div class="field">
            <label for="contributor_prefix">PREFIX (OPTIONAL)</label>
            <input type="text" pInputText id="contributor_prefix" formControlName="contributor_prefix" />
            <app-error-messages
              [form]="form"
              fieldName="contributor_prefix"
              [formSubmitted]="formSubmitted"
            ></app-error-messages>
          </div>
        </div>
        <div class="col-3">
          <div class="field">
            <label for="contributor_suffix">SUFFIX (OPTIONAL)</label>
            <input type="text" pInputText id="contributor_suffix" formControlName="contributor_suffix" />
            <app-error-messages
              [form]="form"
              fieldName="contributor_suffix"
              [formSubmitted]="formSubmitted"
            ></app-error-messages>
          </div>
        </div>
        <div class="col-6"></div>
      </div>
    </ng-container>
    <p-divider></p-divider>
    <h3>Address</h3>
    <div class="grid">
      <div class="col-6">
        <div class="field">
          <label for="contributor_street_1">STREET ADDRESS</label>
          <input type="text" pInputText id="contributor_street_1" formControlName="contributor_street_1" />
          <app-error-messages
            [form]="form"
            fieldName="contributor_street_1"
            [formSubmitted]="formSubmitted"
          ></app-error-messages>
        </div>
      </div>
      <div class="col-6">
        <div class="field">
          <label for="contributor_street_2">APARTMENT, SUITE, ETC. (OPTIONAL)</label>
          <input type="text" pInputText id="contributor_street_2" formControlName="contributor_street_2" />
          <app-error-messages
            [form]="form"
            fieldName="contributor_street_2"
            [formSubmitted]="formSubmitted"
          ></app-error-messages>
        </div>
      </div>
    </div>
    <div class="grid">
      <div class="col-6">
        <div class="field">
          <label for="contributor_city">CITY</label>
          <input type="text" pInputText id="contributor_city" formControlName="contributor_city" />
          <app-error-messages
            [form]="form"
            fieldName="contributor_city"
            [formSubmitted]="formSubmitted"
          ></app-error-messages>
        </div>
      </div>
      <div class="col-3">
        <div class="field">
          <label for="contributor_state">STATE/PROVINCE</label>
          <p-dropdown
            inputId="contributor_state"
            formControlName="contributor_state"
            [options]="stateOptions"
            optionLabel="name"
            optionValue="code"
            [autoDisplayFirst]="false"
            appendTo="body"
          ></p-dropdown>
          <app-error-messages
            [form]="form"
            fieldName="contributor_state"
            [formSubmitted]="formSubmitted"
          ></app-error-messages>
        </div>
      </div>
      <div class="col-3">
        <div class="field">
          <label for="contributor_zip">ZIP/POSTAL CODE</label>
          <input type="text" pInputText id="contributor_zip" formControlName="contributor_zip" />
          <app-error-messages
            [form]="form"
            fieldName="contributor_zip"
            [formSubmitted]="formSubmitted"
          ></app-error-messages>
        </div>
      </div>
    </div>
    <p-divider></p-divider>
    <h3>Contribution</h3>
    <div class="grid">
      <div class="col-6">
        <div class="field">
          <label for="contribution_date">DATE RECEIVED</label>
          <p-calendar
            inputId="contribution_date"
            name="contribution_date"
            formControlName="contribution_date"
          ></p-calendar>
          <app-error-messages
            [form]="form"
            fieldName="contribution_date"
            [formSubmitted]="formSubmitted"
          ></app-error-messages>
        </div>
      </div>
    </div>
    <div class="grid">
      <div class="col-12">
        <div class="field">
          <p-checkbox
            [binary]="true"
            inputId="memo_code"
            formControlName="memo_code"
            label="MEMO ITEM"
            ariaLabel="have memo item"
            [trueValue]="true"
            [falseValue]="false"
          ></p-checkbox>
          <div class="memo-checkbox-note">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
          </div>
        </div>
      </div>
    </div>
    <div class="grid">
      <div class="col-6">
        <div class="field">
          <label for="contribution_amount">CONTRIBUTION AMOUNT</label>
          <input type="text" pInputText id="contribution_amount" formControlName="contribution_amount" />
          <app-error-messages
            [form]="form"
            fieldName="contribution_amount"
            [formSubmitted]="formSubmitted"
          ></app-error-messages>
        </div>
      </div>
      <div class="col-6">
        <div class="field">
          <label for="contribution_aggregate">CONTRIBUTION AGGREGATE</label>
          <input
            type="text"
            pInputText
            id="contribution_aggregate"
            formControlName="contribution_aggregate"
            class="readonly"
            readonly
          />
          <app-error-messages
            [form]="form"
            fieldName="contribution_aggregate"
            [formSubmitted]="formSubmitted"
          ></app-error-messages>
        </div>
      </div>
    </div>
    <p-divider></p-divider>
    <h3>Additional Information</h3>
    <div class="grid">
      <div class="col-12">
        <div>CONTRIBUTION PURPOSE DESCRIPTION (OPTIONAL)</div>
        <div>
          <textarea
            [rows]="4"
            [cols]="30"
            pInputTextarea
            [autoResize]="true"
            formControlName="contribution_purpose_descrip"
          ></textarea>
        </div>
      </div>
    </div>
    <div class="grid">
      <div class="col-12">
        <div>NOTE OR MEMO TEXT (OPTIONAL)</div>
        <div>
          <textarea
            [rows]="5"
            [cols]="30"
            pInputTextarea
            [autoResize]="true"
            formControlName="memo_text_description"
          ></textarea>
        </div>
      </div>
    </div>
    <p-divider></p-divider>
    <div class="grid">
      <div class="col-2">
        <button pButton pRipple label="Cancel" class="p-button-secondary" (click)="navigateTo('list')"></button>
      </div>
      <div class="col-4"></div>
      <div class="col-3">
        <button
          pButton
          pRipple
          label="Save & view all transactions"
          class="p-button-primary"
          (click)="save('list')"
        ></button>
      </div>
      <div class="col-3">
        <button pButton pRipple label="Save & add another" class="p-button-info" (click)="save('add another')"></button>
      </div>
    </div>
  </form>
</div>
