<app-name-form [fields]="fields().name" />
<hr />

<h3>Address</h3>
<app-address-form [fields]="fields().address" />
<fieldset class="grid-col-6">
  <label id="telephone-label" for="telephone">TELEPHONE (OPTIONAL)</label>
  <app-fec-international-phone-input [formField]="fields().telephone" />
</fieldset>

<hr />
<h3>Employer</h3>
<app-text-input
  class="grid-col-6 start-row"
  label="EMPLOYER (OPTIONAL)"
  inputId="employer"
  [formField]="fields().employer"
/>
<app-text-input
  class="grid-col-6"
  label="OCCUPATION (OPTIONAL)"
  inputId="occupation"
  [formField]="fields().occupation"
/>
