h2 {
  margin-bottom: 32px;
}

hr {
  margin: 32px 0;
}

fieldset {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
}

label,
p {
  font-size: 14px !important;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  font-size: 14px !important;
}

@for $i from 1 through 32 {
  .w-#{$i} {
    width: #{$i}em;
    min-width: #{$i}em;
    max-width: #{$i}em;
  }
}
