h2 {
  margin-bottom: 32px;
}

hr {
  margin: 32px 0;
}

fieldset {
  display: flex;
  flex-direction: column;
}

:host::ng-deep {
  .p-password-input {
    padding: 10px 36px 10px 10px !important;
  }
  .p-password-mask-icon {
    right: 14px;
  }

  .p-select {
    height: 42px;
  }
}

label {
  margin-bottom: 8px;
}

label,
input,
p,
:host::ng-deep .p-select .p-select-label {
  font-size: 14px !important;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  font-size: 14px !important;
}
