@media (min-width: 576px) {
  .confirm-information {
    min-width: 361px;
    max-width: 361px;
    width: 361px;
  }
}

@media (min-width: 625px) {
  .confirm-information {
    min-width: 410px;
    max-width: 410px;
    width: 410px;
  }
}

@media (min-width: 768px) {
  .confirm-information {
    min-width: 553px;
    max-width: 553px;
    width: 553px;
  }
}

@media (min-width: 992px) {
  .confirm-information {
    min-width: 777px;
    max-width: 777px;
    width: 777px;
  }
}
@media (min-width: 1200px) {
  .confirm-information {
    min-width: 985px;
    max-width: 985px;
    width: 985px;
  }
}
