.submission-status-heading {
  margin-bottom: 14px;
}

.submission-status-text {
  font-size: 18px;
  margin-bottom: 18px;
}

.submission-info-heading {
  font-family: var(--karla-bold);
  font-size: 20px;
  margin: 0px;
}

.submission-info-text {
  font-family: var(--karla);
  font-size: 14px;
  margin-bottom: 14px;
}

.assistance-heading {
  font-family: var(--karla-bold);
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 6px;
}

.assistance-text {
  font-family: var(--karla);
  font-size: 14px;
  margin-bottom: 30px;
}

.learn-more-button {
  margin-bottom: 30px;
}

.error-text {
  font-family: var(--karla);
  font-size: 16px;
  margin-bottom: 28px;
}

.failure-return-button {
  margin-top: 18px;
}

.success-return-button {
  margin-top: 34px;
}

.img-container {
  margin-top: 80px;
}

p {
  line-height: normal;
}

.status-image {
  max-width: 40vw;
  max-height: 40vh;
}
