.submission-status-heading {
  font-family: ghandi-bold, serif;
  font-size: 36px;
}

.submission-status-text {
  font-family: karla, sans-serif;
  font-size: 20px;
}

.submission-info-heading {
  font-family: karla-bold, serif;
  font-size: 20px;
}

.submission-info-text {
  font-family: karla, sans-serif;
  font-size: 14px;
}

.assistance-heading {
  font-family: karla-bold, serif;
  font-size: 16px;
}

.assistance-text {
  font-family: karla, sans-serif;
  font-size: 14px;
}

.error-text {
  font-family: karla, sans-serif;
  font-size: 16px;
}

.status-page-button {
  font-family: karla, sans-serif;
  font-size: 14px;
}
