.full-width {
  width: 100%;
}

.full-width > a {
  padding-left: 0.5rem;
  color: black;
}

.nav-item {
  display: flex;
  height: 34px;
  align-items: center;
  padding: 8px;
  font-size: 12px;
  font-family: 'karla-bold', sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  gap: 4px;
}

.nav-item:hover {
  background: #e8e8e8;
}

.nav-item.disabled {
  color: rgba(0, 0, 0, 0.3) !important;
}

.nav-item.disabled:hover {
  cursor: default;
}

.header-navbar-icon-disabled {
  filter: (invert(100%) sepia(100%) saturate(0%) brightness(135%));
}

li:hover {
  background: var(--surface-hover);
}
