.full-width {
  width: 100%;
}

.full-width > a {
  padding-left: 0.5rem;
  color: black;
}

.nav-item {
  display: flex;
  height: 34px;
  align-items: center;
  padding: 8px;
  font-size: 12px;
  font-family: var(--karla-bold);
  text-transform: uppercase;
  cursor: pointer;
  gap: 4px;
  border: none;
  background: transparent;
  width: 100%;
}

li:hover {
  background: var(--surface-hover);
}

.nav-item.disabled {
  color: rgba(0, 0, 0, 0.3) !important;
}

.nav-item.disabled:hover {
  cursor: default;
}

.header-navbar-icon-disabled {
  filter: (invert(100%) sepia(100%) saturate(0%) brightness(135%));
}

.popover-button {
  background-color: transparent;
  width: 100%;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  font-family: var(--karla);
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
}
