.create-committee-columns {
  display: flex;
  flex-direction: row;
}
.go-back {
  padding-bottom: 25px;
}

.left-side {
  flex-direction: column;
}
.right-side {
  flex-direction: column;
}

:host ::ng-deep {
  .search-group {
    .p-button {
      border: none;
      background-color: #aeb0b5;
      padding: 0rem 0.6rem;
    }

    .p-button:hover {
      background-color: #aeb0b5;
    }

    .p-button:focus {
      box-shadow: none;
    }
  }

  .search-input {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .search-button {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

.search-label {
  padding-top: 25px;
  display: flex;
  i {
    background-color: #132947;
    border-radius: 10px 10px 10px 10px;
    color: #ffffff;
    height: 20px;
    width: 20px;
    padding-top: 2px;
    text-align: center;
    margin-bottom: 5px;
  }
}
.explanation-header {
  font-size: xx-large;
  font-weight: bolder;
}
.committee-card {
  margin: 20px 3px;
  padding: 20px 10px;
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  box-shadow: 0 0 4px 0px #d1d1d1;
}
.unable-card {
  height: 200px;
  flex-direction: column;
}
.unable-excl-img {
  align-self: center;
}
.unable-verbiage {
  margin-top: 10px;
}
.unable-verbiage-p1 {
  text-align: center;
  font-family: karla-bold, serif;
  font-size: x-large;
  line-height: normal;
  margin-bottom: 10px;
}
.unable-verbiage-p2 {
  text-align: center;
  font-family: karla-bold, serif;
  font-size: small;
  line-height: normal;
}
.committee-info {
  padding-left: 10px;
  h3 {
    border-bottom: dotted 2px;
    border-color: #d1d1d1;
    margin: 0;
    cursor: pointer;
    display: inline;
  }
}
.right-side-box {
  display: flex;
  background-color: #f1f1f1;
  flex-direction: column;
  padding: 15px 25px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.search-examples {
  font-style: italic;
}
