<div class="flex create-committee-columns">
  <div class="col-6 left-side">
    <h1>Create an account</h1>
    <hr type="solid" />

    <img src="assets/img/Create-an-account.png" draggable="false" alt="Person sending email image" />
  </div>
  <div class="col-6 right-side">
    <div class="go-back">
      <a routerLink="/login/select-committee"><i class="pi pi-angle-left"></i> GO BACK</a>
    </div>
    <div class="right-side-box">
      <h2 class="m-0">Find your committee</h2>
      <div class="search-label">
        <h5 class="font-karla-bold mb-0 mr-1">COMMITTEE ID</h5>
        <i class="pi pi-question" (click)="showExplanation()"></i>
      </div>
      <p-inputGroup class="search-group">
        <input type="text" class="p-inputtext search-input" [formControl]="searchBoxFormControl" />
        <p-button pButton class="search-button" (click)="search(searchBoxFormControl.value)">
          <ng-template pTemplate="iconTemplate">
            <div>
              <img
                alt="Magnifying lens"
                src="assets/img/contact_lookup_magnifying_glass.svg"
                width="35px"
                height="35px"
              />
            </div>
          </ng-template>
        </p-button>
      </p-inputGroup>
      <p class="search-examples font-karla mt-1">Examples: C00431445, C00343509</p>
    </div>
    @if (selectedCommittee || unableToCreateAccount) {
      <div class="right-side-box">
        <h2 class="m-0">Result</h2>
        @if (selectedCommittee) {
          <div class="committee-card">
            <img alt="Document with magnifying lens" src="assets/img/document-with-lens.svg" />
            <div class="committee-info">
              <h3>{{ selectedCommittee.name }}</h3>
              <h5 class="font-karla-bold mb-0">{{ selectedCommittee.committee_id }}</h5>

              <p-button
                class="create-button"
                label="Create account"
                styleClass="p-button-primary"
                (click)="createAccount()"
                icon="pi pi-angle-right"
                iconPos="right"
              >
              </p-button>
            </div>
          </div>
        }
        @if (unableToCreateAccount) {
          <div class="committee-card unable-card">
            <div class="unable-excl-img">
              <img alt="Exclamation mark" src="assets/img/exclamation.svg" />
            </div>
            <div class="unable-verbiage">
              <p class="unable-verbiage-p1">Unable to create account</p>
              <p class="unable-verbiage-p2">CONTACT FECFILE TECHNICAL SUPPORT FOR HELP</p>
            </div>
          </div>
        }
      </div>
    }
  </div>
</div>

<p-dialog
  [(visible)]="explanationVisible"
  [modal]="true"
  [dismissableMask]="true"
  [closeOnEscape]="true"
  [style]="{ width: '40%' }"
  [draggable]="false"
  [resizable]="false"
>
  <ng-template #header>
    <span class="explanation-header">What am I searching?</span>
  </ng-template>
  <p>
    The committee ID lookup searches FEC's global lookup of all committees registered with the Federal Election
    Commission.
  </p>
  <p>This lookup is not searching FECFile's database of committees with a FECFile account.</p>
  <p>
    If the system cannot find the committee ID entered, please doublecheck that the ID was entered correctly. Also, if
    the committee was just created and the Form 1 was recently submitted, please wait 24 hours for the database to
    update. For all other questions, don't hesitate to get in touch with FECFile technical support for assistance.
  </p>
  <ng-template #footer>
    <div class="top-border-footer">
      <p-button (click)="explanationVisible = false" label="Close" pAutoFocus [autofocus]="true"></p-button>
    </div>
  </ng-template>
</p-dialog>
