<app-text-input
  class="grid-col-6 start-row"
  [formField]="fields().candidate_id"
  inputId="candidate_id"
  label="CANDIDATE ID"
  [forceUpper]="true"
/>
<app-name-form [fields]="fields().name" />
<hr />

<h3>Address</h3>
<app-address-form [fields]="fields().address" />
<app-telephone-input class="grid-col-6" [formField]="fields().telephone" inputId="telephone" />

<hr />
<h3>Employer</h3>
<app-text-input
  class="grid-col-6 start-row"
  label="EMPLOYER"
  [optional]="true"
  inputId="employer"
  [formField]="fields().employer"
/>
<app-text-input
  class="grid-col-6"
  label="OCCUPATION"
  [optional]="true"
  inputId="occupation"
  [formField]="fields().occupation"
/>

<hr />
<h3>Office</h3>
<app-candidate-office-form [fields]="fields().office" />
