<div [formGroup]="form">
  <div class="grid">
    <div class="col-12">
      <div class="field">
        <label for="designated_or_subordinate_dropdown">
          ADD DESIGNATING COMMITTEE OR SUBORDINATE COMMITTEE? (Optional)
        </label>
        <p-select
          inputId="designated_or_subordinate_dropdown"
          class="w-full"
          [formControlName]="filer_designated_to_make_coordinated_expenditures"
          [options]="designatedOrSubordinateOptions"
          [autoDisplayFirst]="false"
          appendTo="body"
        ></p-select>
        <app-error-messages
          [form]="form"
          [fieldName]="filer_designated_to_make_coordinated_expenditures"
          [formSubmitted]="formSubmitted"
        ></app-error-messages>
      </div>
    </div>
  </div>
  @if (designatedOrSubordinate) {
    <div class="grid">
      <div class="col-12">
        <div class="field" [class.transaction-contact-invalid]="affiliatedContact.control?.status === 'INVALID'">
          <label for="entity_type">LOOKUP</label>
          <app-transaction-contact-lookup
            [form]="form"
            [formSubmitted]="formSubmitted"
            [contactTypeOptions]="affiliatedContact.contactTypeOptions"
            (contactSelect)="affiliatedContact.update($event)"
          >
          </app-transaction-contact-lookup>
          <app-error-messages
            [form]="form"
            [fieldName]="affiliatedContact.contactLookupKey"
            [formSubmitted]="formSubmitted"
          ></app-error-messages>
        </div>
      </div>
    </div>
  }
  @switch (designatedOrSubordinate) {
    @case ('Y') {
      @if (transaction?.contact_2) {
        <div class="grid">
          <div class="col-9">
            <div class="field">
              <label for="designating_committee_name">
                DESIGNATING COMMITTEE NAME
              </label>
              <input
                type="text"
                pInputText
                id="designating_committee_name"
                [formControlName]="designating_committee_name"
              />
              <app-error-messages
                [form]="form"
                [fieldName]="designating_committee_name"
                [formSubmitted]="formSubmitted"
              ></app-error-messages>
            </div>
          </div>
          <div class="col-3">
            <div class="field">
              <label for="designating_committee_id_number">
                DESIGNATING COMMITTEE ID
              </label>
              <input
                type="text"
                pInputText
                id="designating_committee_id_number"
                [formControlName]="designating_committee_id_number"
              />
              <app-error-messages
                [form]="form"
                [fieldName]="designating_committee_id_number"
                [formSubmitted]="formSubmitted"
              ></app-error-messages>
            </div>
          </div>
        </div>
      }
    }
    @case ('N') {
      @if (transaction?.contact_3) {
        <div class="grid">
          <div class="col-9">
            <div class="field">
              <label for="subordinate_committee_name">
                SUBORDINATE COMMITTEE NAME
              </label>
              <input
                type="text"
                pInputText
                id="subordinate_committee_name"
                [formControlName]="subordinate_committee_name"
              />
              <app-error-messages
                [form]="form"
                [fieldName]="subordinate_committee_name"
                [formSubmitted]="formSubmitted"
              ></app-error-messages>
            </div>
          </div>
          <div class="col-3">
            <div class="field">
              <label for="subordinate_committee_id_number">
                SUBORDINATE COMMITTEE ID
              </label>
              <input
                type="text"
                pInputText
                id="subordinate_committee_id_number"
                [formControlName]="subordinate_committee_id_number"
              />
              <app-error-messages
                [form]="form"
                [fieldName]="subordinate_committee_id_number"
                [formSubmitted]="formSubmitted"
              ></app-error-messages>
            </div>
          </div>
        </div>
        <app-address-input
          [form]="form"
          [formSubmitted]="formSubmitted"
          [templateMap]="templateMap"
          templateMapKeyPrefix="secondary"
        ></app-address-input>
      }
    }
    @default {}
  }
</div>
