@use 'mixins' as *;

:host::ng-deep {
  .summary-container {
    @include standard-container();
  }

  .p-datatable .p-datatable-tbody > tr:not(:last-child) > td {
    border-bottom: 1px solid black;
  }

  .p-datatable .p-datatable-tbody > tr:nth-child(even),
  .p-datatable .p-datatable-tbody > tr:nth-child(odd) {
    background-color: transparent;
  }

  h2 {
    font-family: var(--gandhi-bold);
    font-weight: bolder;
    font-size: 24px !important;
  }

  .description-column .bold {
    font-family: var(--karla-bold);
  }

  .description-column .italic {
    font-style: italic;
  }

  .description-meta {
    color: #777;
  }

  .p-datatable-tbody > tr .gray {
    background-color: blue;
  }

  .has-federal-total .p-datatable-tbody > tr:last-child {
    background-color: var(--gray-200);
  }

  .line-column {
    display: none;
  }

  .cell-with-overlay {
    align-items: center;
    gap: 0.25rem;
  }

  .overlay-content {
    white-space: pre-line;
  }

  .period-column {
    @include fixed-width(130px);
    text-align: right !important;
  }

  .ytd-column {
    @include fixed-width(160px);
    text-align: right !important;
  }

  @include breakpoint('md') {
    .line-column {
      display: table-cell;
      @include fixed-width(72px);
    }
  }
}

.table-bottom {
  margin-top: 0rem;
  margin-bottom: 32px;
}

.parenthesis-text {
  color: grey;
}
