<div class="grid">
  <div class="col-12">
    <p-panel header="Upcoming Reports"></p-panel>
  </div>
</div>
<div class="grid">
  <div class="col-6">
    <p-panel header="Recent Saved Reports"></p-panel>
  </div>
  <div class="col-6">
    <p-panel header="Submitted Reports"></p-panel>
  </div>
</div>
<div class="grid">
  <div class="col-4">
    <p-panel header="Tips for Treasurers">
      <ul>
        <li>
          <a href="https://www.fec.gov/updates/?update_type=tips-for-treasurers#feed" target="_blank" rel="noopener"
            >Tips for Treasurers</a
          >
        </li>
      </ul>
    </p-panel>
  </div>
  <div class="col-4">
    <p-panel header="Helpful Resources">
      <ul>
        <li>
          <a href="https://www.fec.gov/data/committee/cmte_id/" target="_blank" rel="noopener"
            >My Profile Page on fec.gov</a
          >
        </li>
        <li>
          <a href="https://www.fec.gov/help-candidates-and-committees/" target="_blank" rel="noopener"
            >Contribution limits in special elections</a
          >
        </li>
        <li><a href="https://www.fec.gov/efiling" target="_blank">Electronic Filing</a></li>
        <li>
          <a href="https://www.fec.gov/help-candidates-and-committees/question-rad/" target="_blank" rel="noopener"
            >Submit a Question to Your Assigned Analyst</a
          >
        </li>
      </ul>
    </p-panel>
  </div>
  <div class="col-4">
    <p-panel header="Tips for Treasurers">
      <ul>
        <li><a href="https://www.fec.gov/updates/" target="_blank" rel="noopener">Latest Updates</a></li>
      </ul>
    </p-panel>
  </div>
</div>
