<div class="container">
  <div class="side">
    <div class="card" id="in-progress-card">
      <div class="card-body">
        <h2 class="card-title">In-progress reports</h2>
        <div id="report-container">
          @for (report of reports; track report.report_code_label) {
            <p class="card-text" #reportText>{{ report.report_code_label }}</p>
          }
        </div>
      </div>
      <div class="card-footer">
        <a (click)="dialogVisible = true">
          <span>Start a different report</span><img alt="next page icon" src="/assets/img/next_arrow.svg" />
        </a>
      </div>
    </div>
    <div class="card" id="cash-on-hand-card">
      <div class="card-body">
        <h2 class="card-title">Cash on-hand</h2>
        <p class="card-text"></p>
      </div>
      <div class="card-footer"></div>
    </div>
  </div>
  <div class="side">
    <div class="card" id="recently-submitted-card">
      <div class="card-body">
        <h2 class="card-title">Recently submitted reports</h2>
        <p class="card-text"></p>
      </div>
      <div class="card-footer">
        <a routerLink="/reports">
          <span>Manage reports</span><img alt="next page icon" src="/assets/img/next_arrow.svg" />
        </a>
      </div>
    </div>
  </div>
</div>

<app-form-type-dialog
  [noReports]="reports.length === 0"
  (dialogClose)="dialogVisible = false"
  [dialogVisible]="dialogVisible"
></app-form-type-dialog>
