<div class="grid">
  <div class="col-12">
    <p-panel header="Upcoming Reports"></p-panel>
  </div>
</div>
<div class="grid">
  <div class="col-6">
    <p-panel header="Recent Saved Reports"></p-panel>
  </div>
  <div class="col-6">
    <p-panel header="Submitted Reports"></p-panel>
  </div>
</div>
<div class="grid">
  <div class="col-4">
    <p-panel header="Tips for Treasurers">
      <ul>
        <li>
          <a href="https://www.fec.gov/updates/?update_type=tips-for-treasurers#feed" rel="noopener" target="_blank"
          >Tips for Treasurers</a
          >
        </li>
      </ul>
    </p-panel>
  </div>
  <div class="col-4">
    <p-panel header="Helpful Resources">
      <ul>
        <li>
          <a href="https://www.fec.gov/data/committee/cmte_id/" rel="noopener" target="_blank"
          >My Profile Page on fec.gov</a
          >
        </li>
        <li>
          <a href="https://www.fec.gov/help-candidates-and-committees/" rel="noopener" target="_blank"
          >Contribution limits in special elections</a
          >
        </li>
        <li><a href="https://www.fec.gov/efiling" target="_blank">Electronic Filing</a></li>
        <li>
          <a href="https://www.fec.gov/help-candidates-and-committees/question-rad/" rel="noopener" target="_blank"
          >Submit a Question to Your Assigned Analyst</a
          >
        </li>
      </ul>
    </p-panel>
  </div>
  <div class="col-4">
    <p-panel header="Tips for Treasurers">
      <ul>
        <li><a href="https://www.fec.gov/updates/" rel="noopener" target="_blank">Latest Updates</a></li>
      </ul>
    </p-panel>
  </div>
</div>
