.summary-header {
  margin-bottom: 20px;
}

.summary-header h1 {
  margin-bottom: 0;
}

.report-summary th {
  border-top: 2px solid black;
  border-bottom: 3px solid lightgray;
  border-left: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.report-summary td {
  text-align: center;
  border-top: 0;
  border-bottom: 1px solid lightgray;
  border-left: 0;
  padding: 10px;
}

.report-summary .right-border {
  border-right: 1px solid lightgray;
}

.report-summary th.justify-left,
.report-summary td.justify-left {
  text-align: left;
}

.report-summary .last {
  border-bottom: 2px solid black;
}

.button-message {
  margin-top: 10px;
  color: gray;
}
