$glossary-width: 284px;
::ng-deep {
  .p-drawer {
    width: $glossary-width;
  }
  .p-drawer-header {
    justify-content: right;
    padding: 1rem 2rem !important;
  }
  .p-drawer-header,
  .p-drawer-content {
    width: $glossary-width;
    background-color: var(--p-content-color) !important;
    color: white;
  }
  .p-drawer-content {
    padding: 0 1.5rem !important;
    font-family: var(--karla);
  }

  .p-panel,
  .p-panel-header,
  .p-panel-content-container,
  .p-panel-content {
    background-color: var(--p-content-color) !important;
    color: white !important;
    border: 0 !important;
    padding: 0 !important;
    font-size: 14px;
  }

  .p-panel-content-container {
    margin-top: 1.5rem;
  }
}

.field,
input {
  font-size: 14px;
}

.minus-icon-mask,
.plus-icon-mask {
  background-color: white;
  width: 16px !important;
  height: 16px !important;
  cursor: pointer;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}

.minus-icon-mask {
  mask-image: url('/assets/img/i-minus-circle.svg');
}

.plus-icon-mask {
  mask-image: url('/assets/img/i-plus-circle.svg');
}

li {
  list-style: disc;
  margin-top: 0.5rem;
  margin-left: 1rem;
  line-height: 1.5;
}

h1 {
  font-size: 24px;
}

.collapsible-content {
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}
