$glossary-width: 284px;
::ng-deep {
  .p-drawer {
    width: $glossary-width;
  }
  .p-drawer-header {
    justify-content: right;
    padding: 1rem 2rem !important;
  }
  .p-drawer-header,
  .p-drawer-content {
    width: $glossary-width;
    background-color: var(--p-content-color) !important;
    color: white;
  }
  .p-drawer-content {
    padding: 0 1.5rem !important;
    font-family: var(--karla);
  }
}

.field,
input {
  font-size: 14px;
}

.minus-icon-mask {
  background-color: white;
  width: 16px;
  height: 16px;

  mask-image: url('/assets/img/i-minus-circle.svg');
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}

li {
  list-style: disc;
  margin-top: 0.5rem;
  margin-left: 1rem;
  line-height: 1.5;
}

h1 {
  font-size: 24px;
}
