<p-drawer [(visible)]="glossaryService.visible" position="right">
  <h1>Glossary</h1>
  <div class="field mt-4">
    <label for="searchTerm">SEARCH TERMS</label>
    <input id="searchTerm" type="text" [(ngModel)]="searchTerm" />
    <span class="font-italic mt-1">Example: Conduit Earmark Receipt</span>
    <div class="mt-4">
      <div class="my-4 flex justify-content-between">
        @if (found()) {
          <span class="font-bold">{{ found() }}</span>
          <div class="minus-icon-mask"></div>
        } @else {
          <span>No Results</span>
        }
      </div>
      <div class="line-height-3">{{ data()[0] }}</div>
      @if (data().length > 1) {
        <ul>
          @for (d of data(); track d; let isFirst = $first) {
            @if (!isFirst) {
              <li>{{ d }}</li>
            }
          }
        </ul>
      }
      <hr class="mt-3 border-top-1" />
    </div>
  </div>
</p-drawer>
