$glossary-width: 284px;
::ng-deep {
  .drawer-container {
    width: $glossary-width;
  }
  .drawer-header {
    justify-content: right;
    padding: 1rem 2rem !important;
  }
  .drawer-header,
  .drawer-content {
    width: $glossary-width;
    background-color: var(--p-content-color) !important;
    color: white;
  }
  .drawer-content {
    padding: 0 1.5rem !important;
    font-family: var(--karla);
  }

  .drawer-container,
  .drawer-header,
  .drawer-content {
    background-color: var(--p-content-color) !important;
    color: white !important;
    border: 0 !important;
    font-size: 14px;
  }
}

.field,
input {
  font-size: 14px;
}

li {
  list-style: disc;
  margin-top: 0.5rem;
  margin-left: 1rem;
  line-height: 1.5;
}

h1 {
  font-size: 24px;
}
