<section
  id="service-unavailable-banner"
  class="banner"
  aria-label="FECfile+ is temporarily unavailable: Please try logging in again shortly."
>
  <div class="banner-inner">
    <p class="banner-text">
      <svg aria-hidden="true" height="20" width="20" class="inverted-warning-icon">
        <use href="assets/img/exclamation.svg#exclamation-icon"></use>
      </svg>
      <span><strong>FECfile+ is temporarily unavailable: </strong>Please try logging in again shortly.</span>
    </p>
  </div>
</section>
