.banner {
  min-height: 43px;
  background-color: #631010;
  color: #fff;
  display: grid;
  place-items: center;
  box-sizing: border-box;
}

.banner-inner {
  width: min(100%, 1200px);
  padding: 0 24px;
}

.banner-text {
  margin: 0;
  font-family: var(--karla);
  line-height: 19px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
