<section
  id="service-unavailable-banner"
  class="service-unavailable-banner"
  aria-label="FECfile+ is temporarily unavailable: Please try logging in again shortly."
>
  <header class="service-unavailable-banner__header">
    <div class="service-unavailable-banner__inner">
      <div class="service-unavailable-banner__header-text">
        <p aria-label="FECfile+ is temporarily unavailable: Please try logging in again shortly.">
          <i class="pi pi-exclamation-circle" style="padding-top: 8px"></i>
          FECfile+ is temporarily unavailable: Please try logging in again shortly.
        </p>
      </div>
    </div>
  </header>
</section>
