<section
  id="service-unavailable-banner"
  class="banner"
  aria-label="FECfile+ is temporarily unavailable: Please try logging in again shortly."
>
  <header class="banner-header">
    <div class="banner-inner">
      <div class="banner-header-text">
        <p
          aria-label="FECfile+ is temporarily unavailable: Please try logging in again shortly."
          class="gap-2 flex justify-content-center align-items-center"
        >
          <svg alt="Warning exclamation" height="20" width="20" class="inverted-warning-icon">
            <use href="assets/img/exclamation.svg"></use>
          </svg>
          FECfile+ is temporarily unavailable: Please try logging in again shortly.
        </p>
      </div>
    </div>
  </header>
</section>
