.add-contact-container {
  padding: 10px 0 0 10px;
  font-size: 1.2em;
  font-family: var(--karla);
  align-content: center;
}

.add-contact-container span {
  padding: 0 0.3em;
  cursor: pointer;
}

.add-contact-container img {
  margin-right: 5px;
  vertical-align: middle;
}

.contact-lookup-container {
  max-width: 65em;
}
