.add-contact-container {
  padding: 0 0 0 10px;
  font-size: 1.2em;
  font-family: var(--karla-bold);
  align-content: center;
}

.add-contact-container span {
  padding: 0 0.3em;
}

.add-contact-container a {
  border-bottom: none;
}

.contact-lookup-container {
  max-width: 65em;
}
