<app-dialog
  tabindex="-1"
  aria-labelledby="dialog-title"
  title="Edit name"
  submitLabel="Save"
  [(visible)]="visible"
  (confirm)="submit()"
>
  <form id="edit-name-form" class="flex flex-column gap-5">
    <div class="field mb-0">
      <label class="dialog-label" for="first-name">FIRST NAME</label>
      <input autofocus type="text" pInputText id="first-name" [formField]="form.first" />
      @if (form.first().touched() && form.first().invalid()) {
        <small class="p-error"> {{ form.first().errors()[0].message }} </small>
      }
    </div>
    <div class="field mb-0">
      <label class="dialog-label" for="last-name">LAST NAME</label>
      <input type="text" pInputText id="last-name" [formField]="form.last" />
      @if (form.last().touched() && form.last().invalid()) {
        <small class="p-error"> {{ form.last().errors()[0].message }} </small>
      }
    </div>
  </form>
</app-dialog>
