<ng-template #committeeIdBody let-item>
  <span>{{ item.committee_id }}</span>
</ng-template>
<ng-template #activeMembersBody let-item>{{ item.active_members }}</ng-template>
<ng-template #pendingMembersBody let-item>{{ item.pending_members }}</ng-template>
<ng-template #actionsBody let-item>
  <app-table-actions-button
    (tableActionClick)="$event.action.action($event.actionItem)"
    [actionItem]="item"
    [tableActions]="rowActions"
    buttonIcon="pi pi-ellipsis-v"
    buttonStyleClass="flex justify-content-center p-button-rounded p-button-primary p-button-text mr-2"
  />
</ng-template>

<app-table
  [(first)]="first"
  [items]="items"
  title="Registered Committees"
  [(totalItems)]="totalItems"
  [loading]="loading"
  sortField="committee_id"
  [(rowsPerPage)]="rowsPerPage"
  [globalFilterFields]="['committee_id', 'active_members', 'pending_members']"
  [(selectedItems)]="selectedItems"
  itemName="users"
  [columns]="columns"
  (loadTableItems)="loadTableItems($event)"
>
</app-table>
<div class="col-3">
  <button
    type="button"
    pButton
    pRipple
    label="Back"
    class="p-button-primary"
    (click)="router.navigateByUrl('/admin')"
  ></button>
</div>
