.usa-banner {
  background-color: #f0f0f0;
}

.usa-banner .grid-row {
  display: flex !important;
  flex-wrap: wrap !important;
}

.usa-banner .grid-row.grid-gap-lg>* {
  padding-left: .75rem;
  padding-right: .75rem;
}

@media all and (min-width:40em) {
  .usa-banner .grid-row .tablet\:grid-col-6 {
    flex: 0 1 auto;
    width: 50%;
  }
}

.usa-banner__content {
  margin-left: auto;
  margin-right: auto;
  max-width: 60rem;
  background-color: transparent;
  font-size: 1rem;
  overflow: hidden;
  padding: .25rem 1rem 1rem .5rem;
  width: 100%;
}

@media all and (min-width:64em) {
  .usa-banner__content {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media all and (min-width:40em) {
  .usa-banner__content {
    padding-bottom: .5rem;
    padding-top: .5rem;
  }
}

.usa-banner__guidance {
  display: flex;
  align-items: flex-start;
  max-width: 64ex;
  padding-top: 1rem;
}

.usa-banner__lock-image {
  height: 1.5ex;
  width: 1.21875ex;
}

.usa-banner__inner {
  margin-left: 0;
  margin-right: auto;
  max-width: 64rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex !important;
  flex-wrap: wrap !important;
  align-items: center;
}

.usa-banner__header {
  padding-bottom: .4rem;
  padding-top: .4rem;
  min-height: 0;
}

.usa-banner__header-text {
  font-family: karla,sans-serif;
  margin-bottom: 0;
  margin-top: 0;
  font-size: .9rem;
  line-height: 1.1;
}

.usa-banner__header-flag {
  padding-top: .125rem;
  float: left;
  margin-right: .5rem;
  width: 1rem;
}

.usa-banner__button {
  color: #005ea2;
}

.usa-banner__button::after {
  background-image: url(/assets/img/uswds/expand_more.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1rem 1rem;
  display: inline-block;
  height: 1rem;
  width: 1rem;
  content: "";
  vertical-align: middle;
  margin-left: px;
}

.usa-banner__button[aria-expanded=true]::after {
  background: url(/assets/img/uswds/expand_less.svg)no-repeat center/contain;
}

.usa-banner__button-text {
  text-decoration: underline;
}

.usa-banner__icon {
  width: 2.5rem;
  margin-right: .75rem;
}

.usa-media-block__body p {
  line-height: 1.75;
}