.usa-banner {
  background-color: #f0f0f0;
  width: 100%;
  height: var(--header-top);
  overflow: hidden;
  transition: var(--header-transition);
}

.usa-banner .grid-row {
  display: flex !important;
  flex-wrap: wrap !important;
}

.usa-banner .grid-row.grid-gap-lg > * {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

@media all and (min-width: 40em) {
  .usa-banner .grid-row .tablet\:grid-col-6 {
    flex: 0 1 auto;
    width: 50%;
  }
}

#gov-banner-default-default {
  display: none;
  p {
    font-family: var(--karla);
  }
  margin: auto;
  max-width: 60rem;
  background-color: transparent;
  font-size: 1rem;
  overflow: hidden;
  padding: 0.25rem 1rem 1rem 0.5rem;
  width: 100%;
}

@media all and (min-width: 64em) {
  #gov-banner-default-default {
    padding-block: 1rem;
  }
}

@media all and (min-width: 40em) {
  #gov-banner-default-default {
    padding-block: 0.5rem;
  }
}

.usa-banner__guidance {
  display: flex;
  align-items: flex-start;
  max-width: 64ex;
  padding-top: 1rem;
}

.usa-banner__lock-image {
  height: 1.5ex;
  width: 1.21875ex;
}

.usa-banner-header {
  padding: 0.4rem 1rem;
  min-height: 0;
  margin-inline: 0;
  display: flex;
  align-items: center;
}

.usa-banner-header-text {
  font-family: var(--karla);
  margin-block: 0;
  font-size: 13px;
  line-height: 1.1;
  width: fit-content;
}

.usa-banner-flag {
  padding-top: 0.125rem;
  margin-right: 0.5rem;
  width: 1rem;
}

.usa-banner__button {
  color: #005ea2;
}

.usa-banner__button::after {
  background-image: url(/assets/img/uswds/expand_more.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1rem 1rem;
  display: inline-block;
  height: 1rem;
  width: 1rem;
  content: '';
  vertical-align: middle;
  margin-left: px;
}

.usa-banner__button[aria-expanded='true']::after {
  background: url(/assets/img/uswds/expand_less.svg) no-repeat center/contain;
}

.usa-banner__button-text {
  text-decoration: underline;
  font-size: 13px;
}

.usa-banner__icon {
  width: 2.5rem;
  margin-right: 0.75rem;
}

.usa-media-block__body p {
  line-height: 1.75;
}
