<main>
  <h1>Election cycles</h1>
  <section id="election-cycle-info" aria-labelledby="cycle-info-heading">
    <h2 id="cycle-info-heading" class="sr-only">About election cycles</h2>
    <p>
      To create and file a Form 3, you'll need to provide the dates of the election cycle. An election cycle begins the
      day after the previous general election for a given federal office and ends on the date of the general election
      for that office.
    </p>
    <p>
      For current election cycle dates or information on special elections, visit
      <a href="https://fec.gov" target="_blank" rel="noopener noreferrer">FEC.gov</a>.
    </p>
    <p>
      Keep in mind that election cycles cannot overlap, so if you've already created future cycles, you may need to
      update those cycles as well to reflect the new dates. In the event of a runoff, the cycle end date should be
      updated to the day of the runoff election.
    </p>
  </section>
  <section id="manage-election-cycles" aria-labelledby="manage-cycles-heading">
    <header class="flex mb-2 justify-content-between align-items-center">
      <h2 id="manage-cycles-heading">Manage election cycles</h2>
      <button
        pButton
        pRipple
        type="button"
        label="Add new cycle"
        icon="pi pi-plus"
        class="add-button"
        (click)="addItem()"
        [disabled]="isEditing()"
      ></button>
    </header>
    <form [formRoot]="form">
      <p-table
        #dt
        dataKey="id"
        [(rows)]="rowsPerPage"
        [(first)]="first"
        [value]="items()"
        [totalRecords]="totalItems()"
        [loading]="electionCycleData.isLoading()"
        [currentPageReportTemplate]="'Showing {first} to {last} of {totalRecords} items'"
        sortField="-electionYear,-startDate"
        [sortOrder]="-1"
        [lazy]="true"
        [lazyLoadOnInit]="false"
        [showCurrentPageReport]="true"
        stripedRows
        showGridlines
        [pt]="{ root: 'standard-container' }"
        editMode="row"
      >
        <ng-template pTemplate="header">
          <tr role="row">
            @for (col of columns(); track col) {
              @if (col.header === '') {
                <td [style.width]="col.width"></td>
              } @else {
                <th [style.width]="col.width" scope="col">
                  <span>{{ col.header }}</span>
                </th>
              }
            }
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-rowIndex="rowIndex" let-editing="editing">
          <tr role="row" [pEditableRow]="item">
            <td [class.vertical-align-top]="editing">
              <p-cellEditor>
                <ng-template #input>
                  <app-select-input
                    [options]="officeOptions"
                    [formField]="form.office"
                    label="Office"
                    labelStyleClass="sr-only"
                    appendTo="body"
                  />
                </ng-template>
                <ng-template #output>
                  <span>{{ item.office }}</span>
                </ng-template>
              </p-cellEditor>
            </td>
            <td [class.vertical-align-top]="editing">
              <p-cellEditor>
                <ng-template #input>
                  <app-select-input
                    [options]="electionTypeOptions"
                    [formField]="form.electionType"
                    label="Election Type"
                    labelStyleClass="sr-only"
                    appendTo="body"
                  />
                </ng-template>
                <ng-template #output>
                  <span>{{ item.electionType }}</span>
                </ng-template>
              </p-cellEditor>
            </td>
            <td [class.vertical-align-top]="editing">
              <p-cellEditor>
                <ng-template #input>
                  <app-number-input [formField]="form.electionYear" label="Election Year" labelStyleClass="sr-only" />
                </ng-template>
                <ng-template #output>
                  <span>{{ item.electionYear }}</span>
                </ng-template>
              </p-cellEditor>
            </td>
            <td [class.vertical-align-top]="editing">
              <p-cellEditor>
                <ng-template #input>
                  <app-date-input [formField]="form.coverage.startDate" label="Start Date" labelStyleClass="sr-only" />
                </ng-template>
                <ng-template #output>
                  <span>{{ item.coverage.startDate | fecDate }}</span>
                </ng-template>
              </p-cellEditor>
            </td>
            <td [class.vertical-align-top]="editing">
              <p-cellEditor>
                <ng-template #input>
                  <app-date-input [formField]="form.coverage.endDate" label="End Date" labelStyleClass="sr-only" />
                </ng-template>
                <ng-template #output>
                  <span>{{ item.coverage.endDate | fecDate }}</span>
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              @if (!editing) {
                <button
                  pButton
                  pRipple
                  type="button"
                  pInitEditableRow
                  (click)="onRowEditInit(item)"
                  text
                  severity="secondary"
                  label="Edit"
                  [disabled]="isEditing()"
                ></button>
              }
            </td>
          </tr>
        </ng-template>
        <app-shared-table-templates
          #sharedTpls
          [(rowsPerPage)]="rowsPerPage"
          [(first)]="first"
          [totalItems]="totalItems()"
          itemName="cycles"
        />
        <ng-template pTemplate="summary">
          <ng-container *ngTemplateOutlet="sharedTpls.summaryTemplate()" />
        </ng-template>
        <ng-template #emptyMessageTemplate>
          <td colspan="100" class="mx-3 empty-message">You have no election cycles</td>
        </ng-template>
      </p-table>
      @if (isEditing()) {
        <div class="flex justify-content-between mt-3">
          <button
            pButton
            pRipple
            class="p-button-secondary"
            aria-label="add new cycle-cancel-button"
            (click)="cancelEdit()"
          >
            Cancel
          </button>
          <button
            pButton
            pRipple
            [disabled]="disableSubmission()"
            type="submit"
            class="p-button-primary"
            aria-label="add new cycle-save-button"
          >
            Save
          </button>
        </div>
      }
    </form>
  </section>
</main>
