<div [formGroup]="form" [attr.data-cy]="contextDataCy('designated-subordinate', 'panel')">
  <div class="grid">
    <div class="col-12">
      <app-select
        inputId="designated_or_subordinate_dropdown"
        label="ADD DESIGNATING COMMITTEE OR SUBORDINATE COMMITTEE?"
        [optionalLabel]="true"
        [options]="designatedOrSubordinateOptions"
        [form]="form"
        formControlName="filer_designated_to_make_coordinated_expenditures"
        [formSubmitted]="formSubmitted"
        [dataCyContext]="contextDataCy('designated-subordinate')"
        (update)="onDesignatedOrSubordinateChange($event)"
      />
    </div>
  </div>
  @if (this.form.get('filer_designated_to_make_coordinated_expenditures')?.value === true) {
    <div class="grid">
      <div class="col-12">
        <div class="field">
          <span class="span-label" id="contact_4_label">LOOKUP</span>
          <app-transaction-contact-lookup
            aria-labelledby="contact_4_label"
            contactProperty="contact_4"
            [transaction]="transaction()"
            [form]="form"
            [formSubmitted]="formSubmitted"
            [contactTypeOptions]="committeeContactTypeOptions"
            [attr.data-cy]="contextDataCy('designating-committee', 'lookup')"
            (contactSelect)="onDesignatingCommitteeSelect($event)"
          />
        </div>
      </div>
    </div>
    <div class="grid">
      <div class="col-9">
        <div class="field" [attr.data-cy]="fieldDataCy('designating_committee_name', 'field')">
          <label for="designating_committee_name">DESIGNATING COMMITTEE NAME</label>
          <input
            type="text"
            pInputText
            id="designating_committee_name"
            formControlName="designating_committee_name"
            [attr.data-cy]="fieldDataCy('designating_committee_name')"
          />
          <app-error-messages
            [form]="form"
            fieldName="designating_committee_name"
            [formSubmitted]="formSubmitted"
            [dataCyContext]="dataCyContext"
          />
        </div>
      </div>
      <div class="col-3">
        <div class="field" [attr.data-cy]="fieldDataCy('designating_committee_id_number', 'field')">
          <label for="designating_committee_id_number">DESIGNATING COMMITTEE ID</label>
          <input
            type="text"
            pInputText
            id="designating_committee_id_number"
            formControlName="designating_committee_id_number"
            [attr.data-cy]="fieldDataCy('designating_committee_id_number')"
          />
          <app-error-messages
            [form]="form"
            fieldName="designating_committee_id_number"
            [formSubmitted]="formSubmitted"
            [dataCyContext]="dataCyContext"
          />
        </div>
      </div>
    </div>
  }
  @if (this.form.get('filer_designated_to_make_coordinated_expenditures')?.value === false) {
    <div class="grid">
      <div class="col-12">
        <div class="field">
          <span class="span-label" id="contact_5_label">LOOKUP</span>
          <app-transaction-contact-lookup
            aria-labelledby="contact_5_label"
            contactProperty="contact_5"
            [transaction]="transaction()"
            [form]="form"
            [formSubmitted]="formSubmitted"
            [contactTypeOptions]="committeeContactTypeOptions"
            [attr.data-cy]="contextDataCy('subordinate-committee', 'lookup')"
            (contactSelect)="onSubordinateCommitteeSelect($event)"
          />
        </div>
      </div>
    </div>
    <div class="grid">
      <div class="col-9">
        <div class="field" [attr.data-cy]="fieldDataCy('subordinate_committee_name', 'field')">
          <label for="subordinate_committee_name">SUBORDINATE COMMITTEE NAME</label>
          <input
            type="text"
            pInputText
            id="subordinate_committee_name"
            formControlName="subordinate_committee_name"
            [attr.data-cy]="fieldDataCy('subordinate_committee_name')"
          />
          <app-error-messages
            [form]="form"
            fieldName="subordinate_committee_name"
            [formSubmitted]="formSubmitted"
            [dataCyContext]="dataCyContext"
          />
        </div>
      </div>
      <div class="col-3">
        <div class="field" [attr.data-cy]="fieldDataCy('subordinate_committee_id_number', 'field')">
          <label for="subordinate_committee_id_number">SUBORDINATE COMMITTEE ID</label>
          <input
            type="text"
            pInputText
            id="subordinate_committee_id_number"
            formControlName="subordinate_committee_id_number"
            (blur)="onSubordinateCommitteeIdBlur()"
            [attr.data-cy]="fieldDataCy('subordinate_committee_id_number')"
          />
          <app-error-messages
            [form]="form"
            fieldName="subordinate_committee_id_number"
            [formSubmitted]="formSubmitted"
            [dataCyContext]="dataCyContext"
          />
        </div>
      </div>
    </div>
    <app-address-input
      [form]="form"
      [formSubmitted]="formSubmitted"
      [templateMap]="templateMap"
      keyPrefix="subordinate"
      [dataCyContext]="contextDataCy('subordinate-address')"
    />
  }
</div>
