<fieldset [formGroup]="form" [attr.data-cy]="contextDataCy(controlName(), 'fieldset')">
  <legend [attr.data-cy]="contextDataCy(controlName(), 'legend')">
    {{ label() }}
    @if (parenLabel()) {
      <span class="paren-label">{{ parenLabel() }}</span>
    }
  </legend>
  @if (tooltipText()) {
    <span
      class="pi pi-info-circle circle-icon-tooltip"
      pTooltip="{{ tooltipText() }}"
      [escape]="tooltipEscape"
      [attr.data-cy]="contextDataCy(controlName(), 'tooltip', 'button')"
    ></span>
  }

  <div class="grid">
    <div class="col-1 flex" [attr.data-cy]="contextDataCy(controlName(), 'no', 'option')">
      <p-radioButton
        [name]="controlName()"
        [inputId]="controlName() + '-N'"
        [value]="false"
        [formControlName]="controlName()"
        [ariaLabel]="ariaLabelNo()"
        [class]="radioClass()"
        [attr.data-cy]="contextDataCy(controlName(), 'no', 'radio')"
      />
      <label [for]="controlName() + '-N'" class="ml-2" [attr.data-cy]="contextDataCy(controlName(), 'no', 'label')">
        NO
      </label>
    </div>
    <div class="col-1 flex" [attr.data-cy]="contextDataCy(controlName(), 'yes', 'option')">
      <p-radioButton
        [name]="controlName()"
        [inputId]="controlName() + '-Y'"
        [value]="true"
        [formControlName]="controlName()"
        [ariaLabel]="ariaLabelYes()"
        [class]="radioClass()"
        [attr.data-cy]="contextDataCy(controlName(), 'yes', 'radio')"
      />
      <label [for]="controlName() + '-Y'" class="ml-2" [attr.data-cy]="contextDataCy(controlName(), 'yes', 'label')">
        YES
      </label>
    </div>
  </div>
  <div class="grid">
    <div class="col-12">
      <app-error-messages
        [form]="form"
        [fieldName]="controlName()"
        [formSubmitted]="formSubmitted"
        [patternErrorMessage]="errorMessage()"
        [dataCyContext]="dataCyContext"
      />
    </div>
  </div>
</fieldset>
