.debug-login {
  margin-left: auto;
  margin-right: auto;
	background-color: #dedbdb;
  border: #000000;
  border-radius: 8px;
  border-style: solid;
}

.login-field {
  margin-bottom: 28px;
}

.center {
  text-align: center;
}

:host ::ng-deep p-password > div {
  width: 100%;
}

:host ::ng-deep eyeicon {
  right: 16px;
  scale: 1.25;
}

:host ::ng-deep eyeslashicon {
  right: 16px;
  scale: 1.25;
}