<div class="grid debug-login">
  <span class="center col-12">
    <h3>Debug Login Form</h3>
  </span>
  <div class="col-12">
    <form [formGroup]="form" (ngSubmit)="doSignIn()">
      <span class="field login-field p-float-label">
        <input
          pInputText
          id="emailId"
          name="emailId"
          type="text"
          formControlName="emailId"
          (keydown.enter)="doSignIn()"
        />
        <label class="p-float-label" for="emailId">Email</label>
        <app-error-messages [form]="form" fieldName="emailId"></app-error-messages>
      </span>
      <span class="field login-field p-float-label">
        <input
          pInputText
          id="committeeId"
          name="committeeId"
          type="text"
          formControlName="committeeId"
          (keydown.enter)="doSignIn()"
        />
        <label for="committeeId">Committee ID</label>
        <app-error-messages
          [form]="form"
          fieldName="committeeId"
          patternErrorMessage="This committee id is invalid"
        ></app-error-messages>
      </span>
      <span class="field login-field p-float-label">
        <p-password
          id="loginPassword"
          name="loginPassword"
          type="password"
          formControlName="loginPassword"
          [feedback]="false"
          [toggleMask]="true"
          (keydown.enter)="doSignIn()"
        />
        <label for="loginPassword">Password</label>
        <app-error-messages [form]="form" fieldName="loginPassword"></app-error-messages>
      </span>
      <div class="center">
        <button pButton type="submit">Enter</button>
      </div>
    </form>
  </div>
</div>
