<form (ngSubmit)="doSignIn()" [formGroup]="form" class="login-box">
  <div class="grid-row">
    <div class="grid-row__col grid-row__col--12">
      <h3>Debug Login Form</h3>
    </div>
  </div>
  <div class="grid-row">
    <div class="grid-row__col grid-row__col--12">
      <div *ngIf="hasFailed" class="text-error">Invalid email, committee id or password.</div>
    </div>
  </div>
  <div class="grid-row form-field__info">
    <div class="grid-row__col grid-row__col--3 title-name text-left">
      <label class="left-text" for="login-email-id"> Email </label>
    </div>
    <div class="grid-row__col grid-row__col--8">
      <input
        (keyup)="updateStatus()"
        [ngClass]="{
          '': (!form.get('emailId')?.invalid && form.get('emailId')?.touched) || !loginEmailInputError,
          'login-input-error': (form.get('emailId')?.invalid && form.get('emailId')?.touched) || loginEmailInputError
        }"
        class="login-email-id login-input"
        formControlName="emailId"
        id="login-email-id"
        placeholder="Enter Email"
        type="text"
      />
      <div *ngIf="(form.get('emailId')?.invalid && form.get('emailId')?.touched) || loginEmailInputError" class="error">
        <div *ngIf="form.get('emailId')?.hasError('required')" class="error__email-id">Please enter Email ID.</div>
        <div *ngIf="form.get('emailId')?.hasError('email')" class="error__email-id">Invalid Email Format.</div>
      </div>
    </div>
  </div>

  <div class="grid-row form-field__info">
    <div class="grid-row__col grid-row__col--3 title-name text-left">
      <label class="left-text" for="login-committee-id"> Committee ID </label>
    </div>

    <div class="grid-row__col grid-row__col--8">
      <input
        (keyup)="updateStatus()"
        [ngClass]="{
          '': (!form.get('committeeId')?.invalid && form.get('committeeId')?.touched) || !committeeIdInputError,
          'login-input-error':
            (form.get('committeeId')?.invalid && form.get('committeeId')?.touched) || committeeIdInputError
        }"
        class="login-committee-id login-input"
        formControlName="committeeId"
        id="login-committee-id"
        placeholder="Enter Committee ID"
        type="text"
      />
      <div
        *ngIf="(form.get('committeeId')?.invalid && form.get('committeeId')?.touched) || committeeIdInputError"
        class="error"
      >
        <div *ngIf="form.get('committeeId')?.hasError('required')" class="error__committee-id">
          Please enter Committee ID.
        </div>
      </div>
    </div>
  </div>

  <div class="grid-row form-field__info">
    <div class="grid-row__col grid-row__col--3 title-name text-left">
      <label class="left-text" for="login-password"> Password </label>
    </div>

    <div class="grid-row__col grid-row__col--8">
      <input
        (keyup)="updateStatus()"
        [ngClass]="{
          '': (!form.get('loginPassword')?.invalid && form.get('loginPassword')?.touched) || !passwordInputError,
          'login-input-error':
            (form.get('loginPassword')?.invalid && form.get('loginPassword')?.touched) || passwordInputError
        }"
        [type]="show ? 'text' : 'password'"
        autocomplete
        class="login-password login-input"
        formControlName="loginPassword"
        id="login-password"
        placeholder="Enter your Password"
      />

      <div
        *ngIf="(form.get('loginPassword')?.invalid && form.get('loginPassword')?.touched) || passwordInputError"
        class="error"
      >
        <div *ngIf="form.get('loginPassword')?.hasError('required')" class="error__password-error">
          Please enter your password.
        </div>
      </div>
    </div>

    <div *ngIf="!show" class="grid-row__col grid-row__col--1 text-left">
      <img (click)="showPassword()" alt="eye icon" class="eye-logo" draggable="false" src="assets/img/eye-icon.svg" />
    </div>
    <div *ngIf="show" class="grid-row__col grid-row__col--1 text-left">
      <img
        (click)="showPassword()"
        alt="red eye icon"
        class="eye-logo"
        draggable="false"
        src="assets/img/eye-icon-red.svg"
      />
    </div>
  </div>

  <div class="grid-row">
    <div class="grid-row__col grid-row__col--8 text-left offset-3">
      <button [disabled]="isBusy" class="login__btn" type="submit">
        <ng-template [ngIf]="true">Enter</ng-template>
      </button>
    </div>
  </div>
</form>
