@import '../../shared/scss/global';

.login-box {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #dedbdb;
  border: #000000;
  border-radius: 1px;
  border-style: solid;

  .grid-row {
    margin: 0;

    &.form-field__info {
      height: 42px;
    }

    &.form-field {
      margin-bottom: 12px;
    }

    .grid-row__col {
      padding: 0;

      label {
        font-family: 'Lato-Reg', Sans-serif;
        font-size: 16px;
        color: #112e51;
      }

      .link {
        font-family: 'Lato-Reg', Sans-serif;
        color: #ca1a0f;
        top: 150px;
        text-align: right;
      }

      .login-input {
        font-family: 'Lato-Reg', Sans-serif;
        font-size: 16px;
        height: 20px;
        margin-left: auto;
        margin-right: auto;
        border: none;
        border-radius: 0px;
        border-bottom: 1px solid #164f85;
        background: transparent;
      }

      .left-text {
        padding-left: 15px;
      }

      .right-text {
        padding-right: 15px;
      }

      .error__committee-id,
      .error__password-error,
      .error__email-id {
        @extend .text-error;
      }

      .login__btn {
        cursor: pointer;
        width: 140px;
        height: 40px;
        margin-left: 30px;
        margin-bottom: 12px;
        color: #ffffff;
        background-color: #164f85;
        font-family: 'Lato-Bold', Sans-serif;
        font-size: 20px;
        font-weight: 700;
        border-radius: 5px;
        border-style: solid;
      }

      .login__btn:hover {
        background-color: #c80505;
      }

      .eye-logo {
        height: 32px;
        width: 32px;
      }
    }
  }
}
