@use 'mixins' as *;

:host::ng-deep {
  display: block;

  .section-header {
    font-family: var(--karla-bold);
    margin-bottom: 8px;
  }

  .top-hr {
    margin-bottom: 32px;
  }

  .bottom-hr {
    margin-top: 32px;
  }

  p {
    margin-bottom: 32px;
  }

  label {
    font-size: 16px;
  }

  input,
  .p-select {
    height: 36px;
  }

  .form-layout {
    display: flex;
    justify-content: center;
  }

  .form-content {
    @include fixed-width(512px);
    gap: 20px;
    display: grid;
  }

  .left-content,
  .right-content {
    width: 100%;
  }

  .right-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'year current' 'new .' 'action .';
    gap: 28px;
  }

  .year {
    grid-area: year;
  }
  .current {
    grid-area: current;
  }
  .new {
    grid-area: new;
  }
  .action {
    grid-area: action;
  }

  .action button {
    width: 140px;
    min-width: unset;
  }

  .p-field,
  .field {
    margin: 0;
  }

  .space {
    display: none;
  }

  @include breakpoint('md') {
    .form-content {
      @include fixed-width(704px);
      grid-template-columns: 8fr 4fr;
    }

    .left-content {
      grid-column: 1 / 2;
    }

    .right-content {
      grid-column: 2 / 3;
    }

    .right-grid {
      grid-template-columns: 1fr;
      grid-template-areas: 'year' 'current' 'new' 'action';
    }

    .space {
      display: none;
    }
  }

  @include breakpoint('lg') {
    .form-content {
      @include fixed-width(852px);
      grid-template-columns: 6fr 3fr 3fr;
    }

    .space {
      display: block;
    }
  }

  @include breakpoint('xl') {
    .form-content {
      @include fixed-width(852px);
    }
  }

  @include breakpoint('xxl') {
    .form-content {
      @include fixed-width(1052px);
      grid-template-columns: 6fr 3fr 3fr;
    }

    .space {
      display: block;
    }
  }
}
