@use 'mixins' as *;

:host::ng-deep {
  display: block;

  .top-hr {
    margin-bottom: 20px;
  }

  label {
    font-size: 14px;
  }

  input {
    height: 38px;
  }

  .p-select {
    height: 38px;
  }

  .form-layout {
    display: flex;
    justify-content: center;
  }

  .grid {
    margin-bottom: 20px;
  }

  .form-content {
    @include fixed-width(512px);
    grid-template-columns: 8fr 4fr;
    row-gap: 20px;
    column-gap: 20px;
    display: grid;
  }

  .section-title {
  }

  .left-content {
    grid-column: 1 / -2;
  }

  .right-content {
    grid-column: 1 / -2;
  }

  .space {
    display: none;
  }

  @include breakpoint('md') {
    .form-content {
      @include fixed-width(704px);
      grid-template-columns: 8fr 4fr;
    }

    .left-content {
      grid-column: 1 / 2;
    }

    .right-content {
      grid-column: 2 / 3;
    }

    .space {
      display: none;
    }
  }

  @include breakpoint('lg') {
    .form-content {
      @include fixed-width(852px);
      grid-template-columns: 6fr 3fr 3fr;
    }

    .left-content {
      grid-column: 1 / 2;
    }

    .right-content {
      grid-column: 2 / 3;
    }

    .space {
      display: block;
    }
  }

  @include breakpoint('xl') {
    .form-content {
      @include fixed-width(1052px);
      grid-template-columns: 6fr 3fr 3fr;
    }
  }
}
