p {
  font-size: 14px;
  font-family: var(--karla);
  margin-bottom: 24px;
}

label {
  font-size: 14px;
  margin-bottom: 4px;
}

#report-selector {
  height: 36px;
  font-size: 14px;
  appearance: none;
  background-image: url(assets/img/dropdown_arrow.svg);
}

#report-selector option {
  font-size: 14px;
}
