.ie-explanation {
  margin-top: 16px;
  margin-bottom: 8px;
  max-width: 1000px;
}

.ie-explanation-button-create {
  margin-left: 0px;
  margin-right: 8px;
  margin-bottom: 16px;
}

.ie-explanation-button-cancel {
  margin-left: 8px;
  margin-bottom: 16px;
}
