@use 'mixins' as *;

:host::ng-deep {
  .version-column,
  .status-column,
  .coverage-column {
    display: none;
  }

  .coverage-type-column,
  .type-column {
    --col-width: 60.5%;
  }

  .filed-column {
    --col-width: 25.4%;
  }

  .actions-column {
    --col-width: 14.1%;
  }

  @media (min-width: $md) {
    .coverage-type-column,
    .type-column {
      --col-width: 52.8%;
    }

    .version-column {
      display: table-cell;
      --col-width: 18.5%;
    }

    .filed-column {
      --col-width: 18.5%;
    }

    .actions-column {
      --col-width: 10.2%;
    }
  }

  @media (min-width: $lg) {
    .coverage-type-column {
      --col-width: 37.5%;
    }

    .coverage-column {
      display: table-cell;
      --col-width: 23.7%;
    }

    .type-column {
      --col-width: 61.2%;
    }

    .version-column,
    .filed-column {
      display: table-cell;
      --col-width: 15.2%;
    }

    .actions-column {
      --col-width: 8.4%;
    }
  }

  @media (min-width: $xxl) {
    .coverage-type-column {
      --col-width: 34.2%;
    }

    .coverage-column {
      display: table-cell;
      --col-width: 19%;
    }

    .type-column {
      --col-width: 53.2%;
    }

    .status-column {
      display: table-cell;
      --col-width: 15.2%;
    }

    .version-column,
    .filed-column {
      display: table-cell;
      --col-width: 12.4%;
    }

    .actions-column {
      --col-width: 6.8%;
    }
  }

  .p-datatable-header {
    padding-top: 48px !important;
  }
}
