@media (max-width: 575px) {
  .report-list-container {
    min-width: 476px;
    max-width: 476px;
    width: 476px;
  }
}

@media (min-width: 576px) {
  .report-list-container {
    min-width: 476px;
    max-width: 476px;
    width: 476px;
  }
}

@media (min-width: 625px) {
  .report-list-container {
    min-width: 525px;
    max-width: 525px;
    width: 525px;
  }
}

@media (min-width: 768px) {
  .report-list-container {
    min-width: 668px;
    max-width: 668px;
    width: 668px;
  }
}

@media (min-width: 992px) {
  .report-list-container {
    min-width: 892px;
    max-width: 892px;
    width: 892px;
  }
}
@media (min-width: 1200px) {
  .report-list-container {
    min-width: 1100px;
    max-width: 1100px;
    width: 1100px;
  }
}
