<div class="drop-down position-static flex justify-content-center">
  <button
    pButton
    pRipple
    [icon]="buttonIcon()"
    [label]="buttonLabel()"
    [class.rounded-text]="rounded()"
    [class]="buttonStyleClass()"
    [ariaLabel]="buttonAriaLabel()"
    [attr.data-cy]="actionTriggerDataCy()"
    (click)="op.toggle($event)"
  ></button>
  <p-popover #op [attr.data-cy]="actionMenuDataCy()">
    <ul class="dropdown-menu" [attr.data-cy]="actionMenuDataCy()">
      @for (action of filteredActions(); track action; let index = $index) {
        <li>
          <button
            [disabled]="!action.isEnabled(actionItem())"
            pButton
            pRipple
            type="button"
            class="p-button-secondary p-button-text w-full text-left table-action-button"
            [id]="'button-' + index"
            [attr.data-cy]="actionButtonDataCy(action)"
            (click)="performAction(action)"
          >
            {{ action.label }}
          </button>
        </li>
      } @empty {
        <p>Loading...</p>
      }
    </ul>
  </p-popover>
</div>
