<div [formGroup]="form">
  <div class="grid">
    <div class="col-6">
      <div class="field">
        <label for="employer">EMPLOYER</label>
        <input type="text" pInputText id="employer" [formControlName]="templateMap['employer']" />
        <app-error-messages [form]="form" [fieldName]="templateMap['employer']" [formSubmitted]="formSubmitted" />
      </div>
    </div>
    <div class="col-6">
      <div class="field">
        <label for="occupation">OCCUPATION</label>
        <input type="text" pInputText id="occupation" [formControlName]="templateMap['occupation']" />
        <app-error-messages [form]="form" [fieldName]="templateMap['occupation']" [formSubmitted]="formSubmitted" />
      </div>
    </div>
  </div>
</div>
