<div [formGroup]="form">
  <div class="grid">
    <div class="col-6">
      <div class="field">
        <label for="employer">EMPLOYER</label>
        <input [formControlName]="templateMap['employer']" id="employer" pInputText type="text" />
        <app-error-messages
          [fieldName]="templateMap['employer']"
          [formSubmitted]="formSubmitted"
          [form]="form"
        ></app-error-messages>
      </div>
    </div>
    <div class="col-6">
      <div class="field">
        <label for="occupation">OCCUPATION</label>
        <input [formControlName]="templateMap['occupation']" id="occupation" pInputText type="text" />
        <app-error-messages
          [fieldName]="templateMap['occupation']"
          [formSubmitted]="formSubmitted"
          [form]="form"
        ></app-error-messages>
      </div>
    </div>
  </div>
</div>
