<p-dialog
  (onHide)="hide()"
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '90%' }"
  header="Restore deleted contact(s)"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <p-table
      #dt
      (onLazyLoad)="loadTableItems($event)"
      (selectAllChange)="onSelectAllChange($event)"
      (selectionChange)="onSelectionChange($event)"
      [globalFilterFields]="['name', 'type', 'employer', 'occupation']"
      [lazy]="true"
      [loading]="loading"
      [paginator]="true"
      [rows]="10"
      [selectAll]="selectAll"
      [selection]="selectedItems"
      [showCurrentPageReport]="true"
      [totalRecords]="totalItems"
      [value]="items"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} deleted contacts"
      dataKey="id"
      responsiveLayout="scroll"
    >
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
          <h2 class="m-0">Restore deleted contact(s)</h2>
        </div>
      </ng-template>
      <ng-template let-sortOrder pTemplate="sorticon">
        <app-table-sort-icon [sortOrder]="sortOrder"></app-table-sort-icon>
      </ng-template>
      <ng-template pTemplate="header">
        <tr role="row">
          <th id="header-checkbox" role="columnheader" style="width: 3rem">
            <p-tableHeaderCheckbox ariaLabel="Restore"></p-tableHeaderCheckbox>
          </th>
          <th id="name-column" pSortableColumn="sort_name" role="columnheader">
            Contact Name
            <p-sortIcon field="sort_name"></p-sortIcon>
          </th>
          <th id="type-column" pSortableColumn="type" role="columnheader">
            Contact Type
            <p-sortIcon field="type"></p-sortIcon>
          </th>
          <th id="employer-column" pSortableColumn="employer" role="columnheader">
            Contact Employer
            <p-sortIcon field="employer"></p-sortIcon>
          </th>
          <th id="occupation-column" pSortableColumn="occupation" role="columnheader">
            Contact Occupation
            <p-sortIcon field="occupation"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template let-item pTemplate="body">
        <tr role="row">
          <td>
            <p-tableCheckbox [ariaLabel]="'select ' + displayName(item)" [value]="item"></p-tableCheckbox>
          </td>
          <td>{{ displayName(item) }}</td>
          <td>{{ item.type | label : contactTypeLabels }}</td>
          <td>{{ item.employer }}</td>
          <td>{{ item.occupation }}</td>
        </tr>
      </ng-template>
    </p-table>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="grid">
      <div class="col-1">
        <button (click)="hide()" [autofocus]="true" class="p-button-secondary" icon="pi pi-times" label="Cancel" pButton
                pRipple></button>
      </div>
      <div class="col-11">
        <button
          (click)="restoreSelected()"
          [disabled]="selectedItems.length <= 0"
          class="p-button-primary"
          icon="pi pi-check"
          id="restoreButton"
          label="Restore selected"
          pButton
          pRipple
        ></button>
      </div>
    </div>
  </ng-template>
</p-dialog>
