<p-dialog
  #dialog
  [(visible)]="visible"
  [style]="{ width: '90%' }"
  [draggable]="false"
  [closable]="false"
  [modal]="true"
>
  <ng-template #header>
    <div class="custom-header" [id]="dialog.ariaLabelledBy">
      <h1>Restore deleted contacts</h1>
      <div class="p-dialog-header-actions">
        <button
          pButton
          type="button"
          icon="pi pi-times"
          class="p-dialog-header-icon p-link"
          (click)="dialog.close($event)"
        >
          <span class="sr-only">Close</span>
        </button>
      </div>
    </div>
  </ng-template>
  <app-table
    [items]="items"
    [totalItems]="totalItems"
    [loading]="loading"
    sortField="sort_name"
    [rowsPerPage]="rowsPerPage"
    [selectAll]="selectAll"
    [globalFilterFields]="['name', 'type', 'employer', 'occupation']"
    [selectedItems]="selectedItems"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} deleted contacts"
    [sortableHeaders]="sortableHeaders"
    [hasCheckbox]="true"
    [checkboxLabel]="getCheckboxLabel.bind(this)"
    (loadTableItems)="loadTableItems($event)"
    (selectionChange)="onSelectionChange($event)"
    (selectAllChange)="onSelectAllChange($event)"
    (rowsPerPageChange)="onRowsPerPageChange($event)"
  >
    <ng-template #body let-item>
      <td>{{ displayName(item) }}</td>
      <td>{{ item.type | label: contactTypeLabels }}</td>
      <td>{{ item.employer }}</td>
      <td>{{ item.occupation }}</td>
    </ng-template>
  </app-table>
  <ng-template #footer>
    <div class="top-border-footer">
      <button
        pButton
        pRipple
        label="Cancel"
        icon="pi pi-times"
        class="p-button-secondary mr-4"
        (click)="dialog.close($event)"
        [autofocus]="true"
      ></button>
      <button
        pButton
        pRipple
        id="restoreButton"
        [disabled]="selectedItems.length <= 0"
        label="Restore selected"
        icon="pi pi-check"
        class="p-button-primary"
        (click)="restoreSelected()"
      ></button>
    </div>
  </ng-template>
</p-dialog>
