textarea {
  height: 300px;
  min-height: 300px;
  resize: vertical;
  margin: 0;
  font-size: 14px;
}

label {
  font-size: 14px;
}

.previous-button {
  gap: 5px;
}

.main-content {
  width: 512px;
  min-width: 512px;
  max-width: 512px;
}

.textarea-container {
  width: 100%;
  margin-bottom: 32px;
}

@media (min-width: 768px) {
  .main-content {
    width: 704px;
    min-width: 704px;
    max-width: 704px;
  }
}

@media (min-width: 992px) {
  .main-content {
    width: 644px;
    min-width: 644px;
    max-width: 644px;
  }
}

@media (min-width: 1200px) {
  .main-content {
    width: 852px;
    min-width: 852px;
    max-width: 852px;
  }

  .textarea-container {
    width: 66.67%;
  }
}

@media (min-width: 1400px) {
  .main-content {
    width: 1052px;
    min-width: 1052px;
    max-width: 1052px;
  }

  .textarea-container {
    width: 50%;
  }
}
