:host ::ng-deep {
  .dropdown-with-search .p-select {
    border-radius: 4px 0 0 4px;
  }

  .dropdown-with-search .p-select:hover {
    border-color: #d6d7d9;
  }

  .p-select {
    border: 2px solid #aeb0b5;
    background-color: #f1f1f1;
  }

  .p-select-label {
    color: #212121;
    font-family: karla-bold, sans-serif;
    font-size: 16px;
    width: 132px;
    height: 42px;
  }

  .p-button-icon-only {
    background-color: transparent;
    pointer-events: none;
    position: absolute;
    right: 5px;
    top: 5px;
    min-width: 15px;
    border: none;
  }

  .readonly {
    pointer-events: none;
  }

  .dropdownIcon {
    color: #212121;
    background-color: white;
  }
}

.ng-submitted .transaction-contact-invalid :host ::ng-deep .p-autocomplete-input {
  border-color: #dc3545;
}

.transaction-contact-invalid .contact-dialog-not-submitted :host ::ng-deep .p-autocomplete-input {
  border: 2px solid #aeb0b5;
}

.contact-label-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.contact-label {
  width: 75%;
  font-size: 12px;
  white-space: normal;
}

.in-contacts {
  float: 25%;
  font-size: 12px;
  font-style: italic;
}

.try-another-search-text {
  font-weight: lighter;
  font-size: 12px;
  font-style: italic;
}

.add-contact-container {
  padding: 0 0 0 10px;
  font-size: 1.2em;
  font-family: karla-bold, sans-serif;
  align-content: center;
}

.add-contact-container span {
  padding: 0 0.3em;
}

.add-contact-container a {
  border-bottom: none;
}

.contact-lookup-container {
  max-width: 65em;
}
