@if (candidateOffice && contactType === contactTypes.CANDIDATE) {
  <div class="grid">
    <em>{{ candidateOfficeLabel }} candidates only</em>
  </div>
}
<div class="grid contact-lookup-container">
  <div class="px-0" [class.dropdown-with-search]="showSearchBoxCallback()">
    <p-select
      [formControl]="contactTypeFormControl"
      inputId="entity_type"
      [options]="contactTypeOptions"
      [readonly]="contactTypeReadOnly"
      styleClass="{{ contactTypeReadOnly ? 'readonly' : '' }}"
      id="entity_type_dropdown"
      appendTo="body"
    >
      <ng-template pTemplate="dropdownicon">
        @if (contactTypeOptions.length > 1) {
          <img alt="Dropdown arrow" src="assets/img/dropdown_arrow.svg" height="11px" width="11px" />
        }
      </ng-template>
    </p-select>
  </div>
  @if (showSearchBoxCallback()) {
    <div class="pl-0">
      <p-autoComplete
        id="searchBox"
        data-cy="searchBox"
        inputId="searchBox"
        [formControl]="searchBoxFormControl"
        [group]="true"
        field="label"
        [dropdown]="true"
        [suggestions]="contactLookupList"
        placeholder="Search for a contact"
        [forceSelection]="true"
        (completeMethod)="onDropdownSearch($event)"
        (onSelect)="onContactLookupSelect($event.value)"
        scrollHeight="30vh"
        appendTo="body"
      >
        <ng-template let-group pTemplate="group">
          <div class="option-group-header">{{ group.label }}</div>
          @if (!group.items || !group.items.length) {
            <div class="try-another-search-text">Try another search or create a new contact</div>
          }
        </ng-template>
        <ng-template let-contact pTemplate="item">
          <div class="contact-label-container">
            <span [innerHTML]="contact.label | highlightTerms: searchTerm" class="contact-label"> </span>
            @if (isContact(contact.value)) {
              <span class="in-contacts"> In contacts </span>
            }
          </div>
        </ng-template>
        <ng-template pTemplate="dropdownicon">
          <img alt="Magnifying lens" src="assets/img/contact_lookup_magnifying_glass.svg" height="20px" width="20px" />
        </ng-template>
      </p-autoComplete>
    </div>
  }
  @if (showCreateNewContactButton) {
    <div class="add-contact-container">
      or
      <span
        tabindex="0"
        (click)="onCreateNewContactSelect()"
        (keydown.enter)="onCreateNewContactSelect()"
        (keydown.space)="onCreateNewContactSelect()"
      >
        <img alt="Plus" src="assets/img/i-plus-circle.svg" height="20px" width="20px" />
        <a>Create a new contact</a>
      </span>
    </div>
  }
</div>
