<div *ngIf="candidateOffice && contactType === contactTypes.CANDIDATE" class="grid">
  <em>{{ candidateOfficeLabel }} candidates only</em>
</div>
<div class="grid contact-lookup-container">
  <div class="col-3 pl-0 pr-0">
    <p-dropdown
      [dropdownIcon]="contactTypeOptions.length > 1 ? 'pi pi-chevron-down' : 'none'"
      [formControl]="contactTypeFormControl"
      [options]="contactTypeOptions"
      [readonly]="contactTypeReadOnly"
      id="entity_type_dropdown"
      inputId="entity_type"
      styleClass="{{ contactTypeReadOnly ? 'readonly' : '' }}"
    >
    </p-dropdown>
  </div>
  <div *ngIf="showSearchBoxCallback()" class="col-4 pl-0">
    <p-autoComplete
      (completeMethod)="onDropdownSearch($event)"
      (onSelect)="onContactLookupSelect($event)"
      [forceSelection]="true"
      [formControl]="searchBoxFormControl"
      [group]="true"
      [suggestions]="contactLookupList"
      dropdownIcon="pi pi-search"
      dropdownMode="current"
      field="label"
      id="searchBox"
      placeholder="Search for a contact"
      role="searchbox"
    >
      <ng-template let-group pTemplate="group">
        <div>{{ group.label }}</div>
        <div *ngIf="!group.items || !group.items.length" class="try-another-search-text">
          Try another search or create a new contact
        </div>
      </ng-template>
      <ng-template let-contact pTemplate="item">
        <span [innerHTML]="contact.label | highlightTerms : searchTerm" class="contact-label"> </span>
        <span *ngIf="isContact(contact.value)" class="in-contacts"> In contacts </span>
      </ng-template>
    </p-autoComplete>
  </div>
  <div *ngIf="showCreateNewContactButton" class="col">
    <div class="add-contact-container">
      or
      <span class="pi pi-plus-circle"></span>
      <a (click)="onCreateNewContactSelect()">Create a new contact</a>
    </div>
  </div>
</div>
