:host ::ng-deep {
  .dropdown-with-search .p-select {
    border-radius: 4px 0 0 4px;
    border-right: 0;
    border: 2px solid var(--fec-grey-alt);
    background-color: var(--surface-ground);
    &:hover {
      border-color: #d6d7d9;
    }
  }

  .p-select-label {
    color: #212121;
    font-family: var(--karla-bold);
    font-size: 16px;
    width: 132px;
    height: 42px;
  }

  .readonly {
    pointer-events: none;
  }
}

.contact-label-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.contact-label {
  width: 75%;
  font-size: 12px;
  white-space: normal;
}

.in-contacts {
  float: 25%;
  font-size: 12px;
  font-style: italic;
}

.try-another-search-text {
  font-weight: lighter;
  font-size: 12px;
  font-style: italic;
}

.add-contact-container {
  padding: 0 0 0 10px;
  font-size: 1.2em;
  font-family: var(--karla);
  align-content: center;

  & span {
    padding: 0 0.3em;
    cursor: pointer;
    line-height: inherit;
  }
  & img {
    margin-right: 5px;
    vertical-align: middle;
  }
}

.contact-lookup-container {
  max-width: 65em;
}
