<div class="grid" *ngIf="candidateOffice && contactType === contactTypes.CANDIDATE">
  <em>{{ candidateOfficeLabel }} candidates only</em>
</div>
<div class="grid contact-lookup-container">
  <div class="col-3 pl-0 pr-0">
    <p-dropdown
      [formControl]="contactTypeFormControl"
      inputId="entity_type"
      [options]="contactTypeOptions"
      [readonly]="contactTypeReadOnly"
      styleClass="{{ contactTypeReadOnly ? 'readonly' : '' }}"
      [dropdownIcon]="contactTypeOptions.length > 1 ? 'pi pi-chevron-down' : 'none'"
      id="entity_type_dropdown"
    >
    </p-dropdown>
  </div>
  <div *ngIf="showSearchBoxCallback()" class="col-4 pl-0">
    <p-autoComplete
      id="searchBox"
      [formControl]="searchBoxFormControl"
      [group]="true"
      field="label"
      dropdownMode="current"
      dropdownIcon="pi pi-search"
      [suggestions]="contactLookupList"
      placeholder="Search for a contact"
      [forceSelection]="true"
      (completeMethod)="onDropdownSearch($event)"
      (onSelect)="onContactLookupSelect($event.value)"
    >
      <ng-template let-group pTemplate="group">
        <div>{{ group.label }}</div>
        <div class="try-another-search-text" *ngIf="!group.items || !group.items.length">
          Try another search or create a new contact
        </div>
      </ng-template>
      <ng-template let-contact pTemplate="item">
        <span [innerHTML]="contact.label | highlightTerms: searchTerm" class="contact-label"> </span>
        <span *ngIf="isContact(contact.value)" class="in-contacts"> In contacts </span>
      </ng-template>
    </p-autoComplete>
  </div>
  <div *ngIf="showCreateNewContactButton" class="col">
    <div class="add-contact-container">
      or
      <span class="pi pi-plus-circle"></span>
      <a (click)="onCreateNewContactSelect()">Create a new contact</a>
    </div>
  </div>
</div>
