<p-dialog
  [(visible)]="visible"
  header="Post feedback about FECFile anonymously"
  [modal]="true"
  (onHide)="close()"
>
  <ng-container *ngIf="submitStatus === SubmissionStates.DRAFT">
    <ng-template pTemplate="content">
      <p>
        How can we improve FECFile? When you submit your feedback, it will
        include your comments, browser information and the URL you were
        viewing at the time of submission.
      </p>
      <form id="form" [formGroup]="form" [ngClass]="{ 'ng-submitted': formSubmitted }">
        <div class="field">
          <label for="action">WHAT WERE YOU TRYING TO DO ON FECFILE ONLINE, AND HOW CAN WE IMPROVE IT? (Required)</label>
          <input type="text" pInputText id="action" formControlName="action"/>
          <app-error-messages
            [form]="form"
            fieldName="action"
            [formSubmitted]="formSubmitted"
          ></app-error-messages>
        </div>
        <div class="field">
          <label for="feedback">GENERAL WEBSITE FEEDBACK (Optional)</label>
          <input type="text" pInputText id="feedback" formControlName="feedback"/>
          <app-error-messages
            [form]="form"
            fieldName="feedback"
            [formSubmitted]="formSubmitted"
          ></app-error-messages>
        </div>
        <div class="field">
          <label for="about">TELL US ABOUT YOURSELF (Optional)</label>
          <input type="text" pInputText id="about" formControlName="about"/>
          <app-error-messages
            [form]="form"
            fieldName="about"
            [formSubmitted]="formSubmitted"
          ></app-error-messages>
        </div>
      </form>
    </ng-template>
    <ng-template pTemplate="footer">
      <div class="grid">
        <div class="col-1">
          <button
            type="button"
            pButton
            pRipple
            label="Post"
            class="p-button-primary"
            (click)="save()"
          ></button>
        </div>
      </div>
      <div class="grid">
        <div class="col-12 font-karla">
          <a href="https://www.fec.gov/use-recaptcha/" target="_blank" rel="noopener">Use of reCAPTCHA</a>
          |
          <a href="https://www.fec.gov/contact/" target="_blank" rel="noopener">Contact the FEC about a specific question</a>
        </div>
      </div>
    </ng-template>
  </ng-container>
</p-dialog>
