<p-dialog
  [(visible)]="visible"
  [modal]="true"
  [closeOnEscape]="true"
  [style]="{ width: '30%' }"
  styleClass="p-fluid"
  (onShow)="openDialog()"
  (onHide)="closeDialog()"
>
  <ng-template pTemplate="content">
    <ng-container *ngIf="this.submitStatus === SubmissionStatesEnum.DRAFT">
      <div class="grid">
        <div class="col-12">
          <div class="field">
            <h2>Post feedback about FECFile anonymously</h2>
            <p>
              How can we improve FECFile? When you submit your feedback, it will
              include your comments, browser information and the URL you were
              viewing at the time of submission.
            </p>
          </div>
        </div>
      </div>
      <form id="form" [formGroup]="form" [ngClass]="{ 'ng-submitted': formSubmitted }">
        <div class="grid">
          <div class="col-12">
            <div class="field">
              <label for="action">WHAT WERE YOU TRYING TO DO ON FECFILE ONLINE, AND HOW CAN WE IMPROVE IT? <span class="font-karla">(Required)</span></label>
              <input type="text" pInputText id="action" formControlName="action"/>
              <app-error-messages
                [form]="form"
                fieldName="action"
                [formSubmitted]="formSubmitted"
              ></app-error-messages>
            </div>
          </div>
        </div>
        <div class="grid">
          <div class="col-12">
            <div class="field">
              <label for="feedback">GENERAL WEBSITE FEEDBACK</label>
              <input type="text" pInputText id="feedback" formControlName="feedback"/>
              <app-error-messages
                [form]="form"
                fieldName="feedback"
                [formSubmitted]="formSubmitted"
              ></app-error-messages>
            </div>
          </div>
        </div>
        <div class="grid">
          <div class="col-12">
            <div class="field">
              <label for="about">TELL US ABOUT YOURSELF
                <br>
                <span class="font-karla">(Please don't include sensitive information like your name, contact information or Social Security number.)</span>
              </label>
              <input type="text" pInputText id="about" formControlName="about"/>
              <app-error-messages
                [form]="form"
                fieldName="about"
                [formSubmitted]="formSubmitted"
              ></app-error-messages>
            </div>
          </div>
        </div>
      </form>
    </ng-container>
    <ng-container *ngIf="this.submitStatus === SubmissionStatesEnum.SUCCESS">
      <div class="flex">
        <div class="success-verticle-bar"></div>
        <img alt="Check mark" src="assets/img/check-circle.svg" class="mx-2" height="5%" width="5%"/>
        <div>
          <h1>
            Thanks for helping us improve FECFile
          </h1>
          <p class="mt-2">This information has been reported.</p>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="this.submitStatus === SubmissionStatesEnum.FAIL">
      <div class="flex">
        <div class="fail-verticle-bar"></div>
        <img alt="Exclamation mark" src="assets/img/exclamation.svg" class="mx-2" height="5%" width="5%"/>
        <div>
          <h1>
            Oops: Something went wrong.
          </h1>
          <p class="mt-2">We had trouble processing your feedback.</p>
        </div>
      </div>
    </ng-container>
  </ng-template>
  <ng-template pTemplate="footer">
    <ng-container *ngIf="this.submitStatus === SubmissionStatesEnum.DRAFT">
      <div class="grid">
        <div class="col-1">
          <button
            type="button"
            pButton
            pRipple
            label="Post"
            class="p-button-primary"
            (click)="save()"
          ></button>
        </div>
      </div>
      <div class="grid">
        <div class="col-12">
          <div class="field text-start">
            <a href="https://www.fec.gov/use-recaptcha/" target="_blank" rel="noopener">Use of reCAPTCHA</a>
            |
            <a href="https://www.fec.gov/contact/" target="_blank" rel="noopener">Contact the FEC about a specific question</a>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="this.submitStatus === SubmissionStatesEnum.SUCCESS">
      <div class="grid">
        <div class="col-6 flex">
          <button
            type="button"
            pButton
            pRipple
            label="Submit more feedback"
            class="p-button-info"
            (click)="reset()"
          ></button>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="this.submitStatus === SubmissionStatesEnum.FAIL">
      <div class="grid">
        <div class="col-1">
          <button
            type="button"
            pButton
            pRipple
            label="Try Again"
            class="p-button-info"
            (click)="tryAgain()"
          ></button>
        </div>
      </div>
    </ng-container>
  </ng-template>
  <ng-template pTemplate="closeicon">
    <img alt="Close icon" src="assets/img/feedback-close-icon.svg" />
  </ng-template>
</p-dialog>
