<div class="p-fluid">
  <div [class.transaction-contact-invalid]="errorMessageFormControl?.status === 'INVALID'">
    <app-contact-lookup
      [(contact)]="contact"
      [(contactType)]="contactType"
      [contactTypeOptions]="contactTypeOptions()"
      [candidateOffice]="mandatoryCandidateOffice()"
      [excludeFecIds]="excludeFecIds()"
      [excludeIds]="excludeIds()"
      (createNewContactSelect)="createNewContactSelected()"
    >
    </app-contact-lookup>
  </div>
  <app-contact-dialog
    headerTitle="Create a new contact"
    [fixedContactType]="contactType()"
    [defaultCandidateOffice]="mandatoryCandidateOffice()"
    [(detailVisible)]="detailVisible"
  ></app-contact-dialog>
</div>
@if (errorMessageFormControl) {
  <app-error-messages
    [control]="errorMessageFormControl"
    [formSubmitted]="formSubmitted()"
    [requiredErrorMessage]="currentContactLabel + ' information is required'"
  ></app-error-messages>
}
