<div class="p-fluid">
  <div [class.transaction-contact-invalid]="errorMessageFormControl?.status === 'INVALID'">
    <app-contact-lookup
      [contactTypeOptions]="contactTypeOptions"
      [candidateOffice]="mandatoryCandidateOffice"
      (contactTypeSelect)="contactTypeSelected($event)"
      (contactLookupSelect)="contactLookupSelected($event)"
      (createNewContactSelect)="createNewContactSelected()"
    >
    </app-contact-lookup>
  </div>
  <app-contact-dialog
    headerTitle="Create a new contact"
    [contactTypeOptions]="dialogContactTypeOptions"
    [defaultCandidateOffice]="mandatoryCandidateOffice"
    [(detailVisible)]="detailVisible"
    (savedContact)="saveContact($event)"
  />
</div>
@if (errorMessageFormControl) {
  <app-error-messages
    [control]="errorMessageFormControl"
    [formSubmitted]="formSubmitted"
    [requiredErrorMessage]="currentContactLabel + ' information is required'"
  />
}
