<div class="p-fluid" [ngClass]="{ 'transaction-contact-invalid': errorMessageFormControl?.status === 'INVALID' }">
  <app-contact-lookup
    [contactTypeOptions]="contactTypeOptions"
    (contactTypeSelect)="contactTypeSelected($event)"
    (contactLookupSelect)="contactLookupSelected($event)"
    (createNewContactSelect)="createNewContactSelected()"
  >
  </app-contact-lookup>
  <app-contact-dialog
    headerTitle="Create a new contact"
    [contactTypeOptions]="dialogContactTypeOptions"
    [(detailVisible)]="detailVisible"
    (savedContact)="saveContact($event)"
  ></app-contact-dialog>
</div>
<app-error-messages
  *ngIf="errorMessageFormControl"
  [formController]="errorMessageFormControl"
  [formSubmitted]="formSubmitted"
  [requiredErrorMessage]="currentContactLabel + ' information is required'"
></app-error-messages>
