<div [formGroup]="form">
  <div class="grid">
    <div class="col-8">
      <div class="field">
        <label for="amount">ORIGINAL AMOUNT</label>
        <input
          type="text"
          pInputText
          id="amount"
          [formControlName]="templateMap['amount']"
          class="readonly"
          [readonly]="true"
        />
        <app-error-messages
          [form]="form"
          [fieldName]="templateMap['amount']"
          [formSubmitted]="formSubmitted"
        ></app-error-messages>
      </div>
    </div>
  </div>
</div>
