<p-dialog [(visible)]="detailVisible" [style]="{ width: '90%' }" [header]="headerText()" [modal]="true">
  <div class="grid">
    <div class="col-12">
      <h3>Contact</h3>
    </div>
  </div>
  <div class="grid">
    <div class="col-10">
      <div class="field">
        <label for="type">CONTACT TYPE</label>
        <app-contact-lookup
          [(contactType)]="selectedContactType"
          [(contact)]="contact"
          [contactTypeOptions]="contactTypeOptions()"
          [showSearchBox]="isCandidate() || isCommittee()"
          [showCreateNewContactButton]="false"
          [includeFecfileResults]="false"
          [candidateOffice]="defaultCandidateOffice()"
        >
        </app-contact-lookup>
      </div>
    </div>
    <div class="col-6"></div>
  </div>
  @if (isCandidate()) {
    <div class="grid">
      <div class="col-6">
        <div class="field">
          <label for="candidate_id">CANDIDATE ID</label>
          <input
            type="text"
            pInputText
            id="candidate_id"
            [disabled]="form.controls['candidate_id'].disabled()"
            [(ngModel)]="form.controls['candidate_id'].value"
            (blur)="validate(form.controls['candidate_id'])"
          />
          <app-signal-error-messages
            [control]="form.controls['candidate_id']"
            [formSubmitted]="formSubmitted"
          ></app-signal-error-messages>
        </div>
      </div>
      <div class="col-4"></div>
    </div>
  }
  @if (isCommittee() || isOrganization()) {
    <div class="grid">
      @if (isCommittee()) {
        <div class="col-4">
          <div class="field">
            <label for="committee_id">COMMITTEE ID</label>
            <input
              type="text"
              pInputText
              id="committee_id"
              [disabled]="form.controls['committee_id'].disabled()"
              [(ngModel)]="form.controls['committee_id'].value"
              (blur)="validate(form.controls['committee_id'])"
            />
            <app-signal-error-messages
              [control]="form.controls['committee_id']"
              [formSubmitted]="formSubmitted"
            ></app-signal-error-messages>
          </div>
        </div>
      }
      <div class="col-8">
        <div class="field">
          <label for="name">NAME</label>
          <input
            type="text"
            pInputText
            id="name"
            [disabled]="form.controls['name'].disabled()"
            [(ngModel)]="form.controls['name'].value"
            (blur)="validate(form.controls['name'])"
          />
          <app-signal-error-messages
            [control]="form.controls['name']"
            [formSubmitted]="formSubmitted"
          ></app-signal-error-messages>
        </div>
      </div>
      @if (isOrganization()) {
        <div class="col-4"></div>
      }
    </div>
  }
  @if (isIndividual() || isCandidate()) {
    <div class="grid">
      <div class="col-4">
        <div class="field">
          <label for="last_name">LAST NAME</label>
          <input
            type="text"
            pInputText
            id="last_name"
            [disabled]="form.controls['last_name'].disabled()"
            [(ngModel)]="form.controls['last_name'].value"
            (blur)="validate(form.controls['last_name'])"
          />
          <app-signal-error-messages
            [control]="form.controls['last_name']"
            [formSubmitted]="formSubmitted"
          ></app-signal-error-messages>
        </div>
      </div>
      <div class="col-4">
        <div class="field">
          <label for="first_name">FIRST NAME</label>
          <input
            type="text"
            pInputText
            id="first_name"
            [disabled]="form.controls['first_name'].disabled()"
            [(ngModel)]="form.controls['first_name'].value"
            (blur)="validate(form.controls['first_name'])"
          />
          <app-signal-error-messages
            [control]="form.controls['first_name']"
            [formSubmitted]="formSubmitted"
          ></app-signal-error-messages>
        </div>
      </div>
      <div class="col-4">
        <div class="field">
          <label for="middle_name">MIDDLE NAME (OPTIONAL)</label>
          <input
            type="text"
            pInputText
            id="middle_name"
            [disabled]="form.controls['middle_name'].disabled()"
            [(ngModel)]="form.controls['middle_name'].value"
            (blur)="validate(form.controls['middle_name'])"
          />
          <app-signal-error-messages
            [control]="form.controls['middle_name']"
            [formSubmitted]="formSubmitted"
          ></app-signal-error-messages>
        </div>
      </div>
    </div>
    <div class="grid">
      <div class="col-3">
        <div class="field">
          <label for="prefix">PREFIX (OPTIONAL)</label>
          <input
            type="text"
            pInputText
            id="prefix"
            [disabled]="form.controls['prefix'].disabled()"
            [(ngModel)]="form.controls['prefix'].value"
            (blur)="validate(form.controls['prefix'])"
          />
          <app-signal-error-messages
            [control]="form.controls['prefix']"
            [formSubmitted]="formSubmitted"
          ></app-signal-error-messages>
        </div>
      </div>
      <div class="col-3">
        <div class="field">
          <label for="suffix">SUFFIX (OPTIONAL)</label>
          <input
            type="text"
            pInputText
            id="suffix"
            [disabled]="form.controls['suffix'].disabled()"
            [(ngModel)]="form.controls['suffix'].value"
            (blur)="validate(form.controls['suffix'])"
          />
          <app-signal-error-messages
            [control]="form.controls['suffix']"
            [formSubmitted]="formSubmitted"
          ></app-signal-error-messages>
        </div>
      </div>
      <div class="col-6"></div>
    </div>
  }
  <div class="grid">
    <div class="col-12">
      <hr />
    </div>
  </div>
  <div class="grid">
    <div class="col-12">
      <h3>Address</h3>
    </div>
  </div>
  <div class="grid">
    <div class="col-6">
      <div class="field">
        <label for="country">COUNTRY/REGION</label>
        <p-select
          inputId="country"
          [disabled]="form.controls['country'].disabled()"
          [(ngModel)]="form.controls['country'].value"
          (blur)="validate(form.controls['country'])"
          [options]="countryOptions"
        ></p-select>
      </div>
    </div>
    <div class="col-6"></div>
  </div>
  <div class="grid">
    <div class="col-6">
      <div class="field">
        <label for="street_1">STREET ADDRESS</label>
        <input
          type="text"
          pInputText
          id="street_1"
          [disabled]="form.controls['street_1'].disabled()"
          [(ngModel)]="form.controls['street_1'].value"
          (blur)="validate(form.controls['street_1'])"
        />
        <app-signal-error-messages
          [control]="form.controls['street_1']"
          [formSubmitted]="formSubmitted"
        ></app-signal-error-messages>
      </div>
    </div>
    <div class="col-6">
      <div class="field">
        <label for="street_2">APARTMENT, SUITE, ETC. (OPTIONAL)</label>
        <input
          type="text"
          pInputText
          id="street_2"
          [disabled]="form.controls['street_2'].disabled()"
          [(ngModel)]="form.controls['street_2'].value"
          (blur)="validate(form.controls['street_2'])"
        />
        <app-signal-error-messages
          [control]="form.controls['street_2']"
          [formSubmitted]="formSubmitted"
        ></app-signal-error-messages>
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="col-6">
      <div class="field">
        <label for="city">CITY</label>
        <input
          type="text"
          pInputText
          id="city"
          [disabled]="form.controls['city'].disabled()"
          [(ngModel)]="form.controls['city'].value"
          (blur)="validate(form.controls['city'])"
        />
        <app-signal-error-messages
          [control]="form.controls['city']"
          [formSubmitted]="formSubmitted"
        ></app-signal-error-messages>
      </div>
    </div>
    <div class="col-3">
      <div class="field">
        <label for="state">STATE/PROVINCE</label>
        <p-select
          inputId="state"
          [disabled]="form.controls['state'].disabled()"
          [(ngModel)]="form.controls['state'].value"
          (blur)="validate(form.controls['state'])"
          [options]="stateOptions()"
          [autoDisplayFirst]="false"
          appendTo="body"
        ></p-select>
        <app-signal-error-messages
          [control]="form.controls['state']"
          [formSubmitted]="formSubmitted"
        ></app-signal-error-messages>
      </div>
    </div>
    <div class="col-3">
      <div class="field">
        <label for="zip">ZIP/POSTAL CODE</label>
        <input
          type="text"
          pInputText
          id="zip"
          [disabled]="form.controls['zip'].disabled()"
          [(ngModel)]="form.controls['zip'].value"
          (blur)="validate(form.controls['zip'])"
        />
        <app-signal-error-messages
          [control]="form.controls['zip']"
          [formSubmitted]="formSubmitted"
        ></app-signal-error-messages>
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="col-6">
      <div class="field">
        <label id="telephone-label" for="telephone">TELEPHONE (OPTIONAL)</label>
        <app-fec-international-phone-input
          [disabled]="form.controls['telephone'].disabled()"
          [(ngModel)]="form.controls['telephone'].value"
          (blur)="validate(form.controls['telephone'])"
        >
        </app-fec-international-phone-input>
        <app-signal-error-messages
          [control]="form.controls['telephone']"
          [formSubmitted]="formSubmitted"
          patternErrorMessage="This field must contain 10 numeric characters."
        ></app-signal-error-messages>
      </div>
    </div>
    <div class="col-6"></div>
  </div>
  @if (isIndividual() || isCandidate()) {
    <div class="grid">
      <div class="col-12">
        <hr />
      </div>
    </div>
    <div class="grid">
      <div class="col-12">
        <h3>Employer</h3>
      </div>
    </div>
    <div class="grid">
      <div class="col-6">
        <div class="field">
          <label for="employer">EMPLOYER (OPTIONAL)</label>
          <input
            type="text"
            pInputText
            id="employer"
            [disabled]="form.controls['employer'].disabled()"
            [(ngModel)]="form.controls['employer'].value"
            (blur)="validate(form.controls['employer'])"
          />
          <app-signal-error-messages
            [control]="form.controls['employer']"
            [formSubmitted]="formSubmitted"
          ></app-signal-error-messages>
        </div>
      </div>
      <div class="col-6">
        <div class="field">
          <label for="occupation">OCCUPATION (OPTIONAL)</label>
          <input
            type="text"
            pInputText
            id="occupation"
            [disabled]="form.controls['occupation'].disabled()"
            [(ngModel)]="form.controls['occupation'].value"
            (blur)="validate(form.controls['occupation'])"
          />
          <app-signal-error-messages
            [control]="form.controls['occupation']"
            [formSubmitted]="formSubmitted"
          ></app-signal-error-messages>
        </div>
      </div>
    </div>
  }
  @if (isCandidate()) {
    <div class="grid">
      <div class="col-12">
        <hr />
      </div>
    </div>
    <div class="grid">
      <div class="col-12">
        <h3>Office</h3>
      </div>
    </div>
    <app-candidate-office-input
      [formSubmitted]="formSubmitted"
      [(office)]="form.controls['candidate_office']"
      [(state)]="form.controls['candidate_state']"
      [(district)]="form.controls['candidate_district']"
    >
    </app-candidate-office-input>
  }

  @if (showHistory() && !isNewItem()) {
    <div>
      <app-table
        title="Transaction history"
        sortField="transaction_type_identifier"
        [(first)]="first"
        [items]="transactions"
        [totalItems]="totalTransactions"
        [sortableHeaders]="sortableHeaders"
        [loading]="tableLoading"
        [(rowsPerPage)]="rowsPerPage"
        itemName="transactions"
        [emptyMessage]="emptyMessage"
        (loadTableItems)="loadTransactions($event)"
      >
        <ng-template #header> </ng-template>
        <ng-template #body let-transaction>
          <td>
            <a (click)="openTransaction(transaction)">
              {{ transaction.transaction_type_identifier | label: scheduleTransactionTypeLabels }}
            </a>
          </td>
          <td>{{ transaction.form_type }}</td>
          <td>{{ transaction.report_code_label }}</td>
          <td>{{ transaction.date | date: 'MM/dd/yyyy' }}</td>
          <td>{{ transaction.amount | currency }}</td>
        </ng-template>
      </app-table>
    </div>
  }
  <ng-template #footer>
    <div class="top-border-footer">
      <button
        pButton
        pRipple
        label="Cancel"
        icon="pi pi-times"
        class="p-button-secondary mr-4"
        (click)="detailVisible.set(false)"
      ></button>
      @if (headerTitle()) {
        <button
          type="button"
          pButton
          pRipple
          label="Save & continue"
          icon="pi pi-check"
          class="p-button-info"
          (click)="saveContact()"
        ></button>
      } @else {
        <button
          type="button"
          pButton
          pRipple
          label="Save"
          icon="pi pi-check"
          class="p-button-primary"
          (click)="isNewItem() ? saveContact() : confirmPropagation()"
        ></button>
        @if (isNewItem()) {
          <button
            type="button"
            pButton
            pRipple
            label="Save & Add More"
            icon="pi pi-check"
            class="p-button-info"
            (click)="saveContact(false)"
          ></button>
        }
      }
    </div>
  </ng-template>
</p-dialog>

<p-confirmDialog key="contactDialogDialog" [style.width.px]="450"></p-confirmDialog>
