@use 'mixins' as *;

:host::ng-deep {
  .form-column,
  .date-column {
    display: none;
  }

  .type-column {
    --col-width: 35.2%;
  }
  .report-column {
    --col-width: 46%;
  }
  .amount-column {
    --col-width: 18.8%;
  }

  @media (min-width: $md) {
    .type-column {
      --col-width: 40%;
    }

    .amount-column {
      --col-width: 14%;
    }
  }

  @media (min-width: $lg) {
    .form-column,
    .date-column {
      display: table-cell;
    }

    .type-column {
      --col-width: 31.9%;
    }
    .form-column {
      --col-width: 10.5%;
    }
    .report-column {
      --col-width: 35%;
    }
    .date-column,
    .amount-column {
      --col-width: 11.3%;
    }
  }

  @media (min-width: $xxl) {
    .type-column {
      --col-width: 35.2%;
    }
    .form-column {
      --col-width: 8.5%;
    }
    .report-column {
      --col-width: 38.1%;
    }
    .date-column,
    .amount-column {
      --col-width: 9.1%;
    }
  }
}
