<app-dialog
  tabindex="-1"
  aria-labelledby="dialog-title"
  [title]="headerTitle() ?? (isNewItem() ? 'Add Contact' : 'Edit Contact')"
  [(visible)]="visible"
  [submitDisabled]="form().invalid()"
  (confirm)="submitForm()"
>
  <form novalidate (submit)="$event.preventDefault()" class="grid-form">
    <app-select-input
      label="CONTACT TYPE"
      [formField]="form.type"
      labelId="contact-type-label"
      [options]="availableContactTypes()"
      class="grid-col-12 w-max"
    />
    @if (!form.IND().hidden()) {
      <!-- For now we pass in headerTitle to limit dup check to transactions, eventually use isNewItem -->
      <app-individual-contact-form [fields]="form.IND" [isNewItem]="!!headerTitle()" />
    }
    @if (!form.CAN().hidden()) {
      <app-candidate-contact-form [fields]="form.CAN" [isNewItem]="!!headerTitle()" />
    }
    @if (!form.COM().hidden()) {
      <app-committee-contact-form [fields]="form.COM" [isNewItem]="!!headerTitle()" />
    }
    @if (!form.ORG().hidden()) {
      <app-organization-contact-form [fields]="form.ORG" [isNewItem]="!!headerTitle()" />
    }

    @if (showHistory() && !isNewItem()) {
      <app-contact-transaction-table [contact]="contact()" />
    }
  </form>
</app-dialog>
