<div [formGroup]="form()">
  <div class="grid">
    <div class="col-6">
      <div class="field">
        <label for="balance">BEGINNING BALANCE</label>
        <p-inputnumber
          inputId="balance"
          mode="currency"
          currency="USD"
          [formControlName]="templateMap()['balance']"
          [readonly]="true"
          inputStyleClass="readonly"
        ></p-inputnumber>
        <app-error-messages
          [control]="form().get(templateMap()['balance'])!"
          [formSubmitted]="formSubmitted()"
          patternErrorMessage="This field must be a number"
          maxLengthErrorMessage="The beginning balance can be 12 digits max"
        ></app-error-messages>
      </div>
    </div>
    <div class="col-6">
      <div class="field">
        <label for="amount">INCURRED AMOUNT</label>
        <p-inputnumber
          inputId="amount"
          mode="currency"
          currency="USD"
          [formControlName]="templateMap()['amount']"
        ></p-inputnumber>
        <app-error-messages
          [control]="form().get(templateMap()['amount'])!"
          [formSubmitted]="formSubmitted()"
          patternErrorMessage="This field must be a number"
          maxLengthErrorMessage="The incurred amount can be 12 digits max"
        ></app-error-messages>
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="col-6">
      <div class="field">
        <label for="payment_amount">PAYMENT AMOUNT</label>
        <p-inputnumber
          inputId="payment_amount"
          mode="currency"
          currency="USD"
          formControlName="payment_amount"
          [readonly]="true"
          inputStyleClass="readonly"
        ></p-inputnumber>
        <app-error-messages
          [control]="form().get('payment_amount')!"
          [formSubmitted]="formSubmitted()"
          patternErrorMessage="This field must be a number"
          maxLengthErrorMessage="The payment amount can be 12 digits max"
        ></app-error-messages>
      </div>
    </div>
    <div class="col-6">
      <div class="field">
        <label for="balance_at_close">BALANCE AT CLOSE</label>
        <p-inputnumber
          inputId="balance_at_close"
          mode="currency"
          currency="USD"
          formControlName="balance_at_close"
          [readonly]="true"
          inputStyleClass="readonly"
        ></p-inputnumber>
        <app-error-messages
          [control]="form().get('balance_at_close')!"
          [formSubmitted]="formSubmitted()"
          patternErrorMessage="This field must be a number"
          maxLengthErrorMessage="The balance at close can be 12 digits max"
        ></app-error-messages>
      </div>
    </div>
  </div>
</div>
