<div [formGroup]="form" class="flex flex-column gap-4 ml-2 mt-5 mb-3">
  <app-calendar
    class="grid"
    [fieldName]="templateMap['date']"
    [form]="form"
    [formSubmitted]="formSubmitted"
    label="DATE INCURRED"
  />
  <div class="grid grid-cols-2">
    <app-select
      [inputId]="templateMap['loan_due_date_is_date']"
      label="DATE DUE"
      [options]="dueDateSettingOptions"
      [form]="form"
      [formControlName]="templateMap['loan_due_date_is_date']"
      [formSubmitted]="formSubmitted"
    />
    <div data-cy="dueDateInput">
      @switch (dueDateSetting) {
        @case (termFieldSettings.USER_DEFINED) {
          <div class="field">
            <div class="label-wrapper">
              <label [id]="dueDateId.label" [for]="dueDateId.id">
                <span>OTHER</span>
              </label>
              <small class="other-subtext">Describe Due Date</small>
            </div>
            <input type="text" pInputText [id]="dueDateId.id" [formControlName]="templateMap['due_date']" />
            <app-error-messages [form]="form" [fieldName]="templateMap['due_date']" [formSubmitted]="formSubmitted" />
          </div>
        }
        @case (termFieldSettings.SPECIFIC_DATE) {
          <app-calendar
            [fieldName]="templateMap['due_date']"
            [form]="form"
            [formSubmitted]="formSubmitted"
            label="SPECIFIC DATE"
          />
        }
        @default {}
      }
    </div>
  </div>

  <div class="grid grid-cols-2">
    <app-select
      [inputId]="templateMap['loan_interest_rate_is_percent']"
      label="INTEREST RATE"
      [options]="interestRateSettingOptions"
      [form]="form"
      [formControlName]="templateMap['loan_interest_rate_is_percent']"
      [formSubmitted]="formSubmitted"
    />
    <div data-cy="interestRateInput">
      @switch (interestRateSetting) {
        @case (termFieldSettings.USER_DEFINED) {
          <div class="field">
            <div class="label-wrapper">
              <label [id]="interestRateId.label" [for]="interestRateId.id">
                <span>OTHER</span>
              </label>
              <small class="other-subtext">Describe Interest Rate</small>
            </div>
            <input type="text" pInputText [id]="interestRateId.id" [formControlName]="templateMap['interest_rate']" />
            <app-error-messages
              [form]="form"
              [fieldName]="templateMap['interest_rate']"
              [formSubmitted]="formSubmitted"
            />
          </div>
        }
        @case (termFieldSettings.EXACT_PERCENTAGE) {
          <div class="field">
            <label [id]="interestRateId.label" [for]="interestRateId.id"> EXACT PERCENTAGE</label>
            <div class="percent-input-wrapper">
              <input
                #interestRatePercentage
                type="text"
                class="percent-input"
                pInputText
                [id]="interestRateId.id"
                [formControlName]="templateMap['interest_rate']"
              />

              <img src="assets/img/percent-sign.svg" alt="percent sign" class="percent-icon" />
            </div>
            <app-error-messages
              [form]="form"
              [fieldName]="templateMap['interest_rate']"
              [formSubmitted]="formSubmitted"
              patternErrorMessage="The interest rate must be a valid percentage with no more than 5 decimal places."
            />
          </div>
        }
        @default {}
      }
    </div>
  </div>
</div>
