<div [formGroup]="form">
  <div class="grid">
    <div class="col-6">
      <app-calendar
        [fieldName]="templateMap['date']"
        [form]="form"
        [formSubmitted]="formSubmitted"
        label="DATE INCURRED"
      />
    </div>
    <div class="col-6"></div>
    <div class="col-6">
      <app-select
        [inputId]="templateMap['due_date_setting']"
        label="DATE DUE"
        [options]="dueDateSettingOptions"
        [form]="form"
        [formControlName]="templateMap['due_date_setting']"
        [formSubmitted]="formSubmitted"
      />
    </div>
    <div class="col-6" data-cy="dueDateInput">
      @switch (dueDateSetting) {
        @case (termFieldSettings.USER_DEFINED) {
          <div class="field">
            <label [id]="dueDateLabelId()" [for]="dueDateId()"
              >DATE DUE <span class="paren-label">(USER DEFINED)</span></label
            >
            <input type="text" pInputText [id]="dueDateId()" [formControlName]="templateMap['due_date']" />
            <app-error-messages [form]="form" [fieldName]="templateMap['due_date']" [formSubmitted]="formSubmitted" />
          </div>
        }
        @case (termFieldSettings.SPECIFIC_DATE) {
          <app-calendar
            [fieldName]="templateMap['due_date']"
            [form]="form"
            [formSubmitted]="formSubmitted"
            label="SPECIFIC DATE"
          />
        }
        @default {}
      }
    </div>

    <div class="col-6">
      <app-select
        [inputId]="templateMap['interest_rate_setting']"
        label="INTEREST RATE"
        [options]="interestRateSettingOptions"
        [form]="form"
        [formControlName]="templateMap['interest_rate_setting']"
        [formSubmitted]="formSubmitted"
      />
    </div>
    <div class="col-6" data-cy="interestRateInput">
      @switch (interestRateSetting) {
        @case (termFieldSettings.USER_DEFINED) {
          <div class="field">
            <label [id]="interestRateLabelId()" [for]="interestRateId()"
              >INTEREST RATE <span class="paren-label">(USER DEFINED)</span></label
            >
            <input type="text" pInputText [id]="interestRateId()" [formControlName]="templateMap['interest_rate']" />
            <app-error-messages
              [form]="form"
              [fieldName]="templateMap['interest_rate']"
              [formSubmitted]="formSubmitted"
            />
          </div>
        }
        @case (termFieldSettings.EXACT_PERCENTAGE) {
          <div class="field">
            <label [id]="interestRateLabelId()" [for]="interestRateId()"
              >EXACT PERCENTAGE <span class="paren-label">(%)</span></label
            >
            <input
              #interestRatePercentage
              type="text"
              pInputText
              [id]="interestRateId()"
              [formControlName]="templateMap['interest_rate']"
            />
            <app-error-messages
              [form]="form"
              [fieldName]="templateMap['interest_rate']"
              [formSubmitted]="formSubmitted"
              patternErrorMessage="The interest rate must be a valid percentage with no more than 5 decimal places."
            />
          </div>
        }
        @default {}
      }
    </div>
  </div>
</div>
