#fec-seal-and-title {
  min-height: 64px;
  max-height: 5%;
  position: absolute;
  left: 5px;
  top: 40px;
}

p,
li {
  margin-bottom: 20px;
  padding-top: 0;
}

p + ul {
  margin-top: 0;
}

.security-notice {
  width: 100%;
  height: 100%;
  margin-top: 100px;
}

.notice-header {
  padding-left: 20px;
  padding-top: 16px;
}

#security-consent-label {
  width: 50%;
}

:host ::ng-deep {
  .p-checkbox-label {
    font-style: italic;
    font-family: var(--gandhi-regular);
  }
}

.logout-button {
  position: absolute;
  top: 64px;
  right: 32px;
  font-size: 18px;
  font-family: var(--karla-bold);
  text-transform: uppercase;
  text-shadow: #000000 1px 0 10px;
  color: white !important;
}

.decline-button {
  margin-right: 20px;
}

ul li {
  list-style-type: disc;
  margin-left: 16px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
  margin: 0;
}

.top-line {
  margin: 20px 0;
}

p {
  font-size: 18px;
}

.notice-box-form {
  width: 80vw;
  margin: 0 32px;
}

.notice-box {
  max-width: min(648px, 100vw);
  margin: 0;
}
@media screen and (max-width: 767px) {
  .notice-box {
    margin: 0 32px;
  }
}
@media screen and (min-width: 768px) {
  .notice-box {
    width: 66.666666666667vw;
  }
}
@media screen and (min-width: 1200px) {
  .notice-box {
    width: 50vw;
  }
}

.security-container {
  background-color: white;
  margin-top: 108px;
  padding: 32px;
  border-radius: 8px;
}
