#fec-seal-and-title {
  min-height: 64px;
  max-height: 5%;
  position: absolute;
  left: 5px;
  top: 40px;
}

p {
  margin-bottom: 1rem;
  padding-top: 0;
}

p + ul {
  margin-top: 0;
}

.security-notice {
  width: 100%;
  height: 100%;
  margin-top: 100px;
}

.notice-header {
  padding-left: 20px;
  padding-top: 16px;
}

#security-consent-label {
  width: 50%;
}

:host ::ng-deep {
  .p-card {
    box-shadow: none;
    margin-top: 0px;
    border-radius: 8px;
    border-width: 1px;
    border-color: #000000;
    border-style: solid;
  }

  .p-card .p-card-body {
    padding: 20px;
  }

  .p-card .p-card-body .p-card-content {
    padding: 0px;
  }
}

.logout-button {
  position: absolute;
  top: 64px;
  right: 32px;
  font-size: 18px;
  font-family: 'karla-bold', sans-serif;
  text-transform: uppercase;
  text-shadow: #000000 1px 0 10px;
  color: white !important;
}

.decline-button {
  margin-right: 20px;
}

ul li {
  list-style-type: disc;
  margin-left: 16px;
}
