<app-text-input class="start-row grid-col-4" [label]="lastNameLabel()" id="last_name" [field]="fields().last_name" />
<app-text-input class="grid-col-4" [label]="firstNameLabel()" id="first_name" [field]="fields().first_name" />
<app-text-input class="grid-col-4" [label]="middleNameLabel()" [optional]="true" id="middle_name" [field]="fields().middle_name" />
<app-text-input class="grid-col-3" [label]="prefixLabel()" [optional]="true" id="prefix" [field]="fields().prefix" />
<app-text-input class="grid-col-3" [label]="suffixLabel()" [optional]="true" id="suffix" [field]="fields().suffix" />
