<app-text-input
  class="start-row grid-col-4"
  [label]="lastNameLabel()"
  inputId="last_name"
  [formField]="fields().last_name"
/>
<app-text-input class="grid-col-4" [label]="firstNameLabel()" inputId="first_name" [formField]="fields().first_name" />
<app-text-input
  class="grid-col-4"
  [label]="middleNameLabel()"
  [optional]="true"
  inputId="middle_name"
  [formField]="fields().middle_name"
/>
<app-text-input
  class="grid-col-3"
  [label]="prefixLabel()"
  [optional]="true"
  inputId="prefix"
  [formField]="fields().prefix"
/>
<app-text-input
  class="grid-col-3"
  [label]="suffixLabel()"
  [optional]="true"
  inputId="suffix"
  [formField]="fields().suffix"
/>
