@use 'mixins' as *;

.body-header {
  font-family: var(--karla-bold);
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.body-text {
  font-family: var(--gandhi);
  font-size: 16px;
  line-height: 24px;
}

.inner-body-text {
  margin-top: 14px;
  font-size: 14px;
  line-height: 18px;

  --col-width: 100%;

  @media (min-width: $xl) {
    --col-width: 66.6667%;
  }
  @media (min-width: $xxl) {
    --col-width: 50%;
  }
}

#left-content {
  gap: 32px;
  display: flex;
  flex-direction: column;
  --col-width: 66.6667%;

  @media (min-width: $xl) {
    --col-width: 50%;
  }
}

#right-content {
  align-content: center;
  --col-width: 33.33%;

  @media (min-width: $xl) {
    --col-width: 50%;
  }
}
