<div class="cookies-disabled-message">
  <header class="flex align-items-center gap-2">
    <svg alt="Exclamation" width="24" height="24" class="primary-icon">
      <use href="assets/img/exclamation.svg#exclamation-icon"></use>
    </svg>
    <h1 class="text-2xl line-height-1">Cookies are disabled in your browser</h1>
  </header>
  <main class="karla flex flex-column gap-3 w-max line-height-2">
    <section>
      Your cookie settings are preventing you from using FECfile+. To <br />
      continue, cookies must be enabled in your browser. Try these <br />
      steps to enable cookies in your browser:
    </section>
    <ul>
      <li>Open your browser's settings or preferences</li>
      <li>Search browser settings for "cookies"</li>
      <li>Or, search online for "Enable cookies in my browser."</li>
    </ul>
    <section>Once cookies are enabled, refresh this page and try again.</section>
  </main>
</div>
