.cookies-disabled-message {
  padding: 16px 32px 32px 32px;
  border-radius: var(--border-radius);
  background-color: #f8f8f8;
  margin-inline: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  width: max-content;
}

ul li {
  list-style-type: disc;
  margin-left: 24px;
  padding-left: 16px;
}
