<button class="seal-link navbar-brand" data-cy="cookies-disabled-page-seal-button">
  <img
    src="assets/img/seal-and-title-white.svg"
    class="seal-and-title mr-2"
    alt="FEC Seal"
    height="48"
    width="227"
    data-cy="cookies-disabled-page-seal-image"
  />
</button>
<div class="cookies-disabled-message" data-cy="cookies-disabled-page-message">
  <img
    src="assets/img/exclamation.svg"
    height="36px"
    width="36px"
    alt="exclamation"
    data-cy="cookies-disabled-page-exclamation-image"
  />
  <div class="text-container" data-cy="cookies-disabled-page-text-container">
    <h1 data-cy="cookies-disabled-page-title">Cookies are disabled in your browser</h1>
    <p data-cy="cookies-disabled-page-description">
      Your cookie settings are preventing you from using FECfile+. To continue, cookies must be enabled in your browser.
    </p>
    <hr />
    <p data-cy="cookies-disabled-page-steps-title">Try these steps to enable cookies in your browser:</p>
    <ul data-cy="cookies-disabled-page-steps-list">
      <li data-cy="cookies-disabled-page-step-1">Open your browser's settings or preferences</li>
      <li data-cy="cookies-disabled-page-step-2">Search browser settings for "cookies"</li>
      <li data-cy="cookies-disabled-page-step-3">Or, search online for "Enable cookies in my browser."</li>
    </ul>
    <p data-cy="cookies-disabled-page-refresh-text">Once cookies are enabled, refresh this page and try again.</p>
  </div>
</div>
