<div [formGroup]="form" [attr.data-cy]="contextDataCy('loan-terms', 'panel')">
  <app-loan-terms-dates-input
    [form]="form"
    [formSubmitted]="formSubmitted"
    [templateMap]="templateMap"
    [transaction]="transaction()"
    [dataCyContext]="contextDataCy('loan-terms')"
  />
  <app-yes-no-radio-input
    [form]="form"
    [formSubmitted]="formSubmitted"
    [controlName]="templateMap['secured']"
    label="Is this loan secured?"
    ariaLabelYes="This loan is secured"
    ariaLabelNo="This loan is not secured"
    [dataCyContext]="contextDataCy('loan-terms')"
  />
</div>
