.p-field-checkbox > .p-disabled {
  opacity: 1;
  color: #999999;
}

:host ::ng-deep .p-disabled > .p-radiobutton {
  opacity: 0.65;
}

#form {
  max-width: 360px;
  width: 360px;
}

#loan-agreement-container {
  border-left: 5px solid var(--fec-grey-alt);
  max-width: 360px;
  width: 360px;
}

@media (min-width: 576px) {
  #form {
    max-width: 540px;
    width: 540px;
  }
  #loan-agreement-container {
    max-width: 540px;
    width: 540px;
  }
}

@media (min-width: 768px) {
  #form {
    max-width: 720px;
    width: 720px;
  }
  #loan-agreement-container {
    max-width: 720px;
    width: 720px;
  }
}

@media (min-width: 992px) {
  #form {
    max-width: 815px;
    width: 815px;
  }
  #loan-agreement-container {
    max-width: 815px;
    width: 815px;
  }
}

.misc-label {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 18px;
  margin: 0 1.5em 0.75em 0;
  font-family: var(--gandhi-bold);
  font-weight: 700;
}

h2 {
  margin: 0 0 1em;
  font-family: var(--gandhi-bold);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
}

.custom-info-icon {
  background-color: var(--primary-color);
  color: #ffffff;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  height: 1.25rem;
  width: 1.25rem;
  align-self: center;
}
