@use 'mixins' as *;
:host::ng-deep {
  h2 {
    font-family: var(--gandhi-bold);
    font-weight: bolder;
    font-size: 24px !important;
  }

  .line-column {
    display: none;
  }

  .period-column {
    --col-width: 130px;
    text-align: right !important;
  }

  .ytd-column {
    --col-width: 160px;
    text-align: right !important;
  }

  @media (min-width: $md) {
    .line-column {
      display: table-cell;
      --col-width: 72px;
    }
  }
}
