<div class="flex register-committee-columns">
  <div class="col-6 left-side">
    <h1>Create an account</h1>
    <p-divider></p-divider>

    <img src="assets/img/person-filing.jpg" draggable="false" alt="Person filing image" />
  </div>
  <div class="col-6 right-side">
    <div class="go-back">
      <a routerLink="/select-committee">&lt; GO BACK</a>
    </div>
    <div class="find-committee-box">
      <h2>Find your committee</h2>
      <h5 class="font-karla-bold">COMMITTEE NAME OR ID</h5>

      Examples: Obama for America; C00431445; Bush for President Inc.; C00343509
    </div>
  </div>
</div>
