:host ::ng-deep {
  display: block;

  .field {
    font-size: 14px;
    margin-bottom: 24px;
  }

  .field > label {
    margin-bottom: 4px;
  }

  img {
    display: none;
  }
}

h2 {
  font-size: 18px;
  margin-top: 24px;
  margin-bottom: 24px;
}

p {
  font-size: 14px;
  font-family: var(--karla);
  margin-bottom: 24px;
}

input {
  height: 32px;
}
