<app-select-input
  class="grid-col-6"
  labelId="country-label"
  label="COUNTRY/<wbr />REGION"
  [formField]="fields().country!"
  [options]="countryOptions"
/>

<app-text-input
  class="start-row grid-col-6"
  label="STREET ADDRESS"
  inputId="street_1"
  [formField]="fields().street_1"
/>
<app-text-input
  class="grid-col-6"
  label="APARTMENT, SUITE, ETC."
  inputId="street_2"
  [formField]="fields().street_2"
/>
<app-text-input class="grid-col-6" label="CITY" inputId="city" [formField]="fields().city" />
<app-select-input
  class="grid-col-3"
  labelId="state-label"
  label="STATE/<wbr />TERRITORY"
  [formField]="fields().state"
  [options]="stateOptions()"
  [searchable]="true"
/>
<app-text-input class="grid-col-3" label="ZIP/POSTAL CODE" inputId="zip" [formField]="fields().zip" />
