.report-info {
  margin-bottom: 3vw;
}

.report-info .title-2 {
  border-bottom: 1px solid white;
  margin-bottom: 1vw;
}

.report-info .report-type {
  font-size: 1.5em;
}

.sub-heading {
  font-size: 0.8em;
}
