<div [formGroup]="form">
  <div class="grid">
    <div class="col-8">
      <div class="field">
        <label for="amount">ORIGINAL AMOUNT</label>
        <app-input-number inputId="amount" [formControlName]="templateMap['amount']" />
        <app-error-messages [form]="form" [fieldName]="templateMap['amount']" [formSubmitted]="formSubmitted" />
      </div>
    </div>
  </div>
  <hr type="solid" />
  <h3>Terms</h3>
  <app-loan-terms-dates-input
    [form]="form"
    [formSubmitted]="formSubmitted"
    [templateMap]="templateMap"
    [transaction]="transaction()"
  />
  <app-yes-no-radio-input
    [form]="form"
    [formSubmitted]="formSubmitted"
    controlName="loan_restructured"
    label="Has loan been restructured?"
    ariaLabelYes="This loan has been restructured"
    ariaLabelNo="This loan has not been restructured"
  />
  @if (showLoanRestructured) {
    <div class="grid">
      <div class="col-4">
        <app-calendar
          fieldName="loan_originally_incurred_date"
          [form]="form"
          [formSubmitted]="formSubmitted"
          label="DATE OF ORIGINAL LOAN"
        />
      </div>
    </div>
  }
  <app-yes-no-radio-input
    [form]="form"
    [formSubmitted]="formSubmitted"
    controlName="line_of_credit"
    label="Is there a line of credit? "
    parenLabel="(OPTIONAL)"
    ariaLabelYes="There is a line of credit"
    ariaLabelNo="There is not a line of credit"
  />
  @if (showLineOfCredit) {
    <div class="grid">
      <div class="col-4">
        <div class="field">
          <label for="credit_amount_this_draw"
            >CREDIT AMOUNT THIS DRAW <span class="paren-label">(OPTIONAL)</span></label
          >
          <app-input-number inputId="credit_amount_this_draw" formControlName="credit_amount_this_draw" />
          <app-error-messages [form]="form" fieldName="credit_amount_this_draw" [formSubmitted]="formSubmitted" />
        </div>
      </div>
      <div class="col-4">
        <div class="field">
          <label for="balance">TOTAL BALANCE</label>
          <app-input-number inputId="balance" [formControlName]="templateMap['balance']" />
          <app-error-messages [form]="form" [fieldName]="templateMap['balance']" [formSubmitted]="formSubmitted" />
        </div>
      </div>
    </div>
  }
  <hr type="solid" />
  <h3>Others liable</h3>
  <app-yes-no-radio-input
    [form]="form"
    [formSubmitted]="formSubmitted"
    controlName="others_liable"
    label="Are other parties secondarily liable for the debt incurred?"
    ariaLabelYes="Other parties are secondarily liable"
    ariaLabelNo="Other parties are not secondarily liable"
  />
  @if (showOthersLiable) {
    <div class="grid">
      <div class="col-12">
        <div class="field">
          <span class="bold"
            >Endorsers and guarantors must be reported on Schedule C - Loan received from bank in STEP ONE</span
          >
        </div>
      </div>
    </div>
  }
  <hr type="solid" />
  <h3>Collateral</h3>
  <app-yes-no-radio-input
    [form]="form"
    [formSubmitted]="formSubmitted"
    [controlName]="templateMap['secured']"
    label="Are any of the following pledged as collateral for the loan: real estate, personal property, goods, negotiable instruments, certificates of deposit, chattel papers, stocks, accounts receivable, cash on deposit, or other similar traditional collateral?"
    ariaLabelYes="Collateral has been pledged"
    ariaLabelNo="Collateral has not been pledged"
  />
  @if (showSecured) {
    <div class="grid">
      <div class="col-12">
        <div class="field">
          <label for="desc_collateral">COLLATERAL DESCRIPTION</label>
          <textarea
            id="desc_collateral"
            [rows]="5"
            [cols]="30"
            appAutoResize
            formControlName="desc_collateral"
          ></textarea>
          <app-error-messages [form]="form" fieldName="desc_collateral" [formSubmitted]="formSubmitted" />
        </div>
      </div>
    </div>
    <div class="grid">
      <div class="col-4">
        <div class="field">
          <label for="collateral_value_amount">COLLATERAL AMOUNT</label>
          <app-input-number inputId="collateral_value_amount" formControlName="collateral_value_amount" />
          <app-error-messages [form]="form" fieldName="collateral_value_amount" [formSubmitted]="formSubmitted" />
        </div>
      </div>
    </div>
    <app-yes-no-radio-input
      [form]="form"
      [formSubmitted]="formSubmitted"
      controlName="perfected_interest"
      label="Does the lender have a perfected security interest in it? "
      parenLabel="(OPTIONAL)"
      ariaLabelYes="Lender has a perfected security interest"
      ariaLabelNo="Lender does not have a perfected security interest"
    />
  }
  <hr type="solid" />
  <h3>Future income</h3>
  <app-yes-no-radio-input
    [form]="form"
    [formSubmitted]="formSubmitted"
    controlName="future_income"
    label="Are any future contributions or future receipts of interest income, pledged as collateral for the loan?"
    ariaLabelYes="Future income has been pledged"
    ariaLabelNo="Future income has not been pledged"
  />
  @if (showFutureIncome) {
    <div class="grid">
      <div class="col-12">
        <div class="field">
          <label for="desc_specification_of_the_above">FUTURE INCOME DESCRIPTION</label>
          <textarea
            id="desc_specification_of_the_above"
            [rows]="5"
            [cols]="30"
            appAutoResize
            formControlName="desc_specification_of_the_above"
          ></textarea>
          <app-error-messages
            [form]="form"
            fieldName="desc_specification_of_the_above"
            [formSubmitted]="formSubmitted"
          />
        </div>
      </div>
    </div>
    <div class="grid">
      <div class="col-5">
        <div class="field">
          <label for="estimated_value">ESTIMATED VALUE</label>
          <app-input-number inputId="estimated_value" formControlName="estimated_value" />
          <app-error-messages [form]="form" fieldName="estimated_value" [formSubmitted]="formSubmitted" />
        </div>
      </div>
      <div class="col-5">
        <app-calendar
          fieldName="depository_account_established_date"
          [form]="form"
          [formSubmitted]="formSubmitted"
          label="DEPOSITORY ACCOUNT ESTABLISHED"
        />
      </div>
    </div>
    <div class="grid">
      <div class="col-12">
        <div class="field">
          <label for="location_of_account">LOCATION OF ACCOUNT</label>
          <span class="pi pi-info-circle circle-icon-tooltip" pTooltip="{{ locationOfAccountHelpText }}"></span>
          <app-transaction-contact-lookup
            contactProperty="contact_2"
            [transaction]="transaction()"
            [form]="form"
            [formSubmitted]="formSubmitted"
            [contactTypeOptions]="contactTypeOptions"
            (contactSelect)="updateFormWithLocationOfAccountContact($event)"
          />
        </div>
      </div>
    </div>
    @if (showLocationOfAccount) {
      <div class="grid">
        <div class="col-12">
          <div class="field">
            <label for="secondary_name">ORGANIZATION NAME</label>
            <input type="text" pInputText id="secondary_name" [formControlName]="templateMap['secondary_name']" />
            <app-error-messages
              [form]="form"
              [fieldName]="templateMap['secondary_name']"
              [formSubmitted]="formSubmitted"
            />
          </div>
        </div>
      </div>
      <app-address-input
        [form]="form"
        [formSubmitted]="formSubmitted"
        [templateMap]="templateMap"
        templateMapKeyPrefix="secondary"
      />
    }
  }
  <hr type="solid" />
  <h3>Basis of loan</h3>
  <div class="grid">
    <div class="col-12">
      <div class="field">
        <p>
          If neither of the types of collateral described above was pledged for this loan, or if the amount pledged does
          not equal or exceed the loan amount, state the basis upon which this loan was made and the basis on which it
          assures repayment.
        </p>
        <label for="basis_of_loan_description">DESCRIPTION <span class="paren-label">(OPTIONAL)</span></label>

        <textarea
          id="basis_of_loan_description"
          [rows]="5"
          [cols]="30"
          appAutoResize
          formControlName="basis_of_loan_description"
        ></textarea>
        <app-error-messages [form]="form" fieldName="basis_of_loan_description" [formSubmitted]="formSubmitted" />
      </div>
    </div>
  </div>
</div>
