<div [formGroup]="form">
  <div class="grid">
    <div class="col-8">
      <div class="field">
        <label for="amount">ORIGINAL AMOUNT</label>
        <p-inputNumber
          inputId="amount"
          mode="currency"
          currency="USD"
          locale="en-US"
          [formControlName]="templateMap['amount']"
          inputStyleClass="readonly"
          [readonly]="true"
        ></p-inputNumber>
        <app-error-messages
          [form]="form"
          [fieldName]="templateMap['amount']"
          [formSubmitted]="formSubmitted"
        ></app-error-messages>
      </div>
    </div>
  </div>
  <p-divider></p-divider>
  <h3>Terms</h3>
  <app-loan-terms-dates-input
    [form]="form"
    [formSubmitted]="formSubmitted"
    [templateMap]="templateMap"
  ></app-loan-terms-dates-input>
  <app-yes-no-radio-input
    [form]="form"
    [formSubmitted]="formSubmitted"
    controlName="loan_restructured"
    label="Has loan been restructured? (OPTIONAL)"
    ariaLabelYes="This loan has been restructured"
    ariaLabelNo="This loan has not been restructured"
  ></app-yes-no-radio-input>
  <ng-container *ngIf="showLoanRestructured">
    <div class="grid">
      <div class="col-4">
        <div class="field">
          <label for="loan_originally_incurred_date">DATE ORIGINALLY INCURRED</label>
          <p-calendar
            inputId="loan_originally_incurred_date"
            name="date_signed"
            formControlName="loan_originally_incurred_date"
          ></p-calendar>
          <app-error-messages
            [form]="form"
            fieldName="loan_originally_incurred_date"
            [formSubmitted]="formSubmitted"
          ></app-error-messages>
        </div>
      </div>
    </div>
  </ng-container>
  <app-yes-no-radio-input
    [form]="form"
    [formSubmitted]="formSubmitted"
    controlName="perfected_interest"
    label="Is there a line of credit?"
    ariaLabelYes="There is a line of credit"
    ariaLabelNo="There is not a line of credit"
  ></app-yes-no-radio-input>
  <p-divider></p-divider>
  <h3>Others liable</h3>
  <app-yes-no-radio-input
    [form]="form"
    [formSubmitted]="formSubmitted"
    controlName="others_liable"
    label="Are other parties secondarily liable for the debt incurred?"
    ariaLabelYes="Other parties are secondarily liable"
    ariaLabelNo="Other parties are not secondarily liable"
  ></app-yes-no-radio-input>
  <p-divider></p-divider>
  <h3>Collateral</h3>
  <app-yes-no-radio-input
    [form]="form"
    [formSubmitted]="formSubmitted"
    [controlName]="templateMap['secured']"
    label="Are any of the following pledged as collateral for the loan: real estate, personal property, goods, negotiable instruments, certificates of deposit, chattel papers, stocks, accounts receivable, cash on deposit, or other similar traditional collateral?"
    ariaLabelYes="Collateral has been pledged"
    ariaLabelNo="Collateral has not been pledged"
  ></app-yes-no-radio-input>
  <p-divider></p-divider>
  <h3>Future income</h3>
  <app-yes-no-radio-input
    [form]="form"
    [formSubmitted]="formSubmitted"
    controlName="future_income"
    label="Are any future contributions or future receipts of interest income, pledged as collateral for the loan?"
    ariaLabelYes="Future income has been pledged"
    ariaLabelNo="Future income has not been pledged"
  ></app-yes-no-radio-input>
  <p-divider></p-divider>
  <h3>Basis of loan</h3>
  <div class="grid">
    <div class="col-12">
      <p>
        If neither of the types of collateral described above was pledged for this loan, or if the amount pledged does
        not equal or exceed the loan amount, state the basis upon which this loan was made and the basis on which it
        assures repayment.
      </p>
      <label for="basis_of_loan_description">DESCRIPTION (OPTIONAL)</label>
      <div>
        <textarea
          id="basis_of_loan_description"
          [rows]="5"
          [cols]="30"
          pInputTextarea
          [autoResize]="true"
          formControlName="basis_of_loan_description"
        ></textarea>
        <app-error-messages
          [form]="form"
          fieldName="basis_of_loan_description"
          [formSubmitted]="formSubmitted"
        ></app-error-messages>
      </div>
    </div>
  </div>
</div>
