<div class="p-fluid">
  <div class="grid">
    <div class="col-6">
      <img
        ngSrc="assets/img/user_profile_edit.svg"
        class="user-profile-edit-img"
        height="600"
        width="600"
        alt="An example of the user profile edit"
      /> 
    </div>
    <div class="col-6">  
      <p-card>
        <form id="form" [formGroup]="form" [ngClass]="{ 'ng-submitted': formSubmitted }">
          <div class="grid">
            <div class="col-3">
              <div class="field">
                <h2>Create profile</h2>
              </div>
            </div>
          </div>
          <div class="grid">
            <div class="col-3">
              <div class="field">
                <label for="last_name"><strong>LAST NAME</strong></label>
                <input type="text" pInputText id="last_name" formControlName="last_name" />
                <app-error-messages
                  [form]="form"
                  fieldName="last_name"
                  [formSubmitted]="formSubmitted"
                ></app-error-messages>
              </div>
            </div>
            <div class="col-3">
              <div class="field">
                <label for="first_name"><strong>FIRST NAME</strong></label>
                <input type="text" pInputText id="first_name" formControlName="first_name" />
                <app-error-messages
                  [form]="form"
                  fieldName="first_name"
                  [formSubmitted]="formSubmitted"
                ></app-error-messages>
              </div>
            </div>
            <div class="col-3">
              <div class="field">
                <label for="email"><strong>EMAIL</strong></label>
                <input class="readonly" type="text" pInputText id="email" [readonly]="true" formControlName="email" />
                <app-error-messages
                  [form]="form"
                  fieldName="email"
                  [formSubmitted]="formSubmitted"
                ></app-error-messages>
              </div>
            </div>
            <p-divider></p-divider>
            <div class="grid">
              <div class="col-2">
                <button
                  pButton
                  pRipple
                  appSingleClick
                  label="Continue"
                  class="p-button-primary"
                  (click)="continue()"
                ></button>
              </div>
            </div>
            <div class="grid">
              <div class="col-2">
                <a (click)="cancel()">Cancel and exit</a>
              </div>
            </div>
          </div>
        </form>
      </p-card>
    </div>
  </div>
</div>
