<div class="p-fluid">
  <div class="grid">
    <div class="col-6">
      <h1>Welcome to FECFile</h1>
      <hr type="solid" />
      <p>
        FECFile uses Login.gov to help us authenticate users. We will now use that information to set up your user
        profile
      </p>
      <img src="/assets/img/Welcome-to-FECFile.png" alt="Workers checking a monitor" />
    </div>
    <div class="col-6">
      <p-card>
        <form id="form" [formGroup]="form()" [class.ng-submitted]="formSubmitted">
          <div class="grid">
            <div class="col-12">
              <div class="field">
                <h2>Create profile</h2>
              </div>
            </div>
          </div>
          <div class="grid">
            <div class="col-12">
              <div class="field">
                <label for="first_name"><strong>FIRST NAME</strong></label>
                <input type="text" pInputText id="first_name" formControlName="first_name" />
                <app-error-messages
                  [control]="form().get('first_name')!"
                  fieldName="first_name"
                  [formSubmitted]="formSubmitted"
                ></app-error-messages>
              </div>
            </div>
          </div>
          <div class="grid">
            <div class="col-12">
              <div class="field">
                <label for="last_name"><strong>LAST NAME</strong></label>
                <input type="text" pInputText id="last_name" formControlName="last_name" />
                <app-error-messages
                  [control]="form().get('last_name')!"
                  [formSubmitted]="formSubmitted"
                ></app-error-messages>
              </div>
            </div>
          </div>
          <div class="grid">
            <div class="col-12">
              <div class="field">
                <label for="email"><strong>EMAIL</strong></label>
                <input class="readonly" type="text" pInputText id="email" [readonly]="true" formControlName="email" />
                <app-error-messages
                  [control]="form().get('email')!"
                  [formSubmitted]="formSubmitted"
                ></app-error-messages>
              </div>
            </div>
          </div>
          <div class="grid">
            <div class="col-12">
              <hr type="solid" />
              <div class="col-12 flex-center">
                <button
                  pButton
                  pRipple
                  appSingleClick
                  label="Continue"
                  class="p-button-primary"
                  (click)="continue()"
                ></button>
              </div>
              <div class="col-12 flex-center">
                <a (click)="cancel()">Cancel and exit</a>
              </div>
            </div>
          </div>
        </form>
      </p-card>
    </div>
  </div>
</div>
