
.seal-and-title {
  height: 48px;
}

a {
  border: none;
}

.header-nav-menu {
  padding-top: 0;
}

.navbar-nav .dropdown-menu {
  position: absolute;
}

:host ::ng-deep .header-navbar-icon {
  height: 16px !important;
}


:host ::ng-deep p-menubarsub {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

:host ::ng-deep .p-menuitem-text {
  font-size: 12px;
  font-family: "karla-bold", sans-serif;
}

nav {
  background-color: white !important;
}

.navbar-nav {
  height: fit-content;
  align-items: end;
}


.nav-item {
  display: flex;
  height: 100%;
  align-items: center;
}

.nav-item:hover {
  background: #e8e8e8;
}

a > img {
  min-width: 16px;
}

.nav-link {
  font-size: 12px;
  font-family: "karla-bold", sans-serif;
  text-transform: uppercase;
}

.nav-link.disabled:hover {
  cursor: default;
}

:host ::ng-deep .dead-link {
  color: #D6D7D9 !important;
}

