<nav class="navbar navbar-expand-lg navbar-light bg-light px-2 py-0">
  <button (click)="toggleSideBar()" class="seal-link navbar-brand">
    <img alt="FEC Seal" class="seal-and-title mr-2" height="48" ngSrc="assets/img/seal-and-title.svg" width="181" />
  </button>
  <button
    aria-controls="offcanvas"
    class="navbar-toggler"
    data-bs-target="#offcanvas"
    data-bs-toggle="offcanvas"
    type="button"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo01">
    <app-header-links [headerStyle]="headerStyle"></app-header-links>
  </div>
</nav>

<div aria-labelledby="offcanvasLabel" class="offcanvas offcanvas-end" id="offcanvas" tabindex="-1">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasLabel">
      <a class="seal-link navbar-brand" routerLink="/">
        <img alt="FEC Seal" class="seal-and-title mr-2" height="48" ngSrc="assets/img/seal-and-title.svg" width="181" />
      </a>
    </h5>
    <button aria-label="Close" class="btn-close text-reset" data-bs-dismiss="offcanvas" type="button"></button>
  </div>
  <div class="offcanvas-body">
    <app-header-links [full]="true" [headerStyle]="headerStyle" [ratio]="1.5"></app-header-links>
  </div>
</div>
