<div>
  @switch (type()) {
    @case (controlType.BUTTON) {
      <button
        pButton
        pRipple
        [label]="navigationControl().label || ''"
        [icon]="navigationControl().icon || ''"
        [class]="navigationControl().ngClass || ''"
        (click)="clickButton()"
        [disabled]="isDisabled()"
        [attr.data-cy]="buttonDataCy()"
        appSingleClick
      ></button>
    }
    @case (controlType.DROPDOWN) {
      <button
        pButton
        pRipple
        class="dd-button"
        [disabled]="isDisabled()"
        (click)="op.toggle($event)"
        [attr.data-cy]="dropdownButtonDataCy()"
      >
        <i [class]="navigationControl().icon || ''"></i>
        <span [attr.data-cy]="dropdownLabelDataCy()">{{ navigationControl().label || '' }}</span>
      </button>
      <p-popover #op>
        <div class="p-3">
          @for (option of dropdownOptions(); track option) {
            @if (option.items) {
              <span class="dropdown-header" [attr.data-cy]="dropdownGroupDataCy(option.label)">{{ option.label }}</span>
              <hr />

              <ul>
                @for (childOption of option.items; track childOption) {
                  <li>
                    <button
                      [text]="true"
                      pButton
                      pRipple
                      [attr.data-cy]="dropdownOptionDataCy(childOption.label)"
                      (click)="onDropdownChange(childOption)"
                      (keyup.enter)="onDropdownChange(childOption)"
                      (keyup.space)="onDropdownChange(childOption)"
                      [disabled]="!childOption.value"
                      class="w-full flex justify-content-start"
                    >
                      {{ childOption.label }}
                    </button>
                  </li>
                }
              </ul>
            } @else {
              <button
                [text]="true"
                pButton
                pRipple
                [attr.data-cy]="dropdownOptionDataCy(option.label)"
                (click)="onDropdownChange(option)"
                (keyup.enter)="onDropdownChange(option)"
                (keyup.space)="onDropdownChange(option)"
                [disabled]="!option.value"
                class="w-full flex justify-content-start"
              >
                {{ option.label }}
              </button>
            }
          }
        </div>
      </p-popover>
    }
    @case (controlType.SPLITBUTTON) {
      <div class="split-button-container" [attr.data-cy]="splitButtonContainerDataCy()">
        <p-splitButton
          [label]="navigationControl().label || ''"
          [icon]="navigationControl().icon || ''"
          (onClick)="clickButton()"
          [attr.data-cy]="splitButtonDataCy()"
          [disabled]="isDisabled()"
          [model]="items"
          appSingleClick
        />
      </div>
    }
  }
</div>
