<div>
  <button
    *ngIf="controlType === 'button'"
    pButton
    pRipple
    [label]="navigationControl?.label || ''"
    [icon]="navigationControl?.icon || ''"
    [class]="navigationControl?.ngClass || ''"
    (click)="clickButton()"
    [disabled]="isDisabled()"
    data-test="navigation-control-button"
    appSingleClick
  ></button>
  <div *ngIf="controlType === 'dropdown'" class="dropdown" data-test="navigation-control-dropdown">
    <button
      [disabled]="isDisabled()"
      aria-expanded="false"
      aria-haspopup="true"
      class="btn dd-button"
      data-bs-toggle="dropdown"
      id="dropdownMenuLink"
      role="button"
    >
      <i [ngClass]="navigationControl?.icon || ''"></i><span>{{ navigationControl?.label || '' }}</span>
    </button>
    <div aria-labelledby="dropdownMenuLink" class="dropdown-menu">
      <div *ngFor="let option of dropdownOptions">
        <div *ngIf="option.items; else noHeader">
          <span class="dropdown-header">{{ option.label }}</span>
          <hr />
          <button
            (click)="onDropdownChange(childOption)"
            (keyup.enter)="onDropdownChange(childOption)"
            (keyup.space)="onDropdownChange(childOption)"
            *ngFor="let childOption of option.items"
            [disabled]="!childOption.value"
            class="dropdown-item"
            data-test="navigation-control-dropdown-option"
          >
            {{ childOption.label }}
          </button>
        </div>
        <ng-template #noHeader>
          <button
            (click)="onDropdownChange(option)"
            (keyup.enter)="onDropdownChange(option)"
            (keyup.space)="onDropdownChange(option)"
            [disabled]="!option.value"
            class="dropdown-item"
            data-test="navigation-control-dropdown-option"
          >
            {{ option.label }}
          </button>
        </ng-template>
      </div>
    </div>
  </div>
</div>
