:host ::ng-deep .navigation-dropdown {
  background-color: var(--orange);
  flex-direction: row-reverse;
  padding: 0 16px;
}

:host ::ng-deep .navigation-dropdown span.p-select-label.p-inputtext.p-placeholder,
:host ::ng-deep .p-select-trigger {
  color: #212121;
  font-weight: bold;
  padding-right: 0;
}

:host ::ng-deep .navigation-dropdown-panel {
  background-color: #f1f1f1;
  color: #000000;
}

:host ::ng-deep .navigation-dropdown-group {
  margin: -0.75rem -1rem -2rem;
  padding: 0.75rem 1rem;
  background-color: #f1f1f1;
}

:host ::ng-deep .group-label {
  text-transform: uppercase;
}

.dd-button {
  color: var(--p-content-color);
  font-weight: bold;
  background-color: var(--orange);
  padding: 0 16px;
  height: 3rem;
}

button > i {
  width: 2.357rem;
}

button > span {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  padding: 10px 0 10px 15px;
}

.dropdown-header {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1rem;
  color: var(--p-content-color);
}

.dropdown-menu {
  background-color: #f1f1f1;
}

.dropdown-item {
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  line-height: 1rem;
}

hr {
  margin: 1rem 0;
}
