footer {
  background-color: #d8d8d8;
  font-size: 0.8rem;
}

footer label {
  font-weight: bold;
}

#footer-upper {
  height: 80px;
  background-color: #e8e8e8;
}

#footer-lower {
  height: 234px;
  background-color: #164f85;
}

#fec-seal {
  height: 100px;
  width: 100px;
}

#fec-title {
  font-family: 'Gandhi Serif';
  font-weight: 700;
  font-size: 22pt;
  color: #ffffff;
  margin: 0px;
}

#fec-address {
  font-family: 'Karla';
  font-weight: 400;
  font-size: 14pt;
  color: #ffffff;
  margin: 0px;
}

.text-a {
  font-size: 18pt;
  font-family: 'Karla';
  color: #212121;
}

.footer-item {
  font-family: 'Karla';
  font-weight: 400;
  font-size: 16pt;
  color: #ffffff;
  padding-left: 0px;
}

.half-height {
  height: 30%;
}
