<app-dialog
  tabindex="-1"
  aria-labelledby="dialog-title"
  [title]="contact() ? 'Edit contact' : 'Add contact'"
  [(visible)]="visible"
  [submitDisabled]="contactForm().invalid()"
  (confirm)="submitForm()"
>
  <form novalidate (submit)="$event.preventDefault()" class="grid-form">
    <app-select-input
      label="CONTACT TYPE"
      [formField]="contactForm.type"
      labelId="contact-type-label"
      [options]="availableContactTypes()"
      class="grid-col-12 w-max"
    />
    @if (!contactForm.IND().hidden()) {
      <app-individual-contact-form [fields]="contactForm.IND" />
    }
    @if (!contactForm.CAN().hidden()) {
      <app-candidate-contact-form [fields]="contactForm.CAN" />
    }
    @if (!contactForm.COM().hidden()) {
      <app-committee-contact-form [fields]="contactForm.COM" />
    }
    @if (!contactForm.ORG().hidden()) {
      <app-organization-contact-form [fields]="contactForm.ORG" />
    }
  </form>
</app-dialog>
