<ng-container *ngIf="meta.componentGroupId === 'A'"> Group A </ng-container>
<ng-container *ngIf="meta.componentGroupId === 'B'">
  <app-transaction-group-b [schema]="meta.schema" [transaction]="meta.transaction"></app-transaction-group-b>
</ng-container>
<ng-container *ngIf="meta.componentGroupId === 'C'"> Group C </ng-container>
<ng-container *ngIf="meta.componentGroupId === 'D'"> Group D </ng-container>
<ng-container *ngIf="meta.componentGroupId === 'E'"> Group E </ng-container>
<ng-container *ngIf="meta.componentGroupId === 'F'"> Group F </ng-container>
