<div [formGroup]="form">
  <div class="grid memo-container">
    @if (memoCodeMapOptions.length === 0) {
      <div class="col-12 field-row">
        <p-checkbox
          #memoCode
          [binary]="true"
          inputId="memo_code"
          [formControlName]="templateMap['memo_code']"
          ariaLabel="have memo item"
          [trueValue]="true"
          [falseValue]="false"
          [readonly]="form.controls[templateMap['memo_code']].disabled"
          (click)="onMemoItemClick()"
        ></p-checkbox>
        <label for="memo_code" [class.p-disabled]="form.controls[templateMap['memo_code']].disabled" class="ml-2">{{
          checkboxLabel
        }}</label>
        <span class="pi pi-info-circle circle-icon-tooltip" pTooltip="{{ memoItemHelpText }}"></span>
      </div>
      <div class="col-12">
        <app-error-messages
          [form]="form"
          [fieldName]="templateMap['memo_code']"
          [formSubmitted]="formSubmitted"
        ></app-error-messages>
      </div>
    } @else {
      <div class="col-3">
        <p-selectButton
          #memoCode
          inputId="memo_code"
          [formControlName]="templateMap['memo_code']"
          [options]="memoCodeMapOptions"
          optionLabel="label"
          optionValue="value"
        ></p-selectButton>
      </div>
      <div class="col-12">
        @if (memoControl.value) {
          <span class="pi pi-check memo-item-check" pTooltip="{{ memoItemHelpText }}"></span>
          MEMO ITEM
        } @else {
          NOT A MEMO ITEM
        }
        @if (memoControl.value !== undefined) {
          <span
            class="pi pi-info-circle"
            style="font-size: 1.5rem; margin-left: 0.5rem"
            pTooltip="{{ memoItemHelpText }}"
          ></span>
        }
      </div>
      <div class="col-12">
        <app-error-messages
          [form]="form"
          [fieldName]="templateMap['memo_code']"
          [formSubmitted]="formSubmitted"
          [patternErrorMessage]="'This is a required field.'"
        ></app-error-messages>
      </div>
    }
  </div>
  <p-dialog header="Header" [(visible)]="outOfDateDialogVisible" [style]="{ width: '496px' }" [modal]="true">
    <ng-template #header>
      <span class="text-xl" id="out-of-date-dialog-header">Just checking...</span>
    </ng-template>
    <p id="out-of-date-dialog-text">
      <b>
        {{ coverageDate | fecDate }}
      </b>
      falls outside the report coverages dates of
      <b> {{ report?.coverage_from_date | fecDate }}-{{ report?.coverage_through_date | fecDate }}</b
      >. {{ coverageDateQuestion }} <br /><br />
      If the date entered is correct, this transaction must be a <b>Memo Item</b>.
    </p>
    <div class="grid">
      <div class="mx-auto">
        <button
          pButton
          id="out-of-date-dialog-button"
          class="p-button"
          label="Close"
          styleClass="p-button-link"
          (click)="closeOutOfDateDialog()"
          [autofocus]="true"
        ></button>
      </div>
    </div>
  </p-dialog>
</div>
