#out-of-date-dialog-text {
  font-family: var(--karla);
  font-size: 14px;
  line-height: 1.3;
  color: #212121;
  margin-bottom: 32px;
}

.memo-container > div {
  display: flex;
}

.memo-item-check {
  font-size: 1rem;
  margin-left: 0.5rem;
}

.circle-icon-tooltip {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

#memo_code_label {
  font-family: var(--karla-bold);
  font-size: 16px;
}
