<div [formGroup]="form">
  <div class="flex flex-column gap-2">
    @if (memoCodeMapOptions().length === 0) {
      <div class="flex gap-2 align-items-center">
        <p-checkbox
          #memoCode
          [binary]="true"
          inputId="memo_code"
          ariaLabeledBy="memo_code_label"
          [formControlName]="templateMap['memo_code']"
          ariaLabel="have memo item"
          [trueValue]="true"
          [falseValue]="false"
          [readonly]="form.controls[templateMap['memo_code']].disabled"
        />
        <span id="memo_code_label" class="ml-1">
          {{ checkboxLabel() }}
          @if (parenLabel()) {
            <span class="paren-label">{{ parenLabel() }}</span>
          }
        </span>
        <svg pTooltip="{{ memoItemHelpText() }}" height="20" width="20">
          <use href="assets/img/i-info-circle.svg"></use>
        </svg>
      </div>
      <app-error-messages
        [form]="form"
        [fieldName]="templateMap['memo_code']"
        [formSubmitted]="formSubmitted"
        [patternErrorMessage]="'This is a required field.'"
      />
    } @else {
      @if (!memoControl.disabled) {
        <p-selectButton
          #memoCode
          inputId="memo_code"
          [formControlName]="templateMap['memo_code']"
          [options]="memoCodeMapOptions()"
          optionLabel="label"
          optionValue="value"
        />
      }
      <div class="flex gap-2">
        @if (memoControl.value) {
          <span class="pi pi-check" pTooltip="{{ memoItemHelpText() }}"></span>
          <span>MEMO ITEM</span>
        } @else {
          <span>NOT A MEMO ITEM</span>
        }
        @if (memoControl.value !== undefined) {
          <svg pTooltip="{{ memoItemHelpText() }}" height="20" width="20">
            <use href="assets/img/i-info-circle.svg"></use>
          </svg>
        }
      </div>
      <app-error-messages
        [form]="form"
        [fieldName]="templateMap['memo_code']"
        [formSubmitted]="formSubmitted"
        [patternErrorMessage]="'This is a required field.'"
      />
    }
  </div>

  <app-dialog
    tabindex="-1"
    aria-labelledby="dialog-title"
    title="Just checking..."
    [(visible)]="outOfDateDialogVisible"
    [closeOnly]="true"
  >
    <p id="out-of-date-dialog-text">
      <b>
        {{ coverageDate() | fecDate }}
      </b>
      falls outside the report coverages dates of
      <b> {{ coverageFromDate() | fecDate }}-{{ coverageThroughDate() | fecDate }}</b
      >. {{ coverageDateQuestion() }} <br /><br />
      If the date entered is correct, this transaction <span [innerHTML]="memoCodeText()"></span>.
    </p>
  </app-dialog>
</div>
