/* Updates */
.p-component {
  font-family: var(--karla);
  font-size: 1rem;
  font-weight: normal;
}

.p-button:disabled {
  border: 2px solid gray;
}

.p-disabled,
.p-component:disabled,
.p-select:disabled {
  opacity: 0.65;
  background: #f1f1f1;
  color: var(--p-content-color);
}

label.p-disabled {
  background: white;
  cursor: not-allowed;
}

.p-error {
  font-family: var(--karla);
  font-size: 13px;
  font-weight: bold;
  color: #cd2026;
}

.p-text-secondary {
  color: #5b616b;
}

.p-checkbox .p-checkbox-box {
  border: 2px solid var(--text-color-secondary);
  background: var(--p-content-background);
  width: 20px;
  height: 20px;
  color: var(--p-content-color);
  border-radius: var(--border-radius);
  transition:
    background-color 0.15s,
    border-color 0.15s,
    box-shadow 0.15s;
}

.p-checkbox.p-checkbox-checked.p-highlight > .p-checkbox-box {
  border-color: var(--p-primary-color) !important;
  background: var(--p-primary-color) !important;
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
  border-color: var(--fec-grey-alt);
}

.p-checkbox-checked:not(.p-disabled):has(.p-checkbox-input:hover) .p-checkbox-box {
  border-color: #164f85 !important;
  background: #164f85 !important;
  color: #ffffff;
}

.p-select {
  border-radius: var(--border-radius);
  align-items: center;
}
.p-select:not(.p-disabled) {
  background: var(--p-content-background);
  border: 2px solid var(--fec-grey-alt);
  transition:
    background-color 0.15s,
    border-color 0.15s,
    box-shadow 0.15s;
}
.p-select:not(.p-disabled):hover {
  border-color: var(--surface-border);
}
.p-select:not(.p-disabled).p-focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: var(--focus-ring);
  border-color: var(--p-primary-color);
}
.p-select.p-select-clearable .p-select-label {
  padding-right: 1.75rem;
}
.p-select-label {
  padding-right: 0;
  padding-left: 10px;
}

.p-select .p-select-label {
  background: transparent;
  border: 0 none;
  line-height: 1.6;
  outline: none;
}

.p-select .p-select-label.p-placeholder {
  color: #5b616b;
}

.p-select .p-select-label:enabled:focus {
  outline: 0 none;
  box-shadow: none;
}

.p-select .p-select-trigger {
  background: transparent;
  color: #5b616b;
  width: 2.357rem;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.p-select .p-select-clear-icon {
  color: #5b616b;
  right: 2.357rem;
}

p-select.ng-dirty.ng-invalid > .p-select {
  border-color: #cd2026;
}

.p-input-filled .p-select {
  background: #f1f1f1;
}
.p-input-filled .p-select:not(.p-disabled):hover {
  background-color: #f1f1f1;
}
.p-input-filled .p-select:not(.p-disabled).p-focus {
  background-color: #f1f1f1;
}
.p-input-filled .p-select:not(.p-disabled).p-focus .p-inputtext {
  background-color: transparent;
}

.p-inputtext {
  font-family: var(--karla);
  font-size: 1rem;
  color: var(--p-content-color);
  background: var(--p-content-background);
  padding: 10px 15px;
  border: 2px solid var(--fec-grey-alt);
  transition:
    background-color 0.15s,
    border-color 0.15s,
    box-shadow 0.15s;
  appearance: none;
  border-radius: var(--border-radius);
  height: 3em;
}

.p-inputtext:enabled:hover {
  border-color: var(--surface-border);
}
.p-inputtext:enabled:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: var(--focus-ring);
  border-color: var(--p-primary-color);
}
.p-inputtext.ng-dirty.ng-invalid {
  border-color: #cd2026;
}
.p-inputtext.p-inputtext-sm {
  font-size: 0.875rem;
  padding: 0.4375rem 0.65625rem;
}
.p-inputtext.p-inputtext-lg {
  font-size: 1.25rem;
  padding: 0.625rem 0.9375rem;
}
.dialog-body .p-inputtext {
  height: 36px;
  padding: 10px 10px;
}

.p-input-icon-left > i:first-of-type {
  left: 0.75rem;
  color: #5b616b;
}

.p-input-icon-left > .p-inputtext {
  padding-left: 2.5rem;
}

.p-input-icon-left.p-float-label > label {
  left: 2.5rem;
}

.p-input-icon-right > i:last-of-type {
  right: 0.75rem;
  color: #5b616b;
}

.p-input-icon-right > .p-inputtext {
  padding-right: 2.5rem;
}

::-webkit-input-placeholder {
  color: #5b616b;
}

:-moz-placeholder {
  color: #5b616b;
}

::-moz-placeholder {
  color: #5b616b;
}

:-ms-input-placeholder {
  color: #5b616b;
}

.p-input-filled .p-inputtext {
  background-color: #f1f1f1;
}
.p-input-filled .p-inputtext:enabled:hover {
  background-color: #f1f1f1;
}
.p-input-filled .p-inputtext:enabled:focus {
  background-color: #f1f1f1;
}

.p-inputtext-sm .p-inputtext {
  font-size: 0.875rem;
  padding: 0.4375rem 0.65625rem;
}

.p-inputtext-lg .p-inputtext {
  font-size: 1.25rem;
  padding: 0.625rem 0.9375rem;
}


.p-radiobutton + label {
  cursor: pointer;
}

.p-radiobutton .p-radiobutton-box {
  border: 2px solid #5b616b;
  background: var(--p-content-background);
  width: 20px;
  height: 20px;
  color: #ffffff;
  border-radius: 50%;
  transition:
    background-color 0.15s,
    border-color 0.15s,
    box-shadow 0.15s;
}
.p-radiobutton .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover {
  border-color: var(--surface-border);
}
.p-radiobutton .p-radiobutton-box:not(.p-disabled).p-focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem rgba(174, 176, 181, 0.5);
  border-color: #5b616b;
}
.p-radiobutton .p-radiobutton-box .p-radiobutton-icon {
  width: 12px;
  height: 12px;
  transition-duration: 0.15s;
  background-color: #5b616b;
}
.p-radiobutton-checked .p-radiobutton-box .p-radiobutton-icon {
  visibility: visible;
}
.p-radiobutton-icon {
  visibility: hidden;
}
.p-radiobutton .p-radiobutton-box.p-highlight {
  border-color: #5b616b;
  background: var(--p-content-background);
}
.p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
  border-color: var(--fec-grey-alt);
  background: var(--p-content-background);
  color: var(--fec-grey-alt);
}


.p-selectbutton {
  display: flex;
  width: fit-content;
}

.p-selectbutton > p-togglebutton {
  width: fit-content;
  text-wrap-mode: nowrap;
}

.p-selectbutton > p-togglebutton > button {
  width: 100%;
  height: 40px;
  font-size: 14px;
}

.p-selectbutton .p-button {
  background-color: #ffffff;
  border: 3px solid var(--fec-grey-alt);
  font-weight: 400;
  font-family: var(--karla);
  font-size: 14px;
  color: var(--p-content-color);
  cursor: pointer;
  transition:
    background-color 0.15s,
    border-color 0.15s,
    box-shadow 0.15s;
}

.p-selectbutton .p-button.p-highlight {
  background-color: #d6d7d9;
  border-color: #5b616b;
  font-weight: 700;
}

.p-selectbutton .p-button:not(.p-disabled):not(.p-highlight):hover {
  border-color: var(--surface-hover);
}
.p-selectbutton .p-button:not(.p-disabled):hover {
  border-color: var(--fec-grey-alt);
}

p-selectbutton.ng-dirty.ng-invalid > .p-selectbutton > .p-button {
  border-color: #cd2026;
}

.p-button {
  font-size: 1rem;
  transition:
    background-color 0.15s,
    border-color 0.15s,
    box-shadow 0.15s;
  border-radius: var(--border-radius);
}
.p-button:enabled:hover {
  background: #0e2541;
  color: #ffffff;
  border-color: #0e2541;
}
.p-button:enabled:active {
  background: #0e2541;
  color: #ffffff;
  border-color: #0e2541;
}
.p-button.p-button-outlined {
  background-color: transparent;
  color: var(--p-primary-color);
  border: 1px solid;
}
.p-button.p-button-outlined:enabled:hover {
  background: rgba(0, 123, 255, 0.04);
  color: var(--p-primary-color);
  border: 1px solid;
}
.p-button.p-button-outlined:enabled:active {
  background: rgba(0, 123, 255, 0.16);
  color: var(--p-primary-color);
  border: 1px solid;
}
.p-button.p-button-outlined.p-button-plain {
  color: #5b616b;
  border-color: #5b616b;
}
.p-button.p-button-outlined.p-button-plain:enabled:hover {
  background: var(--surface-hover);
  color: #5b616b;
}
.p-button.p-button-outlined.p-button-plain:enabled:active {
  background: var(--surface-border);
  color: #5b616b;
}
.p-button.p-button-text {
  background-color: transparent;
  color: var(--p-primary-color);
  border-color: transparent;
}
.p-button.p-button-text:enabled:hover {
  background: rgba(0, 123, 255, 0.04);
  color: var(--p-primary-color);
  border-color: transparent;
}

.p-button.p-component.p-button-icon-only.p-button-text:enabled:hover {
  background: transparent !important;
}

.p-button.p-button-text:enabled:active {
  background: rgba(0, 123, 255, 0.16);
  color: var(--p-primary-color);
  border-color: transparent;
}
.p-button.p-button-text.p-button-plain {
  color: #5b616b;
}
.p-button.p-button-text.p-button-plain:enabled:hover {
  background: var(--surface-hover);
  color: #5b616b;
}
.p-button.p-button-text.p-button-plain:enabled:active {
  background: var(--surface-border);
  color: #5b616b;
}
.p-button:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: var(--focus-ring);
  z-index: 1;
}
.p-button .p-button-icon-left {
  margin-right: 0.5rem;
}
.p-button .p-button-icon-right {
  margin-left: 0.5rem;
}
.p-button .p-button-icon-bottom {
  margin-top: 0.5rem;
}
.p-button .p-button-icon-top {
  margin-bottom: 0.5rem;
}
.p-button .p-badge {
  margin-left: 0.5rem;
  min-width: 1rem;
  height: 1rem;
  line-height: 1rem;
  color: var(--p-primary-color);
  background-color: #ffffff;
}
.p-button.p-button-raised {
  box-shadow:
    0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.p-button.p-button-rounded {
  border-radius: 4rem;
}
.p-button.p-button-icon-only {
  width: 2.357rem;
  padding: 0.5rem 0;
}
.p-button.p-button-icon-only .p-button-icon-left,
.p-button.p-button-icon-only .p-button-icon-right {
  margin: 0;
}
.p-button.p-button-icon-only.p-button-rounded {
  border-radius: 50%;
  height: 16px;
  width: 20px;
  padding: 10px 0px;
}
.p-button.p-button-sm {
  font-size: 0.875rem;
  padding: 0.4375rem 0.65625rem;
}
.p-button.p-button-sm .p-button-icon {
  font-size: 0.875rem;
}
.p-button.p-button-lg {
  font-size: 1.25rem;
  padding: 0.625rem 0.9375rem;
}
.p-button.p-button-lg .p-button-icon {
  font-size: 1.25rem;
}
.p-button.p-button-loading-label-only .p-button-label {
  margin-left: 0.5rem;
}
.p-button.p-button-loading-label-only .p-button-loading-icon {
  margin-right: 0;
}

.p-button.p-button-secondary,
.p-buttonset.p-button-secondary > .p-button,
.p-splitbutton.p-button-secondary > .p-button {
  color: #ffffff;
  background: #5b616b;
  border: 1px solid #5b616b;
}
.p-button.p-button-secondary:enabled:hover,
.p-buttonset.p-button-secondary > .p-button:enabled:hover,
.p-splitbutton.p-button-secondary > .p-button:enabled:hover {
  background: #494e56;
  color: #ffffff;
  border-color: #494e56;
}

.p-button.p-button-secondary:enabled:focus,
.p-buttonset.p-button-secondary > .p-button:enabled:focus,
.p-splitbutton.p-button-secondary > .p-button:enabled:focus {
  box-shadow: var(--focus-ring);
}
.p-button.p-button-secondary:enabled:active,
.p-buttonset.p-button-secondary > .p-button:enabled:active,
.p-splitbutton.p-button-secondary > .p-button:enabled:active {
  background: #5b616b;
  color: #ffffff;
  border-color: #5b616b;
}
.p-button.p-button-secondary.p-button-outlined,
.p-buttonset.p-button-secondary > .p-button.p-button-outlined,
.p-splitbutton.p-button-secondary > .p-button.p-button-outlined {
  background-color: transparent;
  color: #5b616b;
  border: 1px solid;
}
.p-button.p-button-secondary.p-button-outlined:enabled:hover,
.p-buttonset.p-button-secondary > .p-button.p-button-outlined:enabled:hover,
.p-splitbutton.p-button-secondary > .p-button.p-button-outlined:enabled:hover {
  background: rgba(108, 117, 125, 0.04);
  color: #5b616b;
  border: 1px solid;
}
.p-button.p-button-secondary.p-button-outlined:enabled:active,
.p-buttonset.p-button-secondary > .p-button.p-button-outlined:enabled:active,
.p-splitbutton.p-button-secondary > .p-button.p-button-outlined:enabled:active {
  background: rgba(108, 117, 125, 0.16);
  color: #5b616b;
  border: 1px solid;
}
.p-button.p-button-secondary.p-button-text,
.p-buttonset.p-button-secondary > .p-button.p-button-text,
.p-splitbutton.p-button-secondary > .p-button.p-button-text {
  background-color: transparent;
  color: #5b616b;
  border-color: transparent;
}
.p-button.p-button-secondary.p-button-text:enabled:hover,
.p-buttonset.p-button-secondary > .p-button.p-button-text:enabled:hover,
.p-splitbutton.p-button-secondary > .p-button.p-button-text:enabled:hover {
  background: rgba(108, 117, 125, 0.04);
  border-color: transparent;
  color: #5b616b;
}
.p-button.p-button-secondary.p-button-text:enabled:active,
.p-buttonset.p-button-secondary > .p-button.p-button-text:enabled:active,
.p-splitbutton.p-button-secondary > .p-button.p-button-text:enabled:active {
  background: rgba(108, 117, 125, 0.16);
  border-color: transparent;
  color: #5b616b;
}

.p-button.p-button-info,
.p-buttonset.p-button-info > .p-button,
.p-splitbutton.p-button-info > .p-button {
  color: #212121;
  background: #35bdbb;
  border: 1px solid #35bdbb;
}
.p-button.p-button-info:enabled:hover,
.p-buttonset.p-button-info > .p-button:enabled:hover,
.p-splitbutton.p-button-info > .p-button:enabled:hover {
  background: #2b9896;
  color: #212121;
  border-color: #2b9896;
}
.p-button.p-button-info:enabled:focus,
.p-buttonset.p-button-info > .p-button:enabled:focus,
.p-splitbutton.p-button-info > .p-button:enabled:focus {
  box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}
.p-button.p-button-info:enabled:active,
.p-buttonset.p-button-info > .p-button:enabled:active,
.p-splitbutton.p-button-info > .p-button:enabled:active {
  background: #138496;
  color: #212121;
  border-color: #117a8b;
}
.p-button.p-button-info.p-button-outlined,
.p-buttonset.p-button-info > .p-button.p-button-outlined,
.p-splitbutton.p-button-info > .p-button.p-button-outlined {
  background-color: transparent;
  color: #35bdbb;
  border: 1px solid;
}
.p-button.p-button-info.p-button-outlined:enabled:hover,
.p-buttonset.p-button-info > .p-button.p-button-outlined:enabled:hover,
.p-splitbutton.p-button-info > .p-button.p-button-outlined:enabled:hover {
  background: rgba(23, 162, 184, 0.04);
  color: #35bdbb;
  border: 1px solid;
}
.p-button.p-button-info.p-button-outlined:enabled:active,
.p-buttonset.p-button-info > .p-button.p-button-outlined:enabled:active,
.p-splitbutton.p-button-info > .p-button.p-button-outlined:enabled:active {
  background: rgba(23, 162, 184, 0.16);
  color: #35bdbb;
  border: 1px solid;
}
.p-button.p-button-info.p-button-text,
.p-buttonset.p-button-info > .p-button.p-button-text,
.p-splitbutton.p-button-info > .p-button.p-button-text {
  background-color: transparent;
  color: #35bdbb;
  border-color: transparent;
}
.p-button.p-button-info.p-button-text:enabled:hover,
.p-buttonset.p-button-info > .p-button.p-button-text:enabled:hover,
.p-splitbutton.p-button-info > .p-button.p-button-text:enabled:hover {
  background: rgba(23, 162, 184, 0.04);
  border-color: transparent;
  color: #35bdbb;
}
.p-button.p-button-info.p-button-text:enabled:active,
.p-buttonset.p-button-info > .p-button.p-button-text:enabled:active,
.p-splitbutton.p-button-info > .p-button.p-button-text:enabled:active {
  background: rgba(23, 162, 184, 0.16);
  border-color: transparent;
  color: #35bdbb;
}

.p-button.p-button-success,
.p-buttonset.p-button-success > .p-button,
.p-splitbutton.p-button-success > .p-button {
  color: #ffffff;
  background: #287538;
  border: 1px solid #287538;
}
.p-button.p-button-success:enabled:hover,
.p-buttonset.p-button-success > .p-button:enabled:hover,
.p-splitbutton.p-button-success > .p-button:enabled:hover {
  background: #0d602c;
  color: #ffffff;
  border-color: #0d602c;
}
.p-button.p-button-success:enabled:focus,
.p-buttonset.p-button-success > .p-button:enabled:focus,
.p-splitbutton.p-button-success > .p-button:enabled:focus {
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}
.p-button.p-button-success:enabled:active,
.p-buttonset.p-button-success > .p-button:enabled:active,
.p-splitbutton.p-button-success > .p-button:enabled:active {
  background: #1e7e34;
  color: #ffffff;
  border-color: #1c7430;
}
.p-button.p-button-success.p-button-outlined,
.p-buttonset.p-button-success > .p-button.p-button-outlined,
.p-splitbutton.p-button-success > .p-button.p-button-outlined {
  background-color: transparent;
  color: #287538;
  border: 1px solid;
}
.p-button.p-button-success.p-button-outlined:enabled:hover,
.p-buttonset.p-button-success > .p-button.p-button-outlined:enabled:hover,
.p-splitbutton.p-button-success > .p-button.p-button-outlined:enabled:hover {
  background: rgba(40, 167, 69, 0.04);
  color: #287538;
  border: 1px solid;
}
.p-button.p-button-success.p-button-outlined:enabled:active,
.p-buttonset.p-button-success > .p-button.p-button-outlined:enabled:active,
.p-splitbutton.p-button-success > .p-button.p-button-outlined:enabled:active {
  background: rgba(40, 167, 69, 0.16);
  color: #287538;
  border: 1px solid;
}
.p-button.p-button-success.p-button-text,
.p-buttonset.p-button-success > .p-button.p-button-text,
.p-splitbutton.p-button-success > .p-button.p-button-text {
  background-color: transparent;
  color: #287538;
  border-color: transparent;
}
.p-button.p-button-success.p-button-text:enabled:hover,
.p-buttonset.p-button-success > .p-button.p-button-text:enabled:hover,
.p-splitbutton.p-button-success > .p-button.p-button-text:enabled:hover {
  background: rgba(40, 167, 69, 0.04);
  border-color: transparent;
  color: #287538;
}
.p-button.p-button-success.p-button-text:enabled:active,
.p-buttonset.p-button-success > .p-button.p-button-text:enabled:active,
.p-splitbutton.p-button-success > .p-button.p-button-text:enabled:active {
  background: rgba(40, 167, 69, 0.16);
  border-color: transparent;
  color: #287538;
}

.p-button.p-button-warning,
.p-buttonset.p-button-warning > .p-button,
.p-splitbutton.p-button-warning > .p-button {
  color: var(--p-content-color);
  background: #fdb838;
  border: 1px solid #fdb838;
}
.p-button.p-button-warning:enabled:hover,
.p-buttonset.p-button-warning > .p-button:enabled:hover,
.p-splitbutton.p-button-warning > .p-button:enabled:hover {
  background: #cc942d;
  color: var(--p-content-color);
  border-color: #cc942d;
}
.p-button.p-button-warning:enabled:focus,
.p-buttonset.p-button-warning > .p-button:enabled:focus,
.p-splitbutton.p-button-warning > .p-button:enabled:focus {
  box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
}
.p-button.p-button-warning:enabled:active,
.p-buttonset.p-button-warning > .p-button:enabled:active,
.p-splitbutton.p-button-warning > .p-button:enabled:active {
  background: #d39e00;
  color: var(--p-content-color);
  border-color: #c69500;
}
.p-button.p-button-warning.p-button-outlined,
.p-buttonset.p-button-warning > .p-button.p-button-outlined,
.p-splitbutton.p-button-warning > .p-button.p-button-outlined {
  background-color: transparent;
  color: #fdb838;
  border: 1px solid;
}
.p-button.p-button-warning.p-button-outlined:enabled:hover,
.p-buttonset.p-button-warning > .p-button.p-button-outlined:enabled:hover,
.p-splitbutton.p-button-warning > .p-button.p-button-outlined:enabled:hover {
  background: rgba(255, 193, 7, 0.04);
  color: #fdb838;
  border: 1px solid;
}
.p-button.p-button-warning.p-button-outlined:enabled:active,
.p-buttonset.p-button-warning > .p-button.p-button-outlined:enabled:active,
.p-splitbutton.p-button-warning > .p-button.p-button-outlined:enabled:active {
  background: rgba(255, 193, 7, 0.16);
  color: #fdb838;
  border: 1px solid;
}
.p-button.p-button-warning.p-button-text,
.p-buttonset.p-button-warning > .p-button.p-button-text,
.p-splitbutton.p-button-warning > .p-button.p-button-text {
  background-color: transparent;
  color: #fdb838;
  border-color: transparent;
}
.p-button.p-button-warning.p-button-text:enabled:hover,
.p-buttonset.p-button-warning > .p-button.p-button-text:enabled:hover,
.p-splitbutton.p-button-warning > .p-button.p-button-text:enabled:hover {
  background: rgba(255, 193, 7, 0.04);
  border-color: transparent;
  color: #fdb838;
}
.p-button.p-button-warning.p-button-text:enabled:active,
.p-buttonset.p-button-warning > .p-button.p-button-text:enabled:active,
.p-splitbutton.p-button-warning > .p-button.p-button-text:enabled:active {
  background: rgba(255, 193, 7, 0.16);
  border-color: transparent;
  color: #fdb838;
}

.p-button.p-button-help,
.p-buttonset.p-button-help > .p-button,
.p-splitbutton.p-button-help > .p-button {
  color: #ffffff;
  background: #6f42c1;
  border: 1px solid #6f42c1;
}
.p-button.p-button-help:enabled:hover,
.p-buttonset.p-button-help > .p-button:enabled:hover,
.p-splitbutton.p-button-help > .p-button:enabled:hover {
  background: #633bad;
  color: #ffffff;
  border-color: #58349a;
}
.p-button.p-button-help:enabled:focus,
.p-buttonset.p-button-help > .p-button:enabled:focus,
.p-splitbutton.p-button-help > .p-button:enabled:focus {
  box-shadow: 0 0 0 0.2rem #d3c6ec;
}
.p-button.p-button-help:enabled:active,
.p-buttonset.p-button-help > .p-button:enabled:active,
.p-splitbutton.p-button-help > .p-button:enabled:active {
  background: #58349a;
  color: #ffffff;
  border-color: #4d2e87;
}
.p-button.p-button-help.p-button-outlined,
.p-buttonset.p-button-help > .p-button.p-button-outlined,
.p-splitbutton.p-button-help > .p-button.p-button-outlined {
  background-color: transparent;
  color: #6f42c1;
  border: 1px solid;
}
.p-button.p-button-help.p-button-outlined:enabled:hover,
.p-buttonset.p-button-help > .p-button.p-button-outlined:enabled:hover,
.p-splitbutton.p-button-help > .p-button.p-button-outlined:enabled:hover {
  background: rgba(111, 66, 193, 0.04);
  color: #6f42c1;
  border: 1px solid;
}
.p-button.p-button-help.p-button-outlined:enabled:active,
.p-buttonset.p-button-help > .p-button.p-button-outlined:enabled:active,
.p-splitbutton.p-button-help > .p-button.p-button-outlined:enabled:active {
  background: rgba(111, 66, 193, 0.16);
  color: #6f42c1;
  border: 1px solid;
}
.p-button.p-button-help.p-button-text,
.p-buttonset.p-button-help > .p-button.p-button-text,
.p-splitbutton.p-button-help > .p-button.p-button-text {
  background-color: transparent;
  color: #6f42c1;
  border-color: transparent;
}
.p-button.p-button-help.p-button-text:enabled:hover,
.p-buttonset.p-button-help > .p-button.p-button-text:enabled:hover,
.p-splitbutton.p-button-help > .p-button.p-button-text:enabled:hover {
  background: rgba(111, 66, 193, 0.04);
  border-color: transparent;
  color: #6f42c1;
}
.p-button.p-button-help.p-button-text:enabled:active,
.p-buttonset.p-button-help > .p-button.p-button-text:enabled:active,
.p-splitbutton.p-button-help > .p-button.p-button-text:enabled:active {
  background: rgba(111, 66, 193, 0.16);
  border-color: transparent;
  color: #6f42c1;
}

.p-button.p-button-danger,
.p-buttonset.p-button-danger > .p-button,
.p-splitbutton.p-button-danger > .p-button {
  color: #ffffff;
  background: #cd2026;
  border: 1px solid #cd2026;
}
.p-button.p-button-danger:enabled:hover,
.p-buttonset.p-button-danger > .p-button:enabled:hover,
.p-splitbutton.p-button-danger > .p-button:enabled:hover {
  background: #a51a1f;
  color: #ffffff;
  border-color: #a51a1f;
}
.p-button.p-button-danger:enabled:focus,
.p-buttonset.p-button-danger > .p-button:enabled:focus,
.p-splitbutton.p-button-danger > .p-button:enabled:focus {
  box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
}
.p-button.p-button-danger:enabled:active,
.p-buttonset.p-button-danger > .p-button:enabled:active,
.p-splitbutton.p-button-danger > .p-button:enabled:active {
  background: #bd2130;
  color: #ffffff;
  border-color: #b21f2d;
}
.p-button.p-button-danger.p-button-outlined,
.p-buttonset.p-button-danger > .p-button.p-button-outlined,
.p-splitbutton.p-button-danger > .p-button.p-button-outlined {
  background-color: transparent;
  color: #cd2026;
  border: 1px solid;
}
.p-button.p-button-danger.p-button-outlined:enabled:hover,
.p-buttonset.p-button-danger > .p-button.p-button-outlined:enabled:hover,
.p-splitbutton.p-button-danger > .p-button.p-button-outlined:enabled:hover {
  background: rgba(220, 53, 69, 0.04);
  color: #cd2026;
  border: 1px solid;
}
.p-button.p-button-danger.p-button-outlined:enabled:active,
.p-buttonset.p-button-danger > .p-button.p-button-outlined:enabled:active,
.p-splitbutton.p-button-danger > .p-button.p-button-outlined:enabled:active {
  background: rgba(220, 53, 69, 0.16);
  color: #cd2026;
  border: 1px solid;
}
.p-button.p-button-danger.p-button-text,
.p-buttonset.p-button-danger > .p-button.p-button-text,
.p-splitbutton.p-button-danger > .p-button.p-button-text {
  background-color: transparent;
  color: #cd2026;
  border-color: transparent;
}
.p-button.p-button-danger.p-button-text:enabled:hover,
.p-buttonset.p-button-danger > .p-button.p-button-text:enabled:hover,
.p-splitbutton.p-button-danger > .p-button.p-button-text:enabled:hover {
  background: rgba(220, 53, 69, 0.04);
  border-color: transparent;
  color: #cd2026;
}
.p-button.p-button-danger.p-button-text:enabled:active,
.p-buttonset.p-button-danger > .p-button.p-button-text:enabled:active,
.p-splitbutton.p-button-danger > .p-button.p-button-text:enabled:active {
  background: rgba(220, 53, 69, 0.16);
  border-color: transparent;
  color: #cd2026;
}

.p-button.p-button-link {
  color: var(--p-primary-color);
  background: transparent;
  border: transparent;
}
.p-button.p-button-link:enabled:hover {
  background: transparent;
  color: #0069d9;
  border-color: transparent;
}
.p-button.p-button-link:enabled:hover .p-button-label {
  text-decoration: underline;
}
.p-button.p-button-link:enabled:focus {
  background: transparent;
  box-shadow: var(--focus-ring);
  border-color: transparent;
}
.p-button.p-button-link:enabled:active {
  background: transparent;
  color: var(--p-primary-color);
  border-color: transparent;
}

.p-togglebutton-content {
  padding: 8px 20px;
}

#form24Options .p-togglebutton-content {
  font-size: 14px;
}

.p-togglebutton {
  padding: 0;
  background: var(--p-content-background);
  border: 2px solid var(--fec-grey-alt);
  color: var(--p-content-color);
  font-weight: 400;
  font-family: var(--karla);
  cursor: pointer;
  transition:
    background-color 0.15s,
    border-color 0.15s,
    box-shadow 0.15s;
}

.p-togglebutton .p-button-icon-left,
.p-togglebutton .p-button-icon-right {
  color: #ffffff;
}
.p-togglebutton:not(.p-disabled):not(.p-togglebutton-checked):hover {
  border-color: var(--surface-hover);
}
.p-togglebutton:not(.p-disabled):not(.p-togglebutton-checked):hover .p-button-icon-left,
.p-togglebutton:not(.p-disabled):not(.p-togglebutton-checked):hover .p-button-icon-right {
  color: #ffffff;
}
.p-togglebutton.p-togglebutton-checked {
  background: var(--surface-border);
  border-color: #5b616b;
  font-weight: 700;
}
.p-togglebutton.p-togglebutton-checked .p-button-icon-left,
.p-togglebutton.p-togglebutton-checked .p-button-icon-right {
  color: #ffffff;
}
.p-togglebutton.p-togglebutton-checked:hover {
  border-color: var(--fec-grey-alt);
}
.p-togglebutton.p-togglebutton-checked:hover .p-button-icon-left,
.p-togglebutton.p-togglebutton-checked:hover .p-button-icon-right {
  color: #ffffff;
}

p-togglebutton.ng-dirty.ng-invalid > .p-togglebutton {
  border-color: #cd2026;
}

.p-card {
  background: var(--p-content-background);
  color: var(--p-content-color);
  box-shadow: inset 0 0px 0px 15px rgba(0, 0, 0, 0.06);
  border-radius: 1px;
  margin-top: 32px;
}
.p-card .p-card-body {
  padding: 1.5rem;
}
.p-card .p-card-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.p-card .p-card-subtitle {
  font-weight: 400;
  margin-bottom: 0.5rem;
  color: #5b616b;
}
.p-card .p-card-content {
  padding: 1rem 0;
}
.p-card .p-card-footer {
  padding: 1rem 0 0 0;
}

.p-panel .p-panel-header .p-panel-title {
  font-weight: 600;
}

.p-toolbar {
  background: var(--p-content-background);
  padding: 0;
  border-radius: 0;
  display: flex;
  align-items: flex-end;
  border: 0;
}

.p-dialog {
  border-radius: var(--border-radius);
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: var(--p-content-background);
  padding: 0;
}
.p-dialog .p-dialog-header {
  color: var(--p-content-color);
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
  position: relative;
}

.p-dialog .p-dialog-header::after {
  border-bottom: 2px solid #5b616b;
  width: 94%;
  position: absolute;
  left: 3%;
  bottom: 0;
  content: '';
}

.p-dialog .p-dialog-header .p-dialog-title {
  font-weight: 600;
  font-size: 1.25rem;
}
.p-dialog .p-dialog-header .p-dialog-header-icon {
  width: 2rem;
  height: 2rem;
  color: #5b616b;
  border: 0 none;
  background: transparent;
  border-radius: 50%;
  transition: box-shadow 0.15s;
  margin-right: 0.5rem;
}
.p-dialog .p-dialog-header .p-dialog-header-icon:enabled:hover {
  color: #5b616b;
  border-color: transparent;
  background: transparent;
}
.p-dialog .p-dialog-header .p-dialog-header-icon:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: var(--focus-ring);
}
.p-dialog .p-dialog-header .p-dialog-header-icon:last-child {
  margin-right: 0;
}

.p-dialog .p-dialog-footer {
  background: var(--p-content-background);
  color: var(--p-content-color);
  text-align: right;
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  display: flex;
  justify-content: space-between;
}
.p-dialog .p-dialog-footer button {
  margin: 0 0.5rem 0 0;
  width: auto;
}
.p-dialog.p-confirm-dialog .p-confirm-dialog-icon {
  font-size: 2rem;
}
.p-dialog.p-confirm-dialog .p-confirm-dialog-message {
  margin-left: 1rem;
}

.p-popover {
  background: var(--p-content-background);
  color: var(--p-content-color);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
  box-shadow: none;
}

.p-popover-close {
  background: var(--p-primary-color);
  color: #ffffff;
  width: 2rem;
  height: 2rem;
  transition: box-shadow 0.15s;
  border-radius: 50%;
  position: absolute;
  top: -1rem;
  right: -1rem;
}
.p-popover-close:enabled:hover {
  background: #0069d9;
  color: #ffffff;
}
.p-popover:before,
.p-popover:after {
  content: none;
}


.p-tooltip .p-tooltip-text {
  background: var(--p-content-color);
  color: #ffffff;
  padding: 0.5rem 0.75rem;
  box-shadow: none;
  border-radius: var(--border-radius);
}
.p-tooltip.p-tooltip-right .p-tooltip-arrow {
  border-right-color: var(--p-content-color);
}
.p-tooltip.p-tooltip-left .p-tooltip-arrow {
  border-left-color: var(--p-content-color);
}
.p-tooltip.p-tooltip-top .p-tooltip-arrow {
  border-top-color: var(--p-content-color);
}
.p-tooltip.p-tooltip-bottom .p-tooltip-arrow {
  border-bottom-color: var(--p-content-color);
}

.p-toast {
  opacity: 1;
}
.p-toast .p-toast-message {
  margin: 0 0 1rem 0;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius);
}
.p-toast .p-toast-message .p-toast-message-content {
  padding: 1rem;
  border-width: 0;
}
.p-toast .p-toast-message .p-toast-message-content .p-toast-message-text {
  margin: 0 0 0 1rem;
}
.p-toast .p-toast-message .p-toast-message-content .p-toast-message-icon {
  font-size: 2rem;
}
.p-toast .p-toast-message .p-toast-message-content .p-toast-summary {
  font-weight: 700;
}
.p-toast .p-toast-message .p-toast-message-content .p-toast-detail {
  margin: 0.5rem 0 0 0;
}
.p-toast .p-toast-message .p-toast-icon-close {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: transparent;
  transition: box-shadow 0.15s;
}
.p-toast .p-toast-message .p-toast-icon-close:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: var(--focus-ring);
}
.p-toast .p-toast-message.p-toast-message-info {
  background: #cce5ff;
  border: solid #b8daff;
  border-width: 1px;
  color: #004085;
}
.p-toast .p-toast-message.p-toast-message-info .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-info .p-toast-icon-close {
  color: #004085;
}
.p-toast .p-toast-message.p-toast-message-success {
  background: #d4edda;
  border: solid #c3e6cb;
  border-width: 1px;
  color: #155724;
}
.p-toast .p-toast-message.p-toast-message-success .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-success .p-toast-icon-close {
  color: #155724;
}
.p-toast .p-toast-message.p-toast-message-warn {
  background: #fff3cd;
  border: solid #ffeeba;
  border-width: 1px;
  color: #856404;
}
.p-toast .p-toast-message.p-toast-message-warn .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-warn .p-toast-icon-close {
  color: #856404;
}
.p-toast .p-toast-message.p-toast-message-error {
  background: #f8d7da;
  border: solid #f5c6cb;
  border-width: 1px;
  color: #721c24;
}
.p-toast .p-toast-message.p-toast-message-error .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-error .p-toast-icon-close {
  color: #721c24;
}

/* Customizations to the designer theme should be defined here */
.rounded-text {
  background: transparent;
  color: var(--p-content-color);
  border: none;
  border-radius: 50%;
}

.rounded-text:hover {
  background-color: transparent !important;
  color: var(--p-content-color) !important;
}

.p-paginator-left-content > div {
  display: flex;
  align-items: center;
}

.p-paginator-left-content .p-select .p-select-label {
  line-height: 1 !important;
}

:host ::ng-deep .custom-paginator .ui-paginator-next {
  background-image: url('/assets/img/next-arrow.svg');
  background-repeat: no-repeat;
  width: 16px; /* adjust as needed */
  height: 16px; /* adjust as needed */
}

eyeicon {
  right: 16px;
  scale: 1.25;
}

eyeslashicon {
  right: 16px;
  scale: 1.25;
}

sortamountupalticon,
sortamountdownicon,
sortalticon {
  display: none;
}

.p-select-list > p-selectitem:first-of-type > li {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.p-select-list > p-selectitem:last-of-type > li {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.p-autocomplete-option-group {
  font-family: var(--karla);
  font-size: 12px;
}

.p-autocomplete-dropdown {
  border: 2px solid var(--fec-grey-alt);
  border-left: 0;
}

mark {
  background-color: #c9ebea;
}

.p-autocomplete-input {
  background-color: white;
  border: 2px solid var(--fec-grey-alt);
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  color: #212121;
  font-family: var(--karla);
  font-size: 16px;
  width: 342px;
}

.p-autocomplete-input::placeholder {
  opacity: 0.5;
}

#searchBox > div:hover input,
#searchBox > div:hover button,
#searchBox > div:hover input:focus {
  border-color: var(--surface-border);
}

#searchBox > div input:focus {
  box-shadow: none;
  border-color: var(--fec-grey-alt);
}

#searchBox > div:focus-within {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: var(--focus-ring);
}

.p-autocomplete-overlay {
  border: 1px solid #5b616b;
  border-radius: 0;
  padding: 10px 0 10px 0;
}

.p-autocomplete-option,
.p-autocomplete-option-group {
  padding: 10px 0 10px 10px;
}

.p-autocomplete-panel,
.p-autocomplete-option {
  padding: 10px 0 20px 10px;
  border-bottom: 0.5px solid var(--surface-hover);
  border-left: 4px solid transparent;
}

.p-autocomplete-option:hover {
  background-color: #f1f1f1;
  border-left: 4px solid #36bdbb;
}

input {
  font-family: var(--karla);
  font-size: 1rem;
  font-weight: normal;
  color: var(--p-content-color);
}

.dialog-body input {
  font-size: 14px;
}

.btn-close {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.5em;
  color: #000;
  background: transparent
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")
    center/1em auto no-repeat;
  border: 0;
  border-radius: 50%;
  opacity: 0.5;
}

.btn-close:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: var(--focus-ring);
}

.field {
  flex-direction: column;
  display: flex;
}

.field-row {
  display: flex;
  gap: 0.25rem !important;
  align-items: center;
  margin-bottom: 1rem;
}

.p-datatable-table-container {
  overflow: hidden !important;
}

.pi-sort-down-fill {
  font-size: 8px !important;
  padding: 0 !important;
  margin: 0 !important;
}

.p-popover-content {
  padding: 0;
}

.p-panelmenu-item-link,
.p-panelmenu-header-label {
  color: var(--p-primary-contrast-color);
}

.p-panelmenu-header-label {
  font-weight: 400;
  font-size: 14px;
}

.p-panelmenu-item-link.p-panelmenu-item-link-active {
  font-size: 0.9em;
  font-weight: bolder;
  outline: 0 none;
  outline-offset: 0;
  box-shadow: none;
  text-transform: uppercase;
}
.p-panelmenu-header-link {
  height: 36px;
  padding: 0 0 0 10px;
  align-content: center;
}

.p-panelmenu-item-link {
  padding: 12px 16px 12px 16px;
}

.p-accordioncontent-content {
  width: 100%;
}

.content-accordion-wrapper {
  padding: 20px;
  border: 1px solid var(--surface-border);
  opacity: 0;
  transition: opacity 400ms cubic-bezier(0.86, 0, 0.07, 1);
}

.p-accordioncontent[data-p-active='true'] .content-accordion-wrapper {
  opacity: 1;
}

.p-confirmdialog > .p-dialog-footer {
  display: flex;
  width: 100%;
  border-top: 1px solid var(--surface-hover);
  padding: 1.25rem 1.5rem 0.5rem 1.5rem;
}

.p-select > span > input {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
}

td {
  font-size: 14px;
}

.p-accordionpanel:not(.p-accordionpanel-active):not(.p-disabled) .p-accordionheader:hover .p-accordionheader-toggle-icon {
  color: var(--p-accordion-header-toggle-icon-color);
}

.p-accordionheader > .p-icon {
    display: none;
  }

.p-radiobutton-input {
  height: 100% !important;
  padding: 0;
}

.p-field-checkbox > label:not(.p-disabled) {
  cursor: pointer;
}


/* Accordion */
.p-accordion::before {
  content: '';
  display: block;
  height: 2px;
  background-color: #121212;
}

.p-accordionpanel {
  border-bottom: 1px solid #121212;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.p-accordionpanel-active > .p-accordionheader {
  border-bottom: 1px solid #121212;
}

.p-accordionheader {
  --p-accordion-header-last-bottom-border-radius: 0;
  --p-accordion-header-first-top-border-radius: 0;
  display: flex;
  align-items: center;
}

.accordion-content-wrapper {
  border: none;
}

.accordion-content-wrapper a,
.accordion-content-wrapper .disabled {
  font-size: 14px;
  text-align: left;
}

.accordion-header-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.accordion-icon {
  width: 20px;
  height: 20px;
  margin-left: auto;
}