<div>
  <button
    *ngIf="controlType == 'button'"
    pButton
    pRipple
    [label]="navigationControl?.label || ''"
    [icon]="navigationControl?.icon || ''"
    [class]="navigationControl?.ngClass || ''"
    (click)="click()"
    [disabled]="isDisabled()"
  ></button>
  <p-dropdown
    *ngIf="controlType == 'dropdown'"
    [formControl]="dropdownControl"
    [options]="dropdownOptions"
    pRipple
    [placeholder]="navigationControl?.label || ''"
    [dropdownIcon]="navigationControl?.icon || ''"
    [class]="navigationControl?.ngClass || ''"
    (onChange)="onDropdownChange($event)"
    [disabled]="isDisabled()"
    [group]="true"
  >
    <ng-template let-group pTemplate="group">
      <div class="bold">
        <span>{{ group.label }}</span>
      </div>
    </ng-template>
    <ng-template let-transactiontype pTemplate="item">
      <div class="flex align-items-center gap-2" [ngClass]="{ 'p-disabled': !transactiontype.value }">
        <div>{{ transactiontype.label }}</div>
      </div>
    </ng-template>
  </p-dropdown>
</div>
