<div [formGroup]="form()" [attr.data-cy]="panelDataCy()">
  <div class="grid" [attr.data-cy]="gridDataCy()">
    <div class="col-6" [attr.data-cy]="fieldDataCy(officeFormControlName(), 'field')">
      <app-select
        inputId="candidate_office"
        label="CANDIDATE OFFICE"
        [options]="candidateOfficeTypeOptions"
        [form]="form()"
        [formControlName]="officeFormControlName()"
        [formSubmitted]="formSubmitted()"
        [dataCyContext]="dataCyContext()"
      />
    </div>
    <div class="col-3" [attr.data-cy]="fieldDataCy(stateFormControlName(), 'field')">
      <app-select
        inputId="candidate_state"
        label="CANDIDATE STATE"
        [options]="candidateStateOptions"
        [form]="form()"
        [formControlName]="stateFormControlName()"
        [formSubmitted]="formSubmitted()"
        [dataCyContext]="dataCyContext()"
      />
    </div>
    <div class="col-3" [attr.data-cy]="fieldDataCy(districtFormControlName(), 'field')">
      @if (candidateDistrictOptions.length === 1) {
        <div class="field" [attr.data-cy]="fieldDataCy(districtFormControlName() + '-readonly', 'field')">
          <label for="candidate_district" [attr.data-cy]="fieldDataCy(districtFormControlName(), 'label')">
            CANDIDATE DISTRICT
          </label>
          <input
            type="text"
            pInputText
            id="candidate_district"
            [formControlName]="districtFormControlName()"
            class="p-disabled"
            [attr.data-cy]="fieldDataCy(districtFormControlName())"
          />
          <app-error-messages
            [form]="form()"
            [fieldName]="districtFormControlName()"
            [formSubmitted]="formSubmitted()"
            [dataCyContext]="dataCyContext()"
          />
        </div>
      } @else {
        <app-select
          inputId="candidate_district"
          label="CANDIDATE DISTRICT"
          [options]="candidateDistrictOptions"
          [form]="form()"
          [formControlName]="districtFormControlName()"
          [formSubmitted]="formSubmitted()"
          [dataCyContext]="dataCyContext()"
        />
      }
    </div>
  </div>
</div>
