<div [formGroup]="form">
  <div class="grid">
    <div class="col-6">
      <div class="field">
        <label for="candidate_office">CANDIDATE OFFICE</label>
        <p-dropdown
          [autoDisplayFirst]="false"
          [formControlName]="this.officeFormControlName"
          [options]="candidateOfficeTypeOptions"
          appendTo="body"
          inputId="candidate_office"
        ></p-dropdown>
        <app-error-messages
          [fieldName]="this.officeFormControlName"
          [formSubmitted]="formSubmitted"
          [form]="form"
        ></app-error-messages>
      </div>
    </div>
    <div class="col-3">
      <div class="field">
        <label
          for="candidate_state"
        >CANDIDATE STATE</label
        >
        <p-dropdown
          [autoDisplayFirst]="false"
          [formControlName]="this.stateFormControlName"
          [ngClass]="{
            disabled: this.form.get(this.stateFormControlName)?.disabled
          }"
          [options]="candidateStateOptions"
          appendTo="body"
          inputId="candidate_state"
        ></p-dropdown>
        <app-error-messages
          [fieldName]="this.stateFormControlName"
          [formSubmitted]="formSubmitted"
          [form]="form"
        ></app-error-messages>
      </div>
    </div>
    <div class="col-3">
      <div class="field">
        <label
          for="candidate_district"
        >CANDIDATE DISTRICT</label
        >
        <p-dropdown
          [autoDisplayFirst]="false"
          [formControlName]="this.districtFormControlName"
          [ngClass]="{
            disabled: this.form.get(this.stateFormControlName)?.disabled
          }"
          [options]="candidateDistrictOptions"
          appendTo="body"
          inputId="candidate_district"
        ></p-dropdown>
        <app-error-messages
          [fieldName]="this.districtFormControlName"
          [formSubmitted]="formSubmitted"
          [form]="form"
        ></app-error-messages>
      </div>
    </div>
  </div>
</div>
