<div [formGroup]="form()">
  <div class="grid">
    <div class="col-6">
      <div class="field">
        <label for="candidate_office">CANDIDATE OFFICE</label>
        <p-select
          inputId="candidate_office"
          [formControlName]="officeFormControlName()"
          [options]="candidateOfficeTypeOptions"
          [autoDisplayFirst]="false"
          appendTo="body"
        ></p-select>
        <app-error-messages
          [form]="form()"
          [fieldName]="officeFormControlName()"
          [formSubmitted]="formSubmitted()"
        ></app-error-messages>
      </div>
    </div>
    <div class="col-3">
      <div class="field">
        <label for="candidate_state">CANDIDATE STATE</label>
        <p-select
          inputId="candidate_state"
          [formControlName]="stateFormControlName()"
          [options]="candidateStateOptions"
          [autoDisplayFirst]="false"
          [class.disabled]="stateControl().disabled"
          appendTo="body"
        ></p-select>
        <app-error-messages
          [form]="form()"
          [fieldName]="stateFormControlName()"
          [formSubmitted]="formSubmitted()"
        ></app-error-messages>
      </div>
    </div>
    <div class="col-3">
      <div class="field">
        <label for="candidate_district">CANDIDATE DISTRICT</label>
        @if (candidateDistrictOptions.length === 1) {
          <input
            type="text"
            pInputText
            id="candidate_district"
            [formControlName]="districtFormControlName()"
            class="p-disabled"
          />
        } @else {
          <p-select
            inputId="candidate_district"
            [formControlName]="districtFormControlName()"
            [options]="candidateDistrictOptions"
            [class.disabled]="stateControl().disabled"
            appendTo="body"
            [autoDisplayFirst]="false"
          ></p-select>
        }
        <app-error-messages
          [form]="form()"
          [fieldName]="districtFormControlName()"
          [formSubmitted]="formSubmitted()"
        ></app-error-messages>
      </div>
    </div>
  </div>
</div>
