.summary-header {
  margin-bottom: 20px;
}

.summary-header h1 {
  margin-bottom: 0;
}

.fec-loader-div {
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.fec-loader-image {
  position: relative;
  transform-origin: 50% 50%;
  margin-left: auto;
  margin-right: auto;
}

table {
  width: 100%;
}

th {
  border-top: 2px solid black;
  border-bottom: 3px solid lightgray;
  border-left: 0;
  padding-left: 10px;
  padding-right: 10px;
}

td {
  text-align: center;
  border-top: 0;
  border-bottom: 1px solid lightgray;
  border-left: 0;
  padding: 10px;
}

.right-border {
  border-right: 1px solid lightgray;
}

th.justify-left,
td.justify-left {
  text-align: left;
}

.cell-with-overlay {
  display: flex;
  justify-content: space-between;
}

.last {
  border-bottom: 2px solid black;
}

caption {
  font-family: var(--gandhi-bold);
  font-weight: bolder;
  text-align: left;
  margin-bottom: 10px;
  font-size: 1.2em;
}

.indent-1 {
  padding-left: 2em;
}

.indent-2 {
  padding-left: 4em;
}

.table-spacer {
  height: 3em;
}

:host ::ng-deep .p-datatable-header {
  padding-right: 0px;
}

.modal-item-margin {
  margin-top: 32px;
  width: fit-content;
}

#f24-input-container {
  border: 2px solid var(--fec-grey-alt);
  border-radius: var(--border-radius);
  display: flex;
  align-items: baseline;

  &:focus-within {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: var(--focus-ring);
    border-color: var(--p-primary-color);
  }

  &:hover {
    border-color: var(--surface-border);
  }

  & > span {
    border: 0;
    background: var(--p-content-background);
    line-height: 1.4rem;
    font-family: var(--karla-bold);
    padding: 0 0 0 15px;
    text-wrap-mode: nowrap;
  }
}

#form24Name {
  border: 0;
  box-shadow: none;
}

.dialog-buttons {
  justify-content: space-between;
}
