<div class="login-page container">
  <div class="text-center top-section">
    @if (disableLogin) {
      <h1 class="login-box-header header-comming-soon">Coming Soon&nbsp;</h1>
    }
    <div class="">
      <h1 class="login-box-header header-filers">Made for filers.&nbsp;</h1>
      <h1 class="login-box-header header-productivity">Built to work anywhere.</h1>
    </div>

    <p class="description-text">
      <span class="first-description-text">
        FECfile+ is free web-based software filers can use for electronic filing.&nbsp;
      </span>
      <span class="second-description-text">
        You and your team can create, review and submit your reports from anywhere.
      </span>
    </p>
    <div>
      @if (!disableLogin) {
        <div class="button-container">
          <button (click)="navigateToLoginDotGov()" class="login-button" type="button" id="loginButton">
            Sign in with Login.gov
          </button>
        </div>
        <div class="">
          <a class="learn-more-link" href="https://www.login.gov/what-is-login/">Learn more about Login.gov</a>
        </div>
      }
    </div>
  </div>
</div>
<div id="bottom-section">
  <div id="blue-background"></div>
  <div id="img-container">
    <img
      alt="An example of the FECfile+ dashboard"
      id="dashboard-example-img"
      src="assets/img/dashboard-example.svg"
      priority
    />
  </div>
</div>
