.dropdown-menu {
  top: 25px;
}

.dashboard-example-img {
  width: 600px;
  position: absolute;
  max-height: calc(100vh - 350px);
  overflow: hidden;
}

.login-box-header {
  font-family: 'karla-bold', Sans-serif;
  font-size: 32px;
  padding: 0px;
}

.header-filers {
  color: #212121;
}

.header-filers,
.header-productivity {
  font-size: 36px;
}

.header-productivity {
  color: #164f85;
}

.description-text {
  font-family: gandhi-regular, serif !important;
  font-size: 18px !important;
  color: #212121;
  text-align: center;
  margin-bottom: 32px;
}

.button-container {
  margin-bottom: 18px;
}

.login-button {
  color: #ffffff;
  background-color: #112e51;
  margin-right: 20px;
}

.login-button,
.signup-button {
  border-radius: 4px;
  display: inline-block;
  font-family: 'karla', Sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  padding: 8px 20px;
  text-align: center;
  vertical-align: middle;
}

.signup-button {
  background-color: #35bdbb;
  color: #212121;
}

.learn-more-link {
  margin-left: 10px;
  font-family: 'karla-bold', Sans-serif;
  font-size: 14px;
  color: #112e51;
  border-bottom: 1px dotted #112e51;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.1s linear;
}

.debug-login {
  margin-right: 60px;
}

.login-page {
  width: 100%;
  max-width: 100%;
  padding: 0;
  overflow: visible;
}

.top-section {
  padding-bottom: 32px;
}

.dashboard-example-img-lg,
.dashboard-example-img-md {
  display: none;
}

.img-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.blue-background {
  background-color: #0bacfa;
  position: absolute;
  left: 0;
  right: 0;
}

@media (min-width: 576px) {
  .blue-background {
    top: 558px;
    height: max(449px, calc(100vh - 754px));
  }
}

@media (min-width: 625px) {
  .blue-background {
    top: 558px;
    height: max(449px, calc(100vh - 754px));
  }
}

@media (min-width: 768px) {
  .blue-background {
    top: 531px;
    height: max(449px, calc(100vh - 754px));
  }
}

@media (min-width: 992px) {
  .login-page {
    max-width: 800px;
  }

  .header-filers {
    display: inline;
  }

  .header-productivity {
    display: inline;
  }

  .first-description-text {
    display: block;
  }

  .dashboard-example-img-md {
    display: block;
  }

  .dashboard-example-img-sm {
    display: none;
  }

  .top-section {
    padding-bottom: 64px;
  }

  .blue-background {
    top: 520px;
    height: max(449px, calc(100vh - 754px));
  }
}

@media (min-width: 1200px) {
  .dashboard-example-img-md {
    display: none;
  }

  .dashboard-example-img-lg {
    display: block;
  }

  .blue-background {
    height: max(603px, 100vh - 677px);
  }
}
