.header-productivity {
  color: #164f85;
}

.button-container {
  margin-bottom: 18px;
}

.login-button {
  padding: 8px 20px;
}

.learn-more-link {
  border-bottom: 1px dotted #112e51;
  transition: color 0.1s linear;
}

.login-page,
#img-container {
  max-width: 800px;
}

.top-section {
  flex: 0 0 auto;
}

#bottom-section {
  box-sizing: border-box;
  width: calc(100vw - var(--scrollbar-width));
  height: calc(100% - var(--h-offset, 301px));
}

#blue-background {
  background-color: #0bacfa;
  height: calc(100% - 80px);
  top: 80px;
}

@media (max-width: 767px) {
  ::ng-deep .container,
  ::ng-deep .main-content {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media (max-width: 991px) {
  ::ng-deep .container,
  ::ng-deep .main-content {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media (min-width: 596px) {
  #bottom-section {
    --h-offset: 274px;
  }
}

@media (min-width: 768px) {
  .header-filers {
    display: inline;
  }
}

@media (min-width: 992px) {
  .top-section {
    padding-bottom: 64px;
  }

  #bottom-section {
    --h-offset: 306px;
  }
}

@media (min-width: 1200px) {
  .header-productivity {
    display: inline;
  }

  #bottom-section {
    --h-offset: 263px;
  }
}
