<div class="login-page container">
  <div class="text-center top-section">
    @if (disableLogin) {
      <h1 class="login-box-header header-coming-soon">Coming Soon&nbsp;</h1>
    }
    <div class="mb-3">
      <h1 class="login-box-header header-filers">Made for filers.&nbsp;</h1>
      <h1 class="login-box-header header-productivity">Built to work anywhere.</h1>
    </div>
    <p>
      The FEC is piloting FECfile+, a free web-based software filers can use for electronic filing. You and your team
      can create, review and submit your reports from anywhere.
    </p>
    <p>
      The FECfile+ Pilot is designed for a limited group of committees as we roll out initial support. Committees not
      currently supported will experience significant challenges and should use the original FECFile desktop platform or
      a third party service to meet reporting obligations.
    </p>
    <div class="flex justify-content-center gap-3 mb-3">
      <a pButton [href]="whoCanUseLink" target="_blank">Is FECfile+ right for my committee?</a>
      @if (!disableLogin) {
        <p-button
          (click)="navigateToLoginDotGov()"
          (keydown)="navigateToLoginDotGov()"
          variant="outlined"
          id="loginButton"
          label="Sign in with Login.gov"
        />
      }
    </div>
    <a class="learn-more-link" href="https://www.login.gov/what-is-login/">Learn more about Login.gov</a>
  </div>
</div>
<div id="bottom-section">
  <div id="blue-background"></div>
  <div id="img-container">
    <img
      alt="An example of the FECfile+ dashboard"
      id="dashboard-example-img"
      src="assets/img/dashboard-example.svg"
      priority
    />
  </div>
</div>

<app-dialog
  aria-labelledby="dialog-title"
  title="We've detected a problem"
  [showTitleWarning]="true"
  [(visible)]="loginDialogVisible"
  submitLabel="Close"
  [showCancel]="false"
  (confirm)="dialogClose()"
>
  <div class="dialog-body">
    Fecfile+ is experiencing an issue. Please wait a moment<br />
    and try to log in again.<br />
    <br />
    We apologize for the inconvenience.
  </div>
</app-dialog>
