@use 'mixins' as *;

:host::ng-deep {
  .employer-column,
  .occupation-column {
    display: none;
  }

  .checkbox-column {
    --col-width: 10.5%;
  }
  .name-column {
    --col-width: 66.1%;
  }

  .type-column {
    --col-width: 23.4%;
  }

  @media (min-width: $md) {
    .checkbox-column {
      --col-width: 7.7%;
    }
    .name-column {
      --col-width: 75.2%;
    }

    .type-column {
      --col-width: 17.1%;
    }
  }

  @media (min-width: $lg) {
    .checkbox-column {
      --col-width: 6.3%;
    }
    .name-column {
      --col-width: 50%;
    }

    .type-column {
      --col-width: 14.1%;
    }

    .employer-column,
    .occupation-column {
      display: table-cell;
      --col-width: 14.8%;
    }
  }

  @media (min-width: $xxl) {
    .checkbox-column {
      --col-width: 5.1%;
    }

    .type-column {
      --col-width: 11.3%;
    }

    .employer-column,
    .occupation-column {
      --col-width: 16.8%;
    }
  }
}
