@use 'mixins' as *;

:host::ng-deep {
  .employer-column,
  .occupation-column {
    display: none;
  }

  .checkbox-column {
    @include fixed-width(10.5%);
  }
  .name-column {
    @include fixed-width(66.1%);
  }

  .type-column {
    @include fixed-width(23.4%);
  }

  @include breakpoint('md') {
    .checkbox-column {
      @include fixed-width(7.7%);
    }
    .name-column {
      @include fixed-width(75.2%);
    }

    .type-column {
      @include fixed-width(17.1%);
    }
  }

  @include breakpoint('lg') {
    .checkbox-column {
      @include fixed-width(6.3%);
    }
    .name-column {
      @include fixed-width(50%);
    }

    .type-column {
      @include fixed-width(14.1%);
    }

    .employer-column,
    .occupation-column {
      display: table-cell;
      @include fixed-width(14.8%);
    }
  }

  @include breakpoint('xxl') {
    .checkbox-column {
      @include fixed-width(5.1%);
    }

    .type-column {
      @include fixed-width(11.3%);
    }

    .employer-column,
    .occupation-column {
      @include fixed-width(16.8%);
    }
  }
}
