<p-toast></p-toast>

<div class="p-fluid">
  <h1>{{ transaction?.transactionType?.title }}</h1>
  <h3>Contact</h3>
  <form id="form" [formGroup]="form" [ngClass]="{ 'ng-submitted': formSubmitted }">
    <div class="grid">
      <div class="col-12">
        <div class="field">
          <label for="entity_type">CONTACT TYPE</label>
          <app-transaction-contact-lookup
            [contactTypeFormControl]="$any(form).controls['entity_type']"
            [contactTypeOptions]="contactTypeOptions"
            [contactTypeReadOnly]="true"
            (contactSelect)="onContactLookupSelect($event)"
          >
          </app-transaction-contact-lookup>
        </div>
      </div>
    </div>
    <ng-container *ngIf="transaction?.contact">
      <app-committee-input
        [form]="form"
        [formSubmitted]="formSubmitted"
        [templateMap]="templateMap"
        entityRole="ORGANIZATION"
      ></app-committee-input>
      <p-divider></p-divider>
      <h3>Address</h3>
      <app-address-input [form]="form" [formSubmitted]="formSubmitted" [templateMap]="templateMap"></app-address-input>
      <p-divider></p-divider>
      <h3>Receipt Information</h3>
      <app-amount-input
        [form]="form"
        [formSubmitted]="formSubmitted"
        [templateMap]="templateMap"
        [memoCodeReadOnly]="isMemoCodeReadOnly(transaction?.transactionType)"
        [negativeAmountValueOnly]="!!transaction?.transactionType?.negativeAmountValueOnly"
        [showAggregate]="!!transaction?.transactionType?.showAggregate"
      ></app-amount-input>
      <p-divider></p-divider>
      <h3>Additional Information</h3>
      <app-additional-info-input
        [form]="form"
        [formSubmitted]="formSubmitted"
        [templateMap]="templateMap"
        [descriptionIsSystemGenerated]="isDescriptionSystemGenerated(transaction?.transactionType)"
        [purposeDescriptionLabel]="this.purposeDescriptionLabel"
        [purposeDescriptionLabelNotice]="transaction?.transactionType?.purposeDescriptionLabelNotice"
      ></app-additional-info-input>
      <div class="grid">
        <ng-template ngFor let-navigationControl [ngForOf]="getInlineControls()">
          <div class="col-4">
            <app-navigation-control
              [navigationControl]="navigationControl"
              [transaction]="transaction"
              (navigate)="handleNavigate($event)"
            ></app-navigation-control>
          </div>
        </ng-template>
      </div>
    </ng-container>
    <p-divider></p-divider>
    <app-navigation-control-bar
      [navigationControls]="getNavigationControls()"
      [transaction]="transaction"
      (navigate)="handleNavigate($event)"
    ></app-navigation-control-bar>
  </form>
</div>

<p-confirmDialog key="dialog" [style]="{ width: '450px' }"></p-confirmDialog>
