<p-toast></p-toast>
<h1>{{ transaction?.transactionType?.title }}</h1>
<h4 class="read-only-tag subtitle" *ngIf="!isEditable">READ ONLY</h4>
<p class="group-description">{{ this.groupDescription }}</p>
<p-accordion [activeIndex]="0">
  <p-accordionTab>
    <ng-template pTemplate="header">
      <strong>{{ this.parentAccordionTitle }}:</strong>
      <p style="font-weight: normal">{{ this.parentAccordionSubTitle }}</p></ng-template
    >
    <div class="p-fluid">
      <h2 *ngIf="this.parentTransactionTitle">{{ this.parentTransactionTitle }}</h2>
      <h3>Contact</h3>
      <form id="form" [formGroup]="form" [ngClass]="{ 'ng-submitted': formSubmitted }">
        <div class="grid" *ngIf="isEditable">
          <div class="col-12">
            <label for="entity_type">CONTACT TYPE</label>
            <app-transaction-contact-lookup
              [contactTypeFormControl]="$any(form).controls['entity_type']"
              [contactTypeOptions]="contactTypeOptions"
              [contactTypeReadOnly]="this.contactTypeOptions.length === 1"
              (contactSelect)="onContactLookupSelect($event)"
            >
            </app-transaction-contact-lookup>
          </div>
        </div>
        <ng-container *ngIf="transaction?.contact">
          <ng-container
            *ngIf="[ContactTypes.ORGANIZATION, ContactTypes.COMMITTEE].includes(form.get('entity_type')?.value)"
          >
            <app-committee-input
              [form]="form"
              [formSubmitted]="formSubmitted"
              [templateMap]="templateMap"
              [entityRole]="getEntityType() === ContactTypes.ORGANIZATION ? 'ORGANIZATION' : 'COMMITTEE'"
              [includeFecId]="true"
            ></app-committee-input>
          </ng-container>
          <ng-container *ngIf="getEntityType() === ContactTypes.INDIVIDUAL">
            <app-name-input [form]="form" [formSubmitted]="formSubmitted" [templateMap]="templateMap"></app-name-input>
          </ng-container>
          <p-divider></p-divider>
          <h3>Address</h3>
          <app-address-input
            [form]="form"
            [formSubmitted]="formSubmitted"
            [templateMap]="templateMap"
          ></app-address-input>
          <p-divider></p-divider>
          <ng-container *ngIf="this.hasEmployerInput">
            <h3>Employer</h3>
            <app-employer-input
              [form]="form"
              [formSubmitted]="formSubmitted"
              [templateMap]="templateMap"
            ></app-employer-input>
            <p-divider></p-divider>
          </ng-container>
          <h3>Receipt Information</h3>
          <app-amount-input
            [form]="form"
            [formSubmitted]="formSubmitted"
            [templateMap]="templateMap"
            [memoCodeReadOnly]="isMemoCodeReadOnly(transaction?.transactionType)"
            [negativeAmountValueOnly]="!!transaction?.transactionType?.negativeAmountValueOnly"
            [showAggregate]="!!transaction?.transactionType?.showAggregate"
          ></app-amount-input>
          <p-divider></p-divider>
          <h3>Additional Information</h3>
          <app-additional-info-input
            [form]="form"
            [formSubmitted]="formSubmitted"
            [templateMap]="templateMap"
            [descriptionIsSystemGenerated]="isDescriptionSystemGenerated(transaction?.transactionType)"
            [purposeDescriptionLabel]="this.purposeDescriptionLabel"
            [purposeDescriptionPrefix]="this.transaction?.transactionType?.purposeDescriptionPrefix"
          ></app-additional-info-input>
          <div class="grid" style="flex-direction: row-reverse">
            <p style="font-style: italic">{{ this.parentFooter }}</p>
          </div>
        </ng-container>
      </form>
    </div>
  </p-accordionTab>

  <p-accordionTab>
    <ng-template pTemplate="header">
      <strong>{{ this.childAccordionTitle }}:</strong>
      <p style="font-weight: normal">
        {{ this.childAccordionSubTitle }}
      </p></ng-template
    >
    <div class="p-fluid">
      <h2>{{ this.childTransactionTitle }}</h2>
      <h3>{{ this.childContactLabel }}</h3>
      <form id="childForm" [formGroup]="childForm" [ngClass]="{ 'ng-submitted': formSubmitted }">
        <div class="grid" *ngIf="isEditable && !useParentContact">
          <div class="col-12">
            <div class="field">
              <label for="entity_type">ENTITY TYPE</label>
              {{ this.childForm.controls['entity_type'].value }}
              <app-transaction-contact-lookup
                [contactTypeFormControl]="$any(childForm).controls['entity_type']"
                [contactTypeOptions]="childContactTypeOptions"
                [contactTypeReadOnly]="this.childContactTypeOptions.length === 1"
                (contactSelect)="childOnContactLookupSelect($event)"
              >
              </app-transaction-contact-lookup>
            </div>
          </div>
        </div>
        <ng-container *ngIf="childTransaction?.contact">
          <ng-container *ngIf="childForm.get('entity_type')?.value === ContactTypes.COMMITTEE">
            <app-committee-input
              [form]="childForm"
              [formSubmitted]="formSubmitted"
              [templateMap]="childTemplateMap"
              [entityRole]="this.childContactLabel"
              [includeFecId]="true"
            ></app-committee-input>
          </ng-container>
          <ng-container *ngIf="childForm.get('entity_type')?.value === ContactTypes.INDIVIDUAL">
            <app-name-input
              [form]="childForm"
              [formSubmitted]="formSubmitted"
              [templateMap]="childTemplateMap"
            ></app-name-input>
          </ng-container>
          <p-divider></p-divider>
          <h3>Address</h3>
          <app-address-input
            [form]="childForm"
            [formSubmitted]="formSubmitted"
            [templateMap]="childTemplateMap"
            [stateOptions]="stateOptions"
          ></app-address-input>
          <p-divider></p-divider>
          <ng-container
            *ngIf="childHasEmployerInput && childForm.get('entity_type')?.value === ContactTypes.INDIVIDUAL"
          >
            <h3>Employer</h3>
            <app-employer-input
              [form]="childForm"
              [formSubmitted]="formSubmitted"
              [templateMap]="childTemplateMap"
            ></app-employer-input>
            <p-divider></p-divider>
          </ng-container>
          <h3>Receipt Information</h3>
          <app-amount-input
            [form]="childForm"
            [formSubmitted]="formSubmitted"
            [templateMap]="childTemplateMap"
            [memoCodeReadOnly]="isMemoCodeReadOnly(childTransaction?.transactionType)"
            [contributionAmountReadOnly]="true"
            [negativeAmountValueOnly]="!!childTransaction?.transactionType?.negativeAmountValueOnly"
            [showAggregate]="!!childTransaction?.transactionType?.showAggregate"
          ></app-amount-input>
          <p-divider></p-divider>
          <h3>Additional Information</h3>
          <app-additional-info-input
            [form]="childForm"
            [formSubmitted]="formSubmitted"
            [templateMap]="childTemplateMap"
            [descriptionIsSystemGenerated]="isDescriptionSystemGenerated(childTransaction?.transactionType)"
            [purposeDescriptionLabel]="this.childPurposeDescriptionLabel"
            [purposeDescriptionPrefix]="this.transaction?.transactionType?.purposeDescriptionPrefix"
          ></app-additional-info-input>
        </ng-container>
      </form>
    </div>
  </p-accordionTab>
</p-accordion>

<div class="p-fluid">
  <app-navigation-control-bar
    [navigationControls]="getNavigationControls()"
    [transaction]="transaction"
    (navigate)="handleNavigate($event)"
    [class]="isEditable ? '' : 'flex-center'"
  ></app-navigation-control-bar>
</div>

<p-confirmDialog key="dialog" [style]="{ width: '450px' }"></p-confirmDialog>
<p-confirmDialog key="childDialog" [style]="{ width: '450px' }"></p-confirmDialog>
