<p-drawer [visible]="sidebarVisible()" position="bottom" [showCloseIcon]="false" [modal]="false" appendTo="body" data-cy="layout-download-tray-drawer">
  <ng-template pTemplate="header"><span data-cy="layout-download-tray-drawer-title">Your downloads</span></ng-template>
  <ng-template pTemplate="content">
    <table data-cy="layout-download-tray-drawer-table">
      <thead>
        <tr>
          <th>isComplete</th>
          <th>Name</th>
          <th>Download Button</th>
          <th>Remove Button</th>
          <th>Downloading text</th>
        </tr>
      </thead>
      <tbody>
        @for (item of dotFecService.downloads(); track item; let index = $index) {
          <tr [attr.data-cy]="'layout-download-tray-drawer-row-' + index">
            <td>
              @if (item.isComplete) {
                <img src="assets/img/check.svg" draggable="false" alt="Checkmark" [attr.data-cy]="'layout-download-tray-drawer-row-' + index + '-status-icon'" />
              } @else {
                <img src="assets/img/loading-dots.gif" draggable="false" alt="Loading dots gif" [attr.data-cy]="'layout-download-tray-drawer-row-' + index + '-status-icon'" />
              }
            </td>
            <td class="download-text" [attr.data-cy]="'layout-download-tray-drawer-row-' + index + '-name'">{{ item.name }}</td>
            <td>
              <button
                pButton
                pRipple
                styleClass="p-button-primary"
                [attr.data-cy]="'layout-download-tray-drawer-row-' + index + '-download-button'"
                (click)="download(item)"
                [disabled]="!item.isComplete"
              >
                Download
              </button>
            </td>
            <td>
              <button pButton pRipple [rounded]="true" [text]="true" class="p-1" [attr.data-cy]="'layout-download-tray-drawer-row-' + index + '-remove-button'" (click)="removeDownload(item)">
                <img src="assets/img/x-circle.svg" draggable="false" alt="X in a circle" />
              </button>
            </td>
            <td class="download-text" [attr.data-cy]="'layout-download-tray-drawer-row-' + index + '-status-text'">
              @if (!item.isComplete) {
                <span>
                  We are preparing your download. Your wait will vary depending on how many records you requested and
                  how many downloads we are processing
                </span>
              }
            </td>
          </tr>
        }
      </tbody>
    </table>
  </ng-template>
</p-drawer>
