@use 'mixins' as *;

:host::ng-deep {
  .email-column,
  .status-column {
    display: none;
  }

  .name-column,
  .role-column {
    --col-width: 43.2%;
  }

  .actions-column {
    --col-width: 13.6%;
  }

  @media (min-width: $md) {
    .name-column,
    .role-column {
      --col-width: 37.9%;
    }

    .status-column {
      display: table-cell;
      --col-width: 14.2%;
    }

    .actions-column {
      --col-width: 10%;
    }
  }

  @media (min-width: $lg) {
    .email-column {
      display: table-cell;
    }

    .name-column,
    .email-column,
    .role-column {
      --col-width: 26.6%;
    }

    .status-column {
      --col-width: 11.9%;
    }

    .actions-column {
      --col-width: 8.3%;
    }
  }

  @media (min-width: $xxl) {
    .name-column,
    .email-column,
    .role-column {
      --col-width: 27.8%;
    }

    .status-column {
      --col-width: 9.9%;
    }

    .actions-column {
      --col-width: 6.7%;
    }
  }
}
