<p-toast></p-toast>
<p-toolbar styleClass="mb-4">
  <ng-template pTemplate="left">
    <h1>Manage Users</h1>
  </ng-template>
  <ng-template pTemplate="right">
    <button pButton pRipple label="Add User" icon="pi pi-plus" class="p-button" (click)="addItem()"></button>
  </ng-template>
</p-toolbar>
<p-divider></p-divider>
<p-card>
  <p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
      <h1>Existing Users</h1>
    </ng-template>
  </p-toolbar>

  <p-table
    #dt
    [value]="items"
    [lazy]="true"
    (onLazyLoad)="loadTableItems($event)"
    responsiveLayout="scroll"
    dataKey="id"
    [selection]="selectedItems"
    (selectionChange)="onSelectionChange($event)"
    [selectAll]="selectAll"
    (selectAllChange)="onSelectAllChange($event)"
    [paginator]="true"
    [rows]="10"
    [totalRecords]="totalItems"
    [loading]="loading"
    [globalFilterFields]="['first_name', 'last_name', 'email', 'role', 'is_active']"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} users"
    [showCurrentPageReport]="true"
    sortField="created"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h3 class="m-0">Existing Users</h3>
      </div>
    </ng-template>
    <ng-template pTemplate="sorticon" let-sortOrder>
      <app-table-sort-icon [sortOrder]="sortOrder"></app-table-sort-icon>
    </ng-template>
    <ng-template pTemplate="header">
      <tr role="row">
        <th pSortableColumn="name" id="name-column" role="columnheader">Name <p-sortIcon field="name"></p-sortIcon></th>
        <th pSortableColumn="email" id="email-column" role="columnheader">
          Email <p-sortIcon field="email"></p-sortIcon>
        </th>
        <th pSortableColumn="role" id="role-column" role="columnheader">Role <p-sortIcon field="role"></p-sortIcon></th>
        <th pSortableColumn="is_active" id="active-column" role="columnheader">
          Status <p-sortIcon field="is_active"></p-sortIcon>
        </th>
        <th id="buttons" role="columnheader">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr role="row">
        <td>{{ item.name }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.getRoleLabel() }}</td>
        <td>{{ item.is_active ? 'Active' : 'Pending' }}</td>
        <td>
          <app-table-actions-button
            [tableActions]="rowActions"
            [actionItem]="item"
            (tableActionClick)="onRowActionClick($event.action, $event.actionItem)"
            buttonIcon="pi pi-ellipsis-v"
            buttonStyleClass="flex justify-content-center p-button-rounded p-button-primary  p-button-text mr-2"
          ></app-table-actions-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>

<app-committee-member-dialog
  [(detailVisible)]="detailVisible"
  (saveMembership)="saveMembership($event)"
  (detailClose)="detailVisible = false"
></app-committee-member-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
