<ng-template #nameBody let-item> {{ item.name }}{{ isCurrentUser(item) ? ' (You)' : '' }} </ng-template>
<ng-template #roleBody let-item>{{ getRoleLabel(item.role) }}</ng-template>
<ng-template #statusBody let-item>{{ item.is_active ? 'Active' : 'Pending' }}</ng-template>

<ng-template #actionsBody let-item>
  @if (canEditMember(item)) {
    <app-table-actions-button
      (tableActionClick)="$event.action.action($event.actionItem)"
      [actionItem]="item"
      [tableActions]="rowActions"
      buttonIcon="pi pi-ellipsis-v"
      buttonStyleClass="flex justify-content-center p-button-rounded p-button-primary p-button-text mr-2"
    />
  }
</ng-template>

<app-table
  [(first)]="first"
  [items]="items"
  [(totalItems)]="totalItems"
  [loading]="loading"
  sortField="name"
  [(rowsPerPage)]="rowsPerPage"
  [globalFilterFields]="['first_name', 'last_name', 'email', 'role', 'is_active']"
  [(selectedItems)]="selectedItems"
  itemName="users"
  [columns]="columns"
  (loadTableItems)="loadTableItems($event)"
>
  <ng-template #caption>
    <p-toolbar>
      <ng-template #start>
        <h1 class="m-0">Manage users</h1>
      </ng-template>
      <ng-template #end>
        @if (isCommitteeAdministrator()) {
          <button (click)="addItem()" class="add-button" icon="pi pi-plus" label="Add user" pButton pRipple></button>
        }
      </ng-template>
    </p-toolbar>
  </ng-template>
</app-table>

<app-committee-member-dialog
  (detailClose)="detailClose()"
  (userAdded)="userAdded($event)"
  (roleEdited)="roleEdited()"
  [(detailVisible)]="detailVisible"
  [member]="member"
/>
