@use 'mixins' as *;

:host::ng-deep {
  .email-column,
  .status-column {
    display: none;
  }

  .name-column,
  .role-column {
    @include fixed-width(43.2%);
  }

  .actions-column {
    @include fixed-width(13.6%);
  }

  @include breakpoint('md') {
    .name-column,
    .role-column {
      @include fixed-width(37.9%);
    }

    .status-column {
      display: table-cell;
      @include fixed-width(14.2%);
    }

    .actions-column {
      @include fixed-width(10%);
    }
  }

  @include breakpoint('lg') {
    .email-column {
      display: table-cell;
    }

    .name-column,
    .email-column,
    .role-column {
      @include fixed-width(26.6%);
    }

    .status-column {
      @include fixed-width(11.9%);
    }

    .actions-column {
      @include fixed-width(8.3%);
    }
  }

  @include breakpoint('xxl') {
    .name-column,
    .email-column,
    .role-column {
      @include fixed-width(27.8%);
    }

    .status-column {
      @include fixed-width(9.9%);
    }

    .actions-column {
      @include fixed-width(6.7%);
    }
  }
}
