@if (formSubmitted || (control?.invalid && (control?.dirty || (control?.touched && control?.updateOn === 'blur')))) {
  @if (control?.errors?.['required']) {
    <small class="p-error">{{ requiredErrorMessage }}</small>
  }
  @if (control?.errors?.['fecIdMustBeUnique']) {
    <small class="p-error">{{ uniqueFecIdMessage }}</small>
  }
  @if (control?.errors?.['requiredTrue']) {
    <small class="p-error">{{ requiredTrueErrorMessage }}</small>
  }
  @if (control?.errors?.['minlength']) {
    <small class="p-error">{{ minLengthErrorMessage }}</small>
  }
  @if (!control?.errors?.['max'] && control?.errors?.['maxlength']) {
    <small class="p-error">{{ maxLengthErrorMessage }}</small>
  }
  @if (control?.errors?.['min']) {
    <small class="p-error">{{ minErrorMessage }}</small>
  }
  @if (control?.errors?.['max']) {
    <small class="p-error">{{ maxErrorMessage }}</small>
  }
  @if (control?.errors?.['exclusiveMax']) {
    <small class="p-error">{{ exclusiveMaxErrorMessage }}</small>
  }
  @if (control?.errors?.['exclusiveMin']) {
    <small class="p-error">{{ exclusiveMinErrorMessage }}</small>
  }
  @if (control?.errors?.['invaliddate']) {
    <small class="p-error">{{ invalidDateErrorMessage }}</small>
  }
  @if (control?.errors?.['noDateProvided']) {
    <small class="p-error">{{ noDateProvidedErrorMessage }}</small>
  }
  @if (control?.errors?.['noCorrespondingForm3X']) {
    <small class="p-error">{{ noCorrespondingForm3XErrorMessage }}</small>
  }
  @if (!control?.errors?.['maxlength'] && !control?.errors?.['required'] && control?.errors?.['email']) {
    <small class="p-error">{{ emailErrorMessage }}</small>
  }
  @if (control?.errors?.['isAfter']) {
    <small class="p-error">{{ isAfterMessage }}</small>
  }
  @if (control?.errors?.['duplicateName']) {
    <small class="p-error">{{ duplicateNameErrorMessage }}</small>
  }
  @if (
    !control?.errors?.['required'] &&
    !control?.errors?.['minlength'] &&
    !control?.errors?.['maxlength'] &&
    !control?.errors?.['min'] &&
    !control?.errors?.['max'] &&
    !control?.errors?.['exclusiveMax'] &&
    !control?.errors?.['exclusiveMin'] &&
    !control?.errors?.['invaliddate'] &&
    !control?.errors?.['isAfter'] &&
    control?.errors?.['pattern']
  ) {
    <small class="p-error">{{ patternErrorMessage }}</small>
  }
}
