.p-field-checkbox > .p-disabled {
  opacity: 1;
  color: #999999;
}

:host ::ng-deep {
  .p-disabled > .p-radiobutton {
    opacity: 0.65;
  }

  .dialog-button {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

#coverage {
  margin-bottom: 32px;
  & app-date-input {
    margin-bottom: 0;
  }
}

legend {
  padding: 0;
  margin-bottom: 8px;
}

#report-type-heading,
#coverage-heading {
  font-size: 24px;
  line-height: 1.2;
  font-family: var(--gandhi-bold);
  margin-bottom: 32px;
}

fieldset.grid-form {
  padding-bottom: 32px;
  border-bottom: 2px solid;
}
