.p-field-checkbox > .p-disabled {
  opacity: 1;
  color: #999999;
}

:host ::ng-deep {
  .p-disabled > .p-radiobutton {
    opacity: 0.65;
  }

  .dialog-button {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

#coverage {
  margin-bottom: 24px;
  & app-date-input {
    margin-bottom: 0;
  }
}
