<div [formGroup]="form">
  <div class="grid">
    <div class="col-6">
      <div class="field">
        <label for="street_1">STREET ADDRESS</label>
        <input
          [formControlName]="streetOneFieldName"
          [ngClass]="{ readonly: this.readonly }"
          [readonly]="readonly"
          id="street_1"
          pInputText
          type="text"
        />
        <app-error-messages
          [fieldName]="streetOneFieldName"
          [formSubmitted]="formSubmitted"
          [form]="form"
        ></app-error-messages>
      </div>
    </div>
    <div class="col-6">
      <div class="field">
        <label for="street_2">APARTMENT, SUITE, ETC. (OPTIONAL)</label>
        <input
          [formControlName]="streetTwoFieldName"
          [ngClass]="{ readonly: this.readonly }"
          [readonly]="readonly"
          id="street_2"
          pInputText
          type="text"
        />
        <app-error-messages
          [fieldName]="streetTwoFieldName"
          [formSubmitted]="formSubmitted"
          [form]="form"
        ></app-error-messages>
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="col-6">
      <div class="field">
        <label for="city">CITY</label>
        <input
          [formControlName]="cityFieldName"
          [ngClass]="{ readonly: this.readonly }"
          [readonly]="readonly"
          id="city"
          pInputText
          type="text"
        />
        <app-error-messages
          [fieldName]="cityFieldName"
          [formSubmitted]="formSubmitted"
          [form]="form"
        ></app-error-messages>
      </div>
    </div>
    <div class="col-3">
      <div class="field">
        <label for="state">STATE/PROVINCE</label>
        <p-dropdown
          [autoDisplayFirst]="false"
          [disabled]="this.readonly"
          [formControlName]="stateFieldName"
          [options]="stateOptions"
          [readonly]="readonly"
          appendTo="body"
          inputId="state"
          styleClass="{{ this.readonly ? 'readonly' : '' }}"
        ></p-dropdown>
        <app-error-messages
          [fieldName]="stateFieldName"
          [formSubmitted]="formSubmitted"
          [form]="form"
        ></app-error-messages>
      </div>
    </div>
    <div class="col-3">
      <div class="field">
        <label for="zip">ZIP/POSTAL CODE</label>
        <input
          [formControlName]="zipFieldName"
          [ngClass]="{ readonly: this.readonly }"
          [readonly]="readonly"
          id="zip"
          pInputText
          type="text"
        />
        <app-error-messages
          [fieldName]="zipFieldName"
          [formSubmitted]="formSubmitted"
          [form]="form"
        ></app-error-messages>
      </div>
    </div>
  </div>
</div>
