<div [formGroup]="form">
  <div class="grid">
    <div class="col-6">
      <div class="field">
        <label for="street_1">STREET ADDRESS</label>
        <input type="text" pInputText id="street_1" [formControlName]="templateMap['street_1']" />
        <app-error-messages
          [form]="form"
          [fieldName]="templateMap['street_1']"
          [formSubmitted]="formSubmitted"
        ></app-error-messages>
      </div>
    </div>
    <div class="col-6">
      <div class="field">
        <label for="street_2">APARTMENT, SUITE, ETC. (OPTIONAL)</label>
        <input type="text" pInputText id="street_2" [formControlName]="templateMap['street_2']" />
        <app-error-messages
          [form]="form"
          [fieldName]="templateMap['street_2']"
          [formSubmitted]="formSubmitted"
        ></app-error-messages>
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="col-6">
      <div class="field">
        <label for="city">CITY</label>
        <input type="text" pInputText id="city" [formControlName]="templateMap['city']" />
        <app-error-messages
          [form]="form"
          [fieldName]="templateMap['city']"
          [formSubmitted]="formSubmitted"
        ></app-error-messages>
      </div>
    </div>
    <div class="col-3">
      <div class="field">
        <label for="state">STATE/PROVINCE</label>
        <p-dropdown
          inputId="state"
          [formControlName]="templateMap['state']"
          [options]="stateOptions"
          [autoDisplayFirst]="false"
          appendTo="body"
        ></p-dropdown>
        <app-error-messages
          [form]="form"
          [fieldName]="templateMap['state']"
          [formSubmitted]="formSubmitted"
        ></app-error-messages>
      </div>
    </div>
    <div class="col-3">
      <div class="field">
        <label for="zip">ZIP/POSTAL CODE</label>
        <input type="text" pInputText id="zip" [formControlName]="templateMap['zip']" />
        <app-error-messages
          [form]="form"
          [fieldName]="templateMap['zip']"
          [formSubmitted]="formSubmitted"
        ></app-error-messages>
      </div>
    </div>
  </div>
</div>
