<div [formGroup]="form()">
  <div class="grid">
    <div class="col-6">
      <div class="field">
        <label for="street_1">STREET ADDRESS</label>
        <input
          type="text"
          pInputText
          id="street_1"
          [formControlName]="streetOneFieldName()"
          [readonly]="readonly()"
          [class.readonly]="readonly()"
        />
        <app-error-messages [form]="form()" [fieldName]="streetOneFieldName()" [formSubmitted]="formSubmitted()" />
      </div>
    </div>
    <div class="col-6">
      <div class="field">
        <label for="street_2">APARTMENT, SUITE, ETC. <span class="paren-label">(OPTIONAL)</span></label>
        <input
          type="text"
          pInputText
          id="street_2"
          [formControlName]="streetTwoFieldName()"
          [readonly]="readonly()"
          [class.readonly]="readonly()"
        />
        <app-error-messages [form]="form()" [fieldName]="streetTwoFieldName()" [formSubmitted]="formSubmitted()" />
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="col-6">
      <div class="field">
        <label for="city">CITY</label>
        <input
          type="text"
          pInputText
          id="city"
          [formControlName]="cityFieldName()"
          [readonly]="readonly()"
          [class.readonly]="readonly()"
        />
        <app-error-messages [form]="form()" [fieldName]="cityFieldName()" [formSubmitted]="formSubmitted()" />
      </div>
    </div>
    <div class="col-3">
      <div class="field">
        <span id="state-label" class="span-label">STATE/PROVINCE</span>
        <p-select
          inputId="state"
          [formControlName]="stateFieldName()"
          [options]="stateOptions"
          [autoDisplayFirst]="false"
          appendTo="body"
          [readonly]="readonly()"
          styleClass="{{ readonly() ? 'readonly' : '' }}"
          fluid
        />
        <app-error-messages [form]="form()" [fieldName]="stateFieldName()" [formSubmitted]="formSubmitted()" />
      </div>
    </div>
    <div class="col-3">
      <div class="field">
        <label for="zip">ZIP/POSTAL CODE</label>
        <input
          type="text"
          pInputText
          id="zip"
          [formControlName]="zipFieldName()"
          [readonly]="readonly()"
          [class.readonly]="readonly()"
        />
        <app-error-messages [form]="form()" [fieldName]="zipFieldName()" [formSubmitted]="formSubmitted()" />
      </div>
    </div>
  </div>
</div>
