<div class="field">
  <label [class]="labelClass()" [id]="selectId().label" [for]="selectId().id">
    {{ label() }}
    @if (optionalLabel()) {
      <span class="paren-label">(OPTIONAL)</span>
    }
  </label>
  <div class="select-wrapper">
    <select
      #selectElement
      [ngModel]="value"
      [id]="selectId().id"
      (ngModelChange)="change($event)"
      [disabled]="disabled"
      (blur)="onTouched()"
    >
      <button [attr.aria-labelledby]="selectId().label">
        <selectedcontent #selected></selectedcontent>
      </button>
      @for (option of options(); track option.value) {
        <option [ngValue]="option.value">
          @if (customTemplate()) {
            <ng-container *ngTemplateOutlet="customTemplate(); context: { $implicit: option }"></ng-container>
          } @else {
            {{ option.label }}
          }
        </option>
      }
    </select>
    @if (showClear() && value !== null && value !== undefined && !disabled) {
      <button type="button" class="select-clear-button" aria-label="Clear selection" (click)="clear($event)">
        <i class="pi pi-times"></i>
      </button>
    }
  </div>
  @if (includeErrorMessages()) {
    <app-error-messages [fieldName]="fieldName" [formSubmitted]="formSubmitted()" />
  }
</div>
