<div class="sidebar">
  <div class="report-info">
    <div class="report-type">{{ formLabel() }}</div>
    <div class="sub-heading">{{ subHeading() }}</div>
    @if (hasCoverage()) {
      <div class="sub-heading">
        {{ coverageFrom() | fecDate }} — <wbr />
        {{ coverageThrough() | fecDate }}
      </div>
    }
    @if (isF24()) {
      <a class="rename-option" (click)="renameForm24()">RENAME</a>
    }
  </div>
  <p-panelMenu [model]="items()" [multiple]="false">
    <ng-template #headericon></ng-template>
  </p-panelMenu>
</div>

<app-rename-f24-dialog [(dialogVisible)]="renameF24DialogVisible" [f24Report]="this.form24ToUpdate" />
