.sidebar {
  background-color: transparent;
  color: white;
}

.report-info {
  margin-bottom: 64px;
  font-family: var(--karla);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: right;
}

.report-info .report-type {
  font-size: 36px;
  font-family: var(--gandhi-bold);
  line-height: 1;
}

.sub-heading {
  font-size: 14px;
  text-transform: uppercase;
}

.rename-option {
  border-bottom: 1px dotted white;
}
