.sidebar {
  background-color: #1a4f82;
  color: white;
}

.title {
  margin-bottom: 4vw;
}

.title .site-name {
  font-size: 2.5em;
}

.report-info {
  margin-bottom: 3vw;
}

.report-info .title-2 {
  border-bottom: 1px solid white;
  margin-bottom: 1vw;
}

.report-info .report-type {
  font-size: 1.5em;
}
