.iti__flag {
  background-image: url('../../../../assets/img/intl-tel-input-flags.png');
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {
    background-image: url('../../../../assets/img/intl-tel-input-flags@2x.png');
  }
}

input {
  height: 44px;
  margin-bottom: 20px;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #c7cace;
  border-radius: 4px;
  font-size: 18px;
}
