.management-tool {
  width: 800px;
}

.justify-content-right {
  justify-content: right;
}

.justify-content-between {
	justify-content: space-between;
}

.flex {
  display: flex;
}

.max-width {
  width: 100%;
}

.p-disabled,
.p-component:disabled,
.p-select:disabled {
  opacity: 1;
  background: #f1f1f1;
  border: 2px solid gray;
  color: black;
}