left-side {
    flex-direction: column;
}
right-side {
    flex-direction: column;
}
select-committee-box {
    background-color: #f1f1f1;
}
select-committee-columns{
    display: flex;
    flex-direction: row;
}
create-committee-card {
    background-color: #f1f1f1;
}