<div class="flex select-committee-columns">
  <div class="col-6 left-side">
    <h1>Get started now</h1>
    <h5 class="font-karla-bold">LET'S FILE YOUR FEC REPORT WITH FECFILE...</h5>
    <hr type="solid" />

    <img src="assets/img/Get started now.jpg" draggable="false" alt="Workers checking a monitor" />
  </div>
  <div class="col-6 right-side">
    <div class="select-committee-box">
      <h2>Select a committee account</h2>
      <ng-container *ngIf="committees?.length === 0">
        <div class="committee-card empty-card">
          <div class="empty-lens-img">
            <img alt="Magnifying lens" src="assets/img/magnifying_lens.svg" />
          </div>
          <div class="empty-verbiage">
            <p class="font-karla-bold">Not currently active in any FECFile committee accounts</p>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="committees?.length">
        <div class="committee-list">
          <div class="committee-card" *ngFor="let committee of committees" (click)="activateCommittee(committee)">
            <img alt="Document with magnifying lens" src="assets/img/document-with-lens.svg" />
            <div class="committee-info">
              <h3>
                <span>{{ committee.name }}</span>
              </h3>
              <h5 class="font-karla-bold">{{ committee.committee_id }}</h5>
            </div>
          </div>
        </div>
      </ng-container>
      <h5 class="font-karla-bold">LOOKING FOR AN EXISTING FECFILE COMMITTEE ACCOUNT?</h5>
      Contact the administrator for that committee.
    </div>
    <div class="create-committee-card font-karla-bold" routerLink="/login/create-committee">
      <div class="blue-box">
        <div class="plus">
          <img src="assets/img/blue-plus.png" />
        </div>
      </div>

      <div class="font-karla-bold create-text">create a new committee account</div>
    </div>
  </div>
</div>
