.grid {
  margin: 0;
}

.p-panel .p-panel-header,
.p-sidebar {
  background-color: #164f85;
  color: white;
}

.p-panel-content a {
  color: black;
  text-decoration: none;
  border-bottom: 1px black dotted;
}

.p-dialog .p-dialog-header,
.p-dialog .p-dialog-footer {
  background-color: #eee;
}

li {
  list-style-type: none;
}

.ng-submitted .p-inputtext.ng-invalid,
.p-inputtext.ng-invalid.ng-touched,
.ng-submitted p-dropdown.ng-invalid div.p-dropdown,
p-dropdown.ng-invalid.ng-touched div.p-dropdown,
.ng-submitted p-inputnumber.ng-invalid input.p-inputtext,
p-inputnumber.ng-invalid.ng-touched input.p-inputtext,
.ng-submitted p-calendar.ng-invalid input.p-inputtext,
p-calendar.ng-invalid.ng-touched input.p-inputtext {
  border-color: #dc3545;
}

label.disabled {
  color: rgba(118, 118, 118, 0.3);
}

.bold {
  font-weight: bolder;
}

.readonly {
  background-color: #f1f1f1;
}

.memo-checkbox-note {
  padding-left: 28px;
  padding-bottom: 10px;
}
