.grid {
  margin: 0;
}

.p-panel .p-panel-header,
.p-sidebar {
  background-color: #164f85;
  color: white;
}

.p-panel-content a {
  color: black;
  text-decoration: none;
  border-bottom: 1px black dotted;
}

.p-dialog .p-dialog-header,
.p-dialog .p-dialog-footer {
  background-color: #eee;
}

li {
  list-style-type: none;
}

.ng-submitted .p-inputtext.ng-invalid,
.p-inputtext.ng-invalid.ng-touched {
  border-color: #dc3545;
}
