@import './shared/scss/global';

.container {
  @include make-container();
  padding: 0;
}

#sidebar-container {
  min-height: calc(100vh - 2rem);
}

.main-content {
  margin: 0;
  padding: 0;
}

.header-container {
  padding-bottom: 5px;
  padding-top: 0;
}

.row {
  margin: 0;
}

.footer-full {
  position: absolute;
  width: 100%;
}

.footer-sidebar {

}

app-footer {
  padding: 0;
}


#page-container {
  position: relative;
  min-height: 100vh;
}

.content-offset {
  padding-bottom: 314px;
}

.header-container {
  padding-bottom: 5px;
  padding-top: 0;
}

.row {
  margin: 0;
}

.sidebar-content-container {
  min-height: calc(100vh - 2rem);
  height: calc(100vh - 2rem);
  width: 100%;
  display: flex;
  flex-direction: column;
}