<div id="page-container" [class]="[layoutControls().backgroundStyle]">
  <app-banner #bannerRef />
  @if (layoutControls().showHeader) {
    <div class="header-container">
      <app-header [headerStyle]="layoutControls().headerStyle" />
    </div>
  }
  @if (layoutControls().useServiceUnavailableLoginBanner && serviceAvailable() !== true) {
    <app-service-unavailable-banner />
  }

  <!--  Begin Sidebar section -->
  @if (layoutControls().showSidebar && layoutService.showSidebar()) {
    <div class="inline-flex w-100">
      <div class="fec-background-color flex-shrink-1" id="sidebar-container">
        <app-drawer />
      </div>
      <div class="sidebar-content-container">
        <div class="main-content">
          @if (layoutControls().showCommitteeBanner) {
            <app-committee-banner />
          }
          <div class="router-outlet">
            <router-outlet></router-outlet>
          </div>
        </div>
        <div class="flex-grow-1 flex flex-column">
          <div class="flex-grow-1 footer-spacer"></div>
          <app-footer [showSidebar]="true" />
        </div>
      </div>
    </div>
  }

  <!--  End Sidebar section -->

  <!-- Begin No Sidebar section -->
  @else {
    <div
      id="content-offset"
      #contentOffset
      [style.marginBottom]="isCookiesDisabled() ? '-100px' : '0px'"
      [style.marginTop]="marginTop()"
    >
      <div class="main-content">
        @if (layoutControls().showCommitteeBanner) {
          <app-committee-banner />
        }
        @if (isDefault()) {
          <div class="container">
            <router-outlet></router-outlet>
          </div>
        } @else {
          <router-outlet></router-outlet>
        }
      </div>
    </div>
    <app-footer #footerRef [showUpperFooter]="layoutControls().showUpperFooter" [style.paddingTop]="topPadding()" />
  }
  <!-- End No Sidebar section -->

  @if (layoutControls().showFeedbackButton) {
    <button
      type="button"
      pButton
      pRipple
      label="Feedback"
      class="p-button-info feedback-button"
      (click)="feedbackOverlay().show($event)"
    ></button>
  }

  <app-feedback-overlay />
</div>
@if (useDynamicSidebar) {
  <button (click)="toggleSidebar()">Toggle Sidebar</button>
}

@if (!layoutControls().useServiceUnavailableLoginBanner && serviceAvailable() === false) {
  <app-dialog
    aria-labelledby="dialog-title"
    title="We've detected a problem"
    [showTitleWarning]="true"
    [visible]="true"
    [noInput]="true"
  >
    <p class="font-karla mb-3">
      FECfile+ is experiencing an issue. Previously saved work should not be affected. Please close all instances of
      FECfile+ in your browser and attempt to log back in via the login page.
    </p>
    <p class="font-karla mb-0">We apologize for the inconvenience.</p>
  </app-dialog>
}
