$sidebar-width: 284px;

#sidebar-container {
  height: fit-content;
  width: $sidebar-width;
  min-width: $sidebar-width;
  max-width: $sidebar-width;
  padding: 64px 24px 32px 24px;
  position: sticky;
  top: var(--header-total);
  transition: var(--header-transition);
  z-index: 999;
  overflow-y: auto;
}

#page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: min-content;
  max-width: 100vw;
}

#content-offset {
  flex: 1;
  display: flex;
  flex-direction: column;
  transition: margin-top 0.3s ease-in-out;
}

.main-content {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.sidebar-content-container app-header {
  padding: 0;
  padding-bottom: var(--header-total);
}

.row {
  margin: 0;
}

app-footer {
  padding: 0;
}

.footer-spacer {
  min-height: 64px;
}

.sidebar-content-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  margin-top: 0;
  transition:
    margin-top 0.3s ease-in-out,
    min-height 0.3s ease-in-out;
  padding-top: 64px;
  & > .main-content {
    margin: 0 0 64px 32px;
  }
}

.login-background {
  background-color: #ffffff;
  max-height: 100vh;
}

.security-notice-background {
  background-image: linear-gradient(90deg, #1a4f82, #ffffff00), url('/assets/img/security-notice-flag-background.jpg');
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  background-position-x: 0px, 100%;

  & > #content-offset {
    margin-top: var(--header-top);
    padding-top: 0 !important ;

    & > .main-content {
      margin: 0;
      width: 100%;
    }
  }
}

app-banner {
  position: sticky;
  top: 0;
  z-index: 1001;
}

app-header {
  position: sticky;
  top: var(--header-top);
  transition: var(--header-transition);
  z-index: 1000;
}
