<div id="page-container" [class]="[layoutControls().backgroundStyle]">
  <app-banner #bannerRef />
  @if (layoutControls().showHeader) {
    <div class="header-container">
      <app-header [headerStyle]="layoutControls().headerStyle" />
    </div>
  }
  @if (layoutControls().useServiceUnavailableLoginBanner && serviceAvailable() !== true) {
    <app-service-unavailable-banner />
  }

  <!--  Begin Sidebar section -->
  @if (layoutControls().sidebar === Sidebar.Report && layoutService.showSidebar()) {
    <div class="inline-flex w-100">
      <div
        [class]="layoutControls().sidebar === Sidebar.Security ? 'gray' : 'fec-background-color'"
        class="flex-shrink-1"
        id="sidebar-container"
      >
        <app-report-sidebar />
      </div>
      <div class="sidebar-content-container">
        <div class="main-content standard-container">
          @if (layoutControls().showCommitteeBanner) {
            <app-committee-banner />
          }
          <div class="router-outlet">
            <router-outlet></router-outlet>
          </div>
        </div>
        <div class="flex-grow-1 flex flex-column">
          <div class="flex-grow-1 footer-spacer"></div>
          <app-footer [showSidebar]="true" />
        </div>
      </div>
    </div>
  } @else if (layoutControls().sidebar === Sidebar.Security) {
    <div class="inline-flex w-100">
      <div class="flex-shrink-1 gray" id="sidebar-container">
        <app-security-notice-sidebar />
      </div>
      <div class="sidebar-content-container">
        <div class="router-outlet">
          <router-outlet></router-outlet>
        </div>
        <div class="flex-grow-1 flex flex-column">
          <div class="flex-grow-1 footer-spacer"></div>
          <app-footer [showSidebar]="true" />
        </div>
      </div>
    </div>
  }

  <!--  End Sidebar section -->

  <!-- Begin No Sidebar section -->
  @else {
    <div
      id="content-offset"
      #contentOffset
      [style.marginBottom]="isCookiesDisabled() ? '-100px' : '0px'"
      [style.paddingTop]="topPadding()"
    >
      <div class="main-content" [class.standard-container]="isDefault()">
        @if (layoutControls().showCommitteeBanner) {
          <app-committee-banner />
        }
        @if (isDefault()) {
          <div class="container">
            <router-outlet></router-outlet>
          </div>
        } @else {
          <router-outlet></router-outlet>
        }
      </div>
    </div>
    <app-footer
      #footerRef
      [showUpperFooter]="layoutControls().showUpperFooter"
      [style.paddingTop]="footerTopPadding()"
    />
  }
  <!-- End No Sidebar section -->

  @if (layoutControls().showFeedbackButton) {
    <app-feedback-overlay />
  }
</div>

@if (!layoutControls().useServiceUnavailableLoginBanner && serviceAvailable() !== true) {
  <app-dialog
    aria-labelledby="dialog-title"
    title="We've detected a problem"
    [showTitleWarning]="true"
    [visible]="true"
    [noInput]="true"
    [closeOnEscape]="false"
  >
    <p class="karla mb-3">
      FECfile+ is experiencing an issue. Previously saved work should not be affected. Please close all instances of
      FECfile+ in your browser and attempt to log back in via the login page.
    </p>
    <p class="karla mb-0">We apologize for the inconvenience.</p>
  </app-dialog>
}
