<app-banner></app-banner>
<div class="grid flex-nowrap">
  <ng-container *ngIf="sidebarState$ | async">
    <div class="col-fixed fec-background-gradient">
      <app-sidebar></app-sidebar>
    </div>
  </ng-container>
  <div class="col no-padding">
    <div class="col-12 header-container">
      <app-header [showLogo]="(sidebarState$ | async) === undefined"></app-header>
    </div>
    <div class="col no-padding">
      <div class="grid committee-banner">
        <div class="col">
          <h1>
            {{ (committeeAccount$ | async)?.committee_id }}
          </h1>
        </div>
        <div class="col">
          <h2>
            {{ (committeeAccount$ | async)?.name }}
          </h2>
        </div>
        <div class="col">
          <h2>
            {{ (committeeAccount$ | async)?.committee_type_full }}
          </h2>
        </div>
      </div>
      <div class="grid">
        <div class="col-12">
          <div *ngIf="progressBarVisible$ | async">
            <p-progressBar mode="indeterminate"></p-progressBar>
          </div>
        </div>
      </div>
      <div class="grid">
        <div class="col-12 router-outlet">
          <router-outlet></router-outlet>
        </div>
      </div>
      <div class="grid">
        <div class="col-12 no-padding">
          <app-footer></app-footer>
        </div>
      </div>
    </div>
  </div>
</div>
