@import '../shared/scss/global';

.app-container {
  background-color: white;
  color: $mineShaft;
  font-family: $mainFontFamily;
  min-height: 100vh;
  overflow-y: hidden;
  transition: all 0.4s ease 0s;
  &.active {
    padding-left: 0;
    @include media(tablet) {
      padding-left: 0;
    }
    @include media(mediumDesktop) {
      padding-left: 220px;
      overflow-x: hidden;
    }
    @include media(largeDesktop) {
      padding-left: 220px;
      overflow-x: hidden;
    }
    .app__side-nav {
      left: 0;
    }
    main {
      .app__content-wrapper {
        padding-left: 10px;
        .app__content {
          clear: left;
          margin-left: 50px;
          width: 95%;
        }
      }
    }
    footer {
      .app__footer {
        padding-left: 80px;
        @include media(tablet) {
          padding-left: 100px;
        }
        @include media(mediumDesktop) {
          padding-left: 80px;
        }
        @include media(largeDesktop) {
          padding-left: 80px;
        }
      }
    }
  }
  &.dashboard.active {
    padding-left: 0;
    @include media(tablet) {
      padding-left: 0;
    }
    @include media(mediumDesktop) {
      padding-left: 240px;
    }
    @include media(largeDesktop) {
      padding-left: 240px;
    }
    .app__side-nav {
      left: 0;
    }
    main {
      .app__content-wrapper {
        padding-right: 20px;
      }
    }
    footer {
      .app__footer {
        font-family: $mainFontFamily;
        font-size: 1.1rem;
        @include media(mediumDesktop) {
          padding-left: 75px;
        }
        @include media(largeDesktop) {
          padding-left: 75px;
        }
        .contact-info {
          width: $footerContactInfoWidth;
        }
        .legal-disclaimer {
          width: $footerLegalDisclaimerWidth;
        }
      }
    }
  }

  main {
    height: 80%;
    .app__content-wrapper {
      background-color: white;
      font-family: $mainFontFamily;
      margin: 0 auto;
      min-height: $mainContentHeight;
      padding-left: 40px;
      padding-top: 60px;
      transition: all 0.4s ease 0s;
      z-index: 0;
      .app__committee-info {
        background-color: white;
        margin-bottom: 1%;
        height: 150px;
        padding-left: 60px;
        padding-right: 60px;
        padding-top: 35px;
        position: relative;
        vertical-align: bottom;
        border-bottom: 1px solid black;
        @include media(tablet) {
          height: 100%;
          padding-top: 10px;
        }
        @include media(mediumDesktop) {
          height: 100%;
          padding-top: 10px;
        }
        @include media(largeDesktop) {
          height: 100%;
          padding-top: 10px;
        }
        .committee-name,
        .committee-id {
          display: inline-block;
          position: relative;
        }
        .committee-id {
          font-family: $mainFontFamily;
          margin-right: 25px;
        }
        .committee-name {
          font-family: $mainFontFamily;
        }
        .btn-edit {
          color: $black;
          text-decoration: none;
          &:hover,
          &:visited,
          &:active {
            color: black;
            text-decoration: none;
          }
        }
        @include clearfix();
      }
      .app__content {
        background-color: $white;
        margin: 0 auto;
        min-height: $mainContentHeight;
        width: 98%;
      }
    }
  } // main
  .app__footer {
    background-color: $alto;
    color: $black;
    height: $footerMobileHeight;
    margin-top: 5px;
    padding-top: 1%;
    // overflow-y: hidden;
    padding-left: 80px;
    @include media(tablet) {
      height: $footerMobileHeight;
      padding-left: 100px;
    }
    @include media(mediumDesktop) {
      height: $footerDesktopHeight;
      padding-left: 70px;
    }
    @include media(largeDesktop) {
      height: $footerDesktopHeight;
      padding-left: 70px;
    }
    .contact-info {
      float: left;
      width: $footerContactInfoWidth;
      .contact-info__item {
        font-size: 1.21269rem;
        display: block;
        @include media(tablet) {
          display: block;
          padding-right: 0px;
        }
        @include media(mediumDesktop) {
          display: inline-block;
          padding-right: 0px;
        }
        @include media(largeDesktop) {
          display: inline-block;
          padding-right: 100px;
        }

        padding-left: 10px;
        &:last-child {
          padding-right: 0;
        }
        address {
          font-style: normal;
          font-weight: normal;
          a {
            border-bottom: 1px dotted black;
            color: black;
          }
          a:hover {
            border-bottom: 1px dotted $pelorous;
            text-decoration: none;
            color: $pictonBlue;
          }
        }
        /* a {
          color: $pictonBlue;
          text-decoration: none;
          &:hover,
          &:active,
          &:visited {
            color: $pictonBlue;
          }
          &:hover,
          &:active {
            text-decoration: underline;
          }
        } */
      }
    }
    .legal-disclaimer {
      float: left;
      text-align: right;
      padding-right: 20px;
      width: $footerLegalDisclaimerWidth;
      font-style: normal;
      font-weight: normal;
      .btn-link {
        padding: 0;
        margin: 0;
        border-bottom: 1px dotted black;
        // color: $pictonBlue;
        &:hover,
        &:active,
        &:visited {
          //color: $pictonBlue;
          text-decoration: none;
          border-bottom: 1px dotted $pictonBlue;
          color: $pictonBlue;
        }
      }
    }
    @include clearfix();
  }
} // .app-container
.modal-dialog {
  color: $black;
}
