#sidebar-container {
  min-height: calc(100vh - 2rem);
  padding-left: 24px;
  padding-right: 24px;
  width: 284px;
  min-width: 284px;
  max-width: 284px;
}

#page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#content-offset {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main-content {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.sidebar-content-container > .main-content {
  margin-left: 32px;
  margin-right: 0;
  width: calc(100% - 64px);
}

.header-container {
  padding: 0;
}

.row {
  margin: 0;
}

app-footer {
  padding: 0;
}

.footer-spacer {
  min-height: 64px;
}

.sidebar-content-container {
  min-height: calc(100vh - 2rem);
  width: calc(100% - 250px);
  display: flex;
  flex-direction: column;
  padding-top: 64px;
}

.login-background {
  background-color: #ffffff;
  max-height: 100vh;
}

.security-notice-background {
  background-image: linear-gradient(90deg, #1a4f82, #ffffff00), url('/assets/img/security-notice-flag-background.jpg');
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  background-position-x: 0px, 90%;
}

.feedback-button {
  position: fixed;
  bottom: 0;
  right: 32px;
  z-index: 1103;
  color: black;
  border-radius: 4px 4px 0px 0px;
}

.feedback-button:enabled:hover {
  color: black;
}
