
#sidebar-container {
  min-height: calc(100vh - 2rem);
}

.main-content {
  margin: 0;
  padding: 0;
}

.header-container {
  padding-bottom: 5px;
  padding-top: 0;
}

.row {
  margin: 0;
}

.footer-full {
  position: absolute;
  width: 100%;
}

app-footer {
  padding: 0;
}


#page-container {
  position: relative;
  min-height: 100vh;
}

.content-offset {
  padding-bottom: 314px;
}

.sidebar-content-container {
  min-height: calc(100vh - 2rem);
  width: 100%;
  display: flex;
  flex-direction: column;
}

.login-background {
	background-color: #ece8e8;
  max-height: 100vh;
}

.security-notice-background {
  background-image: linear-gradient(90deg, #1a4f82, #ffffff00), url('/assets/img/security-notice-flag-background.jpg');
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  background-position-x: 0px, 90%;
}

.feedback-button {
  position: fixed;
  bottom: 0;
  right: 32px;
  z-index: 99;
  color: black;
}

.feedback-button:enabled:hover {
  color: black;
}