<div class="grid">
  <div class="grid col-6 cancel-controls">
    <ng-template ngFor let-navigationControl [ngForOf]="cancelNavigationControls">
      <div class="col-4">
        <app-navigation-control
          [navigationControl]="navigationControl"
          [transaction]="transaction"
          (navigate)="handleNavigate($event)"
        ></app-navigation-control>
      </div>
    </ng-template>
  </div>
  <div class="grid col-6 continue-controls">
    <ng-template ngFor let-navigationControl [ngForOf]="continueNavigationControls">
      <div class="col-6 align-right">
        <app-navigation-control
          [navigationControl]="navigationControl"
          [transaction]="transaction"
          (navigate)="handleNavigate($event)"
        ></app-navigation-control>
      </div>
    </ng-template>
  </div>
</div>
