.grid {
    justify-content: space-between;
}

.cancel-controls {
    padding: 0px;
    justify-content: flex-start;
}
.continue-controls {
    padding: 0px;
    display: flex;
    justify-content: flex-end;
}