<div class="grid">
  <div class="grid col-6 cancel-controls">
    @for (control of getNavigationControls('cancel'); track control) {
      <div class="col-4">
        <app-navigation-control [navigationControl]="control" [transaction]="transaction()"></app-navigation-control>
      </div>
    }
  </div>
  <div class="grid col-6 continue-controls">
    @for (control of getNavigationControls('continue'); track control) {
      <div class="col-6 align-right">
        <app-navigation-control [navigationControl]="control" [transaction]="transaction()"></app-navigation-control>
      </div>
    }
  </div>
</div>
