.committee-info-footer > .col-12 {
  display: flex;
  justify-content: center;
}

// for long words that would not nicely wrap with overflowss
.long-word-value {
  word-wrap: break-word;
}

input {
  font-family: var(--karla-bold);
  font-size: 14px;
  color: #212121;
  height: 42px;
}

:host ::ng-deep {
  .p-select {
    height: 42px;
  }

  .p-select > .p-inputtext {
    font-family: var(--karla-bold);
    font-size: 14px;
    color: #212121;
  }

  #treasurer_phone,
  #treasurer_phone input {
    height: 42px;
    font-family: var(--karla-bold);
    font-size: 14px;
    color: #212121;
  }

  .p-disabled,
  .p-component:disabled,
  .p-select:disabled {
    opacity: 1;
    background: #f1f1f1;
    border: 2px solid gray;
    color: black;
  }
}

select {
  height: 42px;
  min-height: 42px;
  max-height: 42px;
  font-family: var(--karla-bold);
  font-size: 14px;
}
