<h1>Account information</h1>
<hr type="solid" />
<form id="form" p-disabled [formGroup]="form">
  <div class="grid">
    <div class="col-12">
      <h2>Committee</h2>
    </div>
  </div>
  <div class="grid">
    <div class="col-9">
      <div class="field">
        <label for="name">COMMITTEE NAME</label>
        <input class="p-disabled" type="text" pInputText id="name" formControlName="name" />
      </div>
    </div>
    <div class="col-3">
      <div class="field">
        <label for="committee_id">COMMITTEE ID</label>
        <input class="p-disabled" type="text" pInputText id="committee_id" formControlName="committee_id" />
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="col-6">
      <div class="field">
        <label for="committee_type_label">TYPE OF COMMITTEE</label>
        <input
          class="p-disabled"
          type="text"
          pInputText
          id="committee_type_label"
          formControlName="committee_type_label"
        />
      </div>
    </div>
  </div>
  <hr type="solid" />
  <div class="grid">
    <div class="col-12">
      <h2>Address</h2>
    </div>
  </div>
  <div class="grid">
    <div class="col-6">
      <div class="field">
        <label for="street_1">STREET ADDRESS</label>
        <input class="p-disabled" type="text" pInputText id="street_1" formControlName="street_1" />
      </div>
    </div>
    <div class="col-6">
      <div class="field">
        <label for="street_2">APARTMENT, SUITE, ETC.</label>
        <input class="p-disabled" type="text" pInputText id="street_2" formControlName="street_2" />
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="col-6">
      <div class="field">
        <label for="city">CITY</label>
        <input class="p-disabled" type="text" pInputText id="city" formControlName="city" />
      </div>
    </div>
    <div class="col-3">
      <app-select inputId="state" label="STATE/TERRITORY" [options]="stateOptions" [control]="stateControl" />
    </div>
    <div class="col-3">
      <div class="field">
        <label for="zip">ZIP/POSTAL CODE</label>
        <input class="p-disabled" type="text" pInputText id="zip" formControlName="zip" />
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="col-6 long-word-value">
      <div class="field">
        <label for="email">EMAIL</label>
        <input class="p-disabled" type="text" pInputText id="email" formControlName="email" />
      </div>
    </div>
    <div class="col-6 long-word-value">
      <div class="field">
        <label for="website">WEBSITE</label>
        <input class="p-disabled" type="text" pInputText id="website" formControlName="website" />
      </div>
    </div>
  </div>
  <hr type="solid" />
  <div class="grid">
    <div class="col-12">
      <h2>Treasurer</h2>
    </div>
  </div>
  <div class="grid">
    <div class="col-6">
      <div class="field">
        <label for="treasurer_name_2">LAST NAME</label>
        <input class="p-disabled" type="text" pInputText id="treasurer_name_2" formControlName="treasurer_name_2" />
      </div>
    </div>
    <div class="col-6">
      <div class="field">
        <label for="treasurer_name_1">FIRST NAME</label>
        <input class="p-disabled" type="text" pInputText id="treasurer_name_1" formControlName="treasurer_name_1" />
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="col-6">
      <div class="field">
        <label for="treasurer_street_1">STREET ADDRESS</label>
        <input class="p-disabled" type="text" pInputText id="treasurer_street_1" formControlName="treasurer_street_1" />
      </div>
    </div>
    <div class="col-6">
      <div class="field">
        <label for="treasurer_street_2">APARTMENT, SUITE, ETC.</label>
        <input class="p-disabled" type="text" pInputText id="treasurer_street_2" formControlName="treasurer_street_2" />
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="col-6">
      <div class="field">
        <label for="treasurer_city">CITY</label>
        <input class="p-disabled" type="text" pInputText id="treasurer_city" formControlName="treasurer_city" />
      </div>
    </div>
    <div class="col-3">
      <app-select
        inputId="treasurer_state"
        label="STATE/TERRITORY"
        [options]="stateOptions"
        [control]="treasurerStateControl"
      />
    </div>
    <div class="col-3">
      <div class="field">
        <label for="treasurer_zip">ZIP/POSTAL CODE</label>
        <input class="p-disabled" type="text" pInputText id="treasurer_zip" formControlName="treasurer_zip" />
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="col-3">
      <div class="field">
        <label id="telephone-label" for="treasurer_phone">TELEPHONE</label>
        <app-fec-international-phone-input
          [disabled]="true"
          inputId="treasurer_phone"
          formControlName="treasurer_phone"
          labelName="telephone-label"
        >
        </app-fec-international-phone-input>
      </div>
    </div>
  </div>
  <hr type="solid" />
  <div class="grid">
    <div class="col-12">
      <h2>Custodian</h2>
    </div>
  </div>
  <div class="grid">
    <div class="col-3">
      <div class="field">
        <label for="custodian_name_full">CUSTODIAN OF RECORDS</label>
        <input
          class="p-disabled"
          type="text"
          pInputText
          id="custodian_name_full"
          formControlName="custodian_name_full"
        />
      </div>
    </div>
  </div>
  <hr type="solid" />
  <div class="committee-info-footer grid">
    <div class="col-12">
      <p class="text-center">You can only view your committee's information on this page.</p>
    </div>
    <div class="col-12">
      <div class="px-2">
        <button
          pButton
          label="View full committee info from Form 1"
          class="p-button-secondary"
          (click)="viewForm1()"
        ></button>
      </div>
      <div class="px-2">
        <button
          pButton
          id="update-form-1-link"
          label="Update committee info using Form 1"
          class="p-button-primary"
          (click)="updateForm1()"
        ></button>
      </div>
    </div>
  </div>
</form>
