* {
  --select-border-disabled: 2px solid var(--fec-grey-alt);
  --select-border: 2px solid var(--fec-grey-alt);
  --select-selectedcontent-color: var(--fec-black);
  --select-selectedcontent-font: var(--karla-bold);
  --iti-font-family: var(--karla-bold);
}

.committee-info-footer > .col-12 {
  display: flex;
  justify-content: center;
}

// for long words that would not nicely wrap with overflowss
.long-word-value {
  word-wrap: break-word;
}

input {
  font-family: var(--karla-bold);
  color: var(--fec-black);
}

#treasurer_phone,
#treasurer_phone div {
  font-family: var(--karla-bold);
  color: var(--fec-black);
  opacity: 0.65;
}
