<form id="form" [formGroup]="form()">
  <div class="field">
    <label for="linkedF3x" class="flex">
      <span class="align-content-center">LINKED REPORT</span>
      <span
        class="pi pi-info-circle circle-icon-tooltip"
        pTooltip="{{ tooltipText }}"
        [tooltipOptions]="{
          tooltipPosition: 'top',
        }"
      ></span>
    </label>

    <input type="text" [readonly]="true" class="readonly" pInputText id="linkedF3x" formControlName="linkedF3x" />
    <app-error-messages [control]="form().get('linkedF3x')!" [formSubmitted]="formSubmitted()"></app-error-messages>
  </div>
</form>
