<div>
  <form id="form" [formGroup]="form" class="p-fluid">
    <div class="field">
      <label for="linkedF3x">LINKED REPORT</label>
      <span
        class="pi pi-info-circle circle-icon-tooltip"
        pTooltip="{{ tooltipText }}"
        [tooltipOptions]="{
          tooltipPosition: 'top',
        }"
      ></span>
      <input type="text" [readonly]="true" class="readonly" pInputText id="linkedF3x" formControlName="linkedF3x" />
      <app-error-messages [form]="form" fieldName="linkedF3x" [formSubmitted]="formSubmitted"></app-error-messages>
    </div>
  </form>
</div>
