.report-info {
  margin-bottom: 3vw;
  font-family: var(--karla);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.report-info .title-2 {
  border-bottom: 1px solid white;
  margin-bottom: 1vw;
}

.report-info .report-type {
  font-size: 1.5em;
}

.sub-heading {
  font-size: 0.8em;
}

::ng-deep .p-panelmenu-header-action {
  height: 48px;
  font-weight: bold;
  padding-left: 6px;
}

::ng-deep .p-panelmenu-root-list {
  padding-left: 0px !important;
}

::ng-deep p-panelmenu > div > div > div > div > a > chevrondownicon > .p-submenu-icon {
  visibility: hidden;
}

::ng-deep p-panelmenu > div > div > div > div > a > chevronrighticon > .p-submenu-icon {
  visibility: hidden;
}

::ng-deep .edit-report-menu-item {
  padding-left: 16px;
}
