<p-dialog
  [(visible)]="detailVisible"
  [style]="{ width: '90%' }"
  [header]="isNewItem ? 'Add Contact' : 'Edit Contact'"
  [modal]="true"
  styleClass="p-fluid"
  (onShow)="onOpenDetail()"
  (onHide)="closeDetail()"
>
  <ng-template pTemplate="content">
    <app-contact-form 
    [formSubmitted]="formSubmitted"
    [form]="form">
    </app-contact-form>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="grid">
      <div class="col-1">
        <button
          pButton
          pRipple
          label="Cancel"
          icon="pi pi-times"
          class="p-button-secondary"
          (click)="closeDetail()"
        ></button>
      </div>
      <div class="col-11">
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-primary" (click)="saveItem()"></button>
        <button
          *ngIf="isNewItem"
          pButton
          pRipple
          label="Save & Add More"
          icon="pi pi-check"
          class="p-button-info"
          (click)="saveItem(false)"
        ></button>
      </div>
    </div>
  </ng-template>
</p-dialog>
